{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API v2 — Knowledge Bases",
    "description": "Version 2 of the Sim REST API for knowledge bases, document ingestion, resumable uploads, folders, and semantic or tag-based search.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Knowledge Bases",
      "description": "Create and organize knowledge bases, ingest documents, and search indexed content."
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "oauthBearer": []
    }
  ],
  "paths": {
    "/api/v2/knowledge": {
      "get": {
        "operationId": "listKnowledgeBases",
        "summary": "List Knowledge Bases",
        "description": "List active knowledge bases in a workspace with folder filtering, search, sorting, and cursor pagination. Use `scope=archived` to find knowledge bases available for restoration. Workspace folder trees exceeding 10,000 folders return `413`.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.list",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose knowledge bases should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace whose knowledge bases should be listed."
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Lifecycle scope: active or archived knowledge bases. Use Restore Knowledge Base to recover archived entries. Folder paths resolve only active folders, so filtering by an archived folder returns no matches.",
            "schema": {
              "default": "active",
              "description": "Lifecycle scope: active or archived knowledge bases. Use Restore Knowledge Base to recover archived entries. Folder paths resolve only active folders, so filtering by an archived folder returns no matches.",
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to knowledge bases in this folder. Unknown folder paths contribute no matches.",
            "schema": {
              "description": "Restrict results to knowledge bases in this folder. Unknown folder paths contribute no matches.",
              "$ref": "#/components/schemas/FolderPathInput"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the resource name.",
            "schema": {
              "description": "Case-insensitive substring match against the resource name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
            "schema": {
              "default": "createdAt",
              "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum knowledge bases to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
            "schema": {
              "default": 50,
              "description": "Maximum knowledge bases to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of knowledge bases.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeBaseListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createKnowledgeBase",
        "summary": "Create Knowledge Base",
        "description": "Create a knowledge base in a workspace with optional folder placement and chunking configuration. An unknown `folderPath` returns `404`. Workspace folder trees exceeding 10,000 folders return `413`.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.create",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "requestBody": {
          "required": true,
          "description": "Workspace, name, description, chunking configuration, and folder placement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeBaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created knowledge base.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeBaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}": {
      "get": {
        "operationId": "getKnowledgeBase",
        "summary": "Get Knowledge Base",
        "description": "Get a knowledge base's metadata and document counts. Inaccessible knowledge bases return `404`. Workspace folder trees exceeding 10,000 folders return `413`.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.read",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the knowledge base."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested knowledge base.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeBaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateKnowledgeBase",
        "summary": "Update Knowledge Base",
        "description": "Update a knowledge base's name, description, chunking configuration, or folder placement. Workspace folder trees exceeding 10,000 folders return `413`.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.update",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and fields to update. At least one mutable field is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeBaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated knowledge base.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeBaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteKnowledgeBase",
        "summary": "Delete Knowledge Base",
        "description": "Archive a knowledge base, its documents, and its connectors, pausing synchronization. Use List Knowledge Bases with `scope=archived` to find it and Restore Knowledge Base to recover it.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.delete",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the knowledge base."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base deletion acknowledgement.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/export": {
      "get": {
        "operationId": "exportKnowledgeBase",
        "summary": "Export Knowledge Base",
        "description": "Stream a knowledge base as a bundle archive: its configuration, tag definitions, each workspace-visible document's file and chunk text, and optionally chunk vectors. Access-control lists, connector links, and credentials never leave. More than 2000 documents returns `413`. Exports record an audit event. `HEAD` checks access with the same authorization as `GET` but skips side effects, returning an empty `200` without payload headers on success. `HEAD` omits `Content-Length`; use file metadata to size downloads.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.export",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "vectors",
            "in": "query",
            "required": false,
            "description": "Include chunk vectors so an import into a deployment with the same embedding model reuses them instead of re-embedding.",
            "schema": {
              "description": "Include chunk vectors so an import into a deployment with the same embedding model reuses them instead of re-embedding.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The knowledge base as a zip archive.",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/Content-Disposition"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/connectors": {
      "get": {
        "operationId": "listKnowledgeConnectors",
        "summary": "List Knowledge Connectors",
        "description": "List external sources connected to a knowledge base with cursor pagination. Stored API keys are never returned. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.connectors.list",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result.",
            "schema": {
              "default": "createdAt",
              "description": "Field used to sort the result.",
              "type": "string",
              "enum": ["connectorType", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "desc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum connectors to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
            "schema": {
              "default": 50,
              "description": "Maximum connectors to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of knowledge connectors.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createKnowledgeConnector",
        "summary": "Create Knowledge Connector",
        "description": "Validate and connect an external source, then queue its initial synchronization. The `apiKey` field is never returned. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.connectors.create",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace, connector type, authentication reference, source configuration, and sync schedule.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created connector without secret material.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/connectors/{connectorId}": {
      "get": {
        "operationId": "getKnowledgeConnector",
        "summary": "Get Knowledge Connector",
        "description": "Get one connector and its ten most recent synchronization attempts. Stored API keys are never returned. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.connectors.read",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Connector selected for the operation.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Connector selected for the operation."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Knowledge base that owns the connector.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Knowledge base that owns the connector."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The connector and recent synchronization history.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateKnowledgeConnector",
        "summary": "Update Knowledge Connector",
        "description": "Update connector source configuration, schedule, or active state. Replacing source configuration on a runnable connector queues an immediate synchronization; paused connectors retain the change without synchronizing until resumed. Source configuration cannot be replaced while synchronization is already in progress. Authentication material cannot be changed through this operation. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.connectors.update",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Connector selected for the operation.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Connector selected for the operation."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Knowledge base that owns the connector.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Knowledge base that owns the connector."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and at least one mutable connector field.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated connector.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteKnowledgeConnector",
        "summary": "Delete Knowledge Connector",
        "description": "Delete a connector and optionally its synchronized documents. Documents are retained by default. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.connectors.delete",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Connector selected for the operation.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Connector selected for the operation."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Knowledge base that owns the connector.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Knowledge base that owns the connector."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "deleteDocuments",
            "in": "query",
            "required": false,
            "description": "Also permanently delete documents produced by this connector.",
            "schema": {
              "description": "Also permanently delete documents produced by this connector.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connector deletion acknowledgement and document counts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/connectors/{connectorId}/sync": {
      "post": {
        "operationId": "syncKnowledgeConnector",
        "summary": "Sync Knowledge Connector",
        "description": "Queue a connector synchronization. Rehydration forces existing documents to be fetched and indexed again. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.connectors.sync",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Connector selected for the operation.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Connector selected for the operation."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Knowledge base that owns the connector.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Knowledge base that owns the connector."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and optional full rehydration control.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncKnowledgeConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Synchronization was queued.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorSyncResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/connectors/{connectorId}/documents": {
      "get": {
        "operationId": "listKnowledgeConnectorDocuments",
        "summary": "List Knowledge Connector Documents",
        "description": "List documents produced by one connector with opaque cursor pagination. Excluded documents are omitted unless explicitly requested. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.connectors.documents.list",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Connector selected for the operation.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Connector selected for the operation."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Knowledge base that owns the connector.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Knowledge base that owns the connector."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "includeExcluded",
            "in": "query",
            "required": false,
            "description": "Include documents explicitly excluded by a user.",
            "schema": {
              "description": "Include documents explicitly excluded by a user.",
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum connector documents to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
            "schema": {
              "default": 50,
              "description": "Maximum connector documents to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of connector documents.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorDocumentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateKnowledgeConnectorDocuments",
        "summary": "Update Knowledge Connector Documents",
        "description": "Exclude connector documents from knowledge search or restore previously excluded documents. Only documents produced by the selected connector can change. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.connectors.documents.update",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Connector selected for the operation.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Connector selected for the operation."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Knowledge base that owns the connector.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Knowledge base that owns the connector."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace, restore or exclude operation, and selected document identifiers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeConnectorDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The selected connector documents were updated.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeConnectorDocumentsUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/search": {
      "post": {
        "operationId": "searchKnowledge",
        "summary": "Search Knowledge",
        "description": "Search one or more knowledge bases with semantic vector retrieval, optional hybrid full-text retrieval, and structured tag filters. Every result names the `knowledgeBaseId` it came from. A request body over 2 MiB is a `413`. Reranking returns `409` when the stored results cannot pass secret-provenance enforcement.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.search",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "requestBody": {
          "required": true,
          "description": "Knowledge bases, query, result limit, retrieval mode, and optional tag filters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchKnowledgeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching document chunks ordered by relevance.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UsageLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/tags": {
      "get": {
        "operationId": "listKnowledgeTags",
        "summary": "List Tags",
        "description": "List the knowledge base's tag definitions with display names, write slots, and field types. Filters and document reads use display names; document writes use slots. Returns the complete set in one page; `nextCursor` is always null.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.tags.list",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the knowledge base."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The knowledge base tag vocabulary.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeTagListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createKnowledgeTag",
        "summary": "Create Tag",
        "description": "Create a tag definition. Write document values by `tagSlot` and filter by `displayName`. Omitting `tagSlot` selects a free slot; exhaustion returns `400`. An occupied slot or duplicate name returns `409`. Use Bulk Save Tag Definitions for multiple definitions. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.tags.create",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, display name, field type, and optional slot.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created tag definition.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeTagResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "put": {
        "operationId": "bulkSaveKnowledgeTagDefinitions",
        "summary": "Bulk Save Tag Definitions",
        "description": "Create or update tag definitions, preserving unspecified slots. Updates require `originalDisplayName`; other entries create tags. Slot and name conflicts appear in per-definition `errors` with HTTP `200`, leaving conflicting values unchanged. Use Update Document to set tag values. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.tags.bulk_save",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and the tag definitions to create or update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkSaveKnowledgeTagDefinitionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Definitions created and updated by the save.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BulkSaveKnowledgeTagDefinitionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteKnowledgeTagDefinitions",
        "summary": "Delete Tag Definitions",
        "description": "Delete unused tag definitions by default. With `unused=false`, permanently delete all definitions and their values from documents and chunks. Use Delete Tag to remove one definition. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.tags.cleanup",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "unused",
            "in": "query",
            "required": false,
            "description": "Whether to remove only the tag definitions no document in the knowledge base still carries a value for. Defaults to true. Pass `unused=false` to delete every definition on the knowledge base, which also clears its slot on every document and chunk and is not recoverable.",
            "schema": {
              "description": "Whether to remove only the tag definitions no document in the knowledge base still carries a value for. Defaults to true. Pass `unused=false` to delete every definition on the knowledge base, which also clears its slot on every document and chunk and is not recoverable.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Number of tag definitions removed.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteKnowledgeTagDefinitionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/documents": {
      "get": {
        "operationId": "listKnowledgeDocuments",
        "summary": "List Documents",
        "description": "List documents with filename search, state and tag filters, sorting, and cursor pagination. Tag values use display names; use List Tags to resolve the slots required for writes.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.documents.list",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum documents to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
            "schema": {
              "default": 50,
              "description": "Maximum documents to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the document filename.",
            "schema": {
              "description": "Case-insensitive substring match against the document filename.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "enabledFilter",
            "in": "query",
            "required": false,
            "description": "Filter by whether documents are enabled for search.",
            "schema": {
              "default": "all",
              "description": "Filter by whether documents are enabled for search.",
              "type": "string",
              "enum": ["all", "enabled", "disabled"]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result. Sorting by `filename` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
            "schema": {
              "default": "uploadedAt",
              "description": "Field used to sort the result. Sorting by `filename` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
              "type": "string",
              "enum": [
                "filename",
                "fileSize",
                "tokenCount",
                "chunkCount",
                "uploadedAt",
                "processingStatus",
                "enabled"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "desc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "tagFilters",
            "in": "query",
            "required": false,
            "description": "A JSON-encoded array of at most 10 tag filters, using the same display-name shape as knowledge search: `[{\"tagName\":\"category\",\"operator\":\"eq\",\"value\":\"billing\"}]`. Every filter must hold, including two that name the same tag. A name that is not defined in this knowledge base is rejected, never ignored.",
            "schema": {
              "description": "A JSON-encoded array of at most 10 tag filters, using the same display-name shape as knowledge search: `[{\"tagName\":\"category\",\"operator\":\"eq\",\"value\":\"billing\"}]`. Every filter must hold, including two that name the same tag. A name that is not defined in this knowledge base is rejected, never ignored.",
              "examples": [
                "[{\"tagName\":\"category\",\"operator\":\"eq\",\"value\":\"billing\"}]"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of knowledge documents.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeDocumentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "bulkUpdateKnowledgeDocuments",
        "summary": "Bulk Enable or Disable Documents",
        "description": "Enable or disable selected documents, or use `selectAll` for the entire knowledge base. Use Delete Document to remove documents individually. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.bulk",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Operation and the documents it applies to.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateKnowledgeDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The number and identifiers of the documents that changed.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BulkKnowledgeDocumentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "uploadKnowledgeDocument",
        "summary": "Upload Document",
        "description": "Upload one document as multipart form data. Processing continues asynchronously after the document is accepted.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.upload",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Multipart form containing the document file.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadKnowledgeDocumentForm"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The accepted document queued for processing.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeDocumentSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UsageLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/documents/uploads": {
      "post": {
        "operationId": "createKnowledgeDocumentUpload",
        "summary": "Create Document Upload",
        "description": "Create a resumable upload session and receive direct PUT or multipart transfer instructions.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.upload.create",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Document metadata used to authorize and initialize the upload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeDocumentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created upload session and transfer instructions.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateKnowledgeDocumentUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UsageLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/documents/uploads/{uploadId}": {
      "delete": {
        "operationId": "abortKnowledgeDocumentUpload",
        "summary": "Abort Document Upload",
        "description": "Abort an incomplete upload session and discard its uploaded data. Completed uploads cannot be aborted.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.upload.cancel",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier returned when the upload was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier returned when the upload was created."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The aborted upload session.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeDocumentUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/documents/uploads/{uploadId}/parts": {
      "post": {
        "operationId": "createKnowledgeDocumentUploadPartUrls",
        "summary": "Create Document Upload Part URLs",
        "description": "Create short-lived signed PUT URLs for up to 100 multipart part numbers.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.upload.parts",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier returned when the upload was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier returned when the upload was created."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Multipart part numbers for which signed URLs should be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeDocumentUploadPartUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed URLs for the requested upload parts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeDocumentUploadPartUrlsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/documents/uploads/{uploadId}/complete": {
      "post": {
        "operationId": "completeKnowledgeDocumentUpload",
        "summary": "Complete Document Upload",
        "description": "Verify a direct upload or assemble multipart parts, create the knowledge document, and queue asynchronous processing.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.upload.complete",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier returned when the upload was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier returned when the upload was created."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the knowledge base."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The completed upload and queued document.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeDocumentUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/knowledge/{knowledgeBaseId}/documents/{documentId}": {
      "get": {
        "operationId": "getKnowledgeDocument",
        "summary": "Get Document",
        "description": "Get document metadata, processing status, and source connector details.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "knowledge.documents.read",
        "x-oauth-scope": "api:read",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge document identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge document identifier."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the knowledge base.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the knowledge base."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested knowledge document.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2KnowledgeDocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateKnowledgeDocument",
        "summary": "Update Document",
        "description": "Rename a document, change search availability, update tag slots, or requeue processing. Omitted fields remain unchanged; indexing state is read-only. Use List Tags to resolve names to slots and Get Document for source connector details, which this response omits. Workspace API keys return `403`; use a personal API key or scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.update",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge document identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge document identifier."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Filename, search state, tag slot values, or a processing retry.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated document, or the requeue acknowledgement.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpdateKnowledgeDocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteKnowledgeDocument",
        "summary": "Delete Document",
        "description": "Remove a document from listings and search. Uploaded documents and their chunks are deleted. Connector documents are excluded while retaining their stored data; later synchronization does not re-add them.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "knowledge.documents.delete",
        "x-oauth-scope": "api:write",
        "tags": ["Knowledge Bases"],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge document identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge document identifier."
            }
          },
          {
            "name": "knowledgeBaseId",
            "in": "path",
            "required": true,
            "description": "Unique knowledge base identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique knowledge base identifier."
            }
          },
          {
[...]
