{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API v2 — Files & Audit Logs",
    "description": "Version 2 of the Sim REST API for workspace files and organization audit logs. Lists use opaque cursors, and rate-limit state is returned in response headers. Download File streams raw bytes as `application/octet-stream`; every other response uses the canonical v2 data, cursor-list, or error envelope.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Create, upload, download, organize, share, and delete workspace files."
    },
    {
      "name": "Audit Logs",
      "description": "Query the organization audit trail with Enterprise authorization."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List Files",
        "description": "List workspace files with search, sorting, folder filtering, and opaque cursor pagination.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose files should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace whose files should be listed."
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to files directly inside this folder.",
            "schema": {
              "description": "Restrict results to files directly inside this folder.",
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the file name.",
            "schema": {
              "description": "Case-insensitive substring match against the file name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result.",
            "schema": {
              "default": "uploadedAt",
              "description": "Field used to sort the result.",
              "type": "string",
              "enum": ["name", "size", "uploadedAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum files per page, clamped to 1–1000.",
            "schema": {
              "description": "Maximum files per page, clamped to 1–1000.",
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page.",
            "schema": {
              "description": "Opaque cursor returned by the previous page.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workspace files.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createFile",
        "summary": "Create File",
        "description": "Create a workspace file from inline UTF-8 or base64 content. Use an upload session for streamed or larger files.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Inline content and placement for a new workspace file.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads": {
      "post": {
        "operationId": "createFileUpload",
        "summary": "Create File Upload",
        "description": "Create a resumable upload session and receive either a signed PUT URL or multipart instructions.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "File metadata required to create an upload session.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created upload session and transfer instructions.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}": {
      "delete": {
        "operationId": "abortFileUpload",
        "summary": "Abort File Upload",
        "description": "Abort an active upload session and release provider-side multipart state.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the upload session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the upload session."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The aborted upload session.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}/parts": {
      "post": {
        "operationId": "createFileUploadPartUrls",
        "summary": "Create File Upload Part URLs",
        "description": "Create signed URLs for a bounded set of multipart upload part numbers.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the upload session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the upload session."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Multipart part numbers requiring signed URLs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileUploadPartUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed URLs for the requested upload parts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileUploadPartUrlsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}/complete": {
      "post": {
        "operationId": "completeFileUpload",
        "summary": "Complete File Upload",
        "description": "Finalize uploaded bytes, verify provider state, and begin atomic workspace-file registration.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the upload session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the upload session."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The completed or finalizing upload session.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download File",
        "description": "Download the current file bytes from a workspace. A generated document is served as its compiled artifact, so it returns `409` while that artifact is still compiling and `413` if it renders past the size ceiling.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The file bytes.",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/Content-Disposition"
              },
              "Content-Length": {
                "$ref": "#/components/headers/Content-Length"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteFile",
        "summary": "Delete File",
        "description": "Archive a workspace file. This is a soft delete: the row is retained with a deletion timestamp, the file stops appearing in listings and is no longer readable through the API, and its stored bytes are never removed. An archived file can be restored from the workspace Recently Deleted settings; the v2 API exposes no restore operation.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "renameFile",
        "summary": "Rename File",
        "description": "Rename a workspace file without changing its containing folder.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and new file name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The renamed file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/metadata": {
      "get": {
        "operationId": "getFile",
        "summary": "Get File Metadata",
        "description": "Return file metadata together with the nullable current public-share state.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File metadata and public-share state.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileMetadataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/audit-logs": {
      "get": {
        "operationId": "listAuditLogs",
        "summary": "List Audit Logs",
        "description": "List an organization audit trail with filters and opaque cursor pagination. Requires an Enterprise subscription and organization admin or owner access. A workspace API key cannot call this operation and is rejected with `403`; use a personal API key.",
        "tags": ["Audit Logs"],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "Filter by exact action name.",
            "schema": {
              "description": "Filter by exact action name.",
              "type": "string"
            }
          },
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "description": "Filter by exact resource type.",
            "schema": {
              "description": "Filter by exact resource type.",
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "Filter by exact resource identifier.",
            "schema": {
              "description": "Filter by exact resource identifier.",
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Filter to actions in one workspace.",
            "schema": {
              "description": "Filter to actions in one workspace.",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Inclusive ISO 8601 start timestamp.",
            "schema": {
              "description": "Inclusive ISO 8601 start timestamp.",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Inclusive ISO 8601 end timestamp.",
            "schema": {
              "description": "Inclusive ISO 8601 end timestamp.",
              "type": "string"
            }
          },
          {
            "name": "includeDeparted",
            "in": "query",
            "required": false,
            "description": "Include actions by users who have left the organization.",
            "schema": {
              "description": "Include actions by users who have left the organization.",
              "default": "false",
              "type": "string",
              "enum": ["true", "false"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum entries per page, from 1 to 100.",
            "schema": {
              "default": 50,
              "description": "Maximum entries per page, from 1 to 100.",
              "type": "number",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page.",
            "schema": {
              "description": "Opaque cursor returned by the previous page.",
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization whose audit trail should be queried.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Organization whose audit trail should be queried."
            }
          },
          {
            "name": "actorEmail",
            "in": "query",
            "required": false,
            "description": "Filter by actor email address.",
            "schema": {
              "description": "Filter by actor email address.",
              "type": "string",
              "format": "email",
              "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of audit-log entries.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AuditLogListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/audit-logs/{id}": {
      "get": {
        "operationId": "getAuditLog",
        "summary": "Get Audit Log",
        "description": "Return one organization audit-log entry. Requires an Enterprise subscription and organization admin or owner access. A workspace API key cannot call this operation and is rejected with `403`; use a personal API key.",
        "tags": ["Audit Logs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Audit-log entry identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Audit-log entry identifier."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization whose audit-log entry should be returned.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Organization whose audit-log entry should be returned."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested audit-log entry.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AuditLogResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/move": {
      "post": {
        "operationId": "moveFileItems",
        "summary": "Move Files",
        "description": "Move up to 1,000 files to a canonical folder path or the workspace root.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Files and destination selected for a bulk move.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveFileItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Count of moved files.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2MoveFileItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/share": {
      "get": {
        "operationId": "getFileShare",
        "summary": "Get File Share",
        "description": "Return the nullable current public-share configuration for a file. A file that has never been shared returns `data: null` rather than a 404; a share that was created and later disabled is still returned, with `isActive: false`.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current nullable file-share state.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2GetFileShareResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "upsertFileShare",
        "summary": "Enable or Disable File Share",
        "description": "Create or partially update a server-tokenized public share. Only isActive is required, and an omitted authType keeps the stored auth mode. What happens to password and allowedEmails depends on the resulting mode, because enabling a share always rewrites the credentials the chosen mode does not use: 'public' clears the stored password and empties allowedEmails; 'password' keeps the stored password when password is omitted but empties allowedEmails; 'email' and 'sso' clear the stored password and keep the stored allowedEmails when the field is omitted. Only disabling with isActive false preserves the whole access configuration untouched — it also retains the token, so re-enabling restores the share as it was. Two enabling combinations are rejected outright with a 400 instead of being partially applied: 'password' when neither a password is supplied nor one is already stored, and 'email' or 'sso' when the resulting allowedEmails would be empty because none was supplied and none is stored. On a file that has never been shared there is nothing stored to fall back on, so enabling any mode other than 'public' must carry its credential in the same request. A workspace API key cannot call this operation. Because unauthorized resources are concealed, the rejection is reported as `404` rather than `403`; use a personal API key.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Desired public-share state and access policy.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertFileShareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated file share.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpsertFileShareResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/content": {
      "put": {
        "operationId": "updateFileContent",
        "summary": "Replace File Content",
        "description": "Replace the complete contents of an existing file from UTF-8 or base64 input.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and complete replacement content.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/bulk-delete": {
      "post": {
        "operationId": "bulkDeleteFiles",
        "summary": "Delete Files",
        "description": "Delete up to 1,000 workspace files in one operation.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Workspace and files selected for deletion.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Count of deleted files.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDeleteFilesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/folders": {
      "get": {
        "operationId": "listFilesFolders",
        "summary": "List Folders",
        "description": "List workspace file folders with optional parent-path filtering and sorting. The bounded set is returned in one page with `nextCursor` always null; there is no second page to fetch.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose folders should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace whose folders should be listed."
            }
          },
          {
            "name": "parentPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to direct children of this parent path.",
            "schema": {
              "description": "Restrict results to direct children of this parent path.",
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the folder name.",
            "schema": {
              "description": "Case-insensitive substring match against the folder name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result.",
            "schema": {
              "default": "name",
              "description": "Field used to sort the result.",
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace file folders.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileFolderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createFilesFolder",
        "summary": "Create Folder",
        "description": "Create a canonical folder path in a workspace.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Workspace and canonical path for a new folder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileFolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "relocateFilesFolder",
        "summary": "Rename or Move Folder",
        "description": "Rename or move a folder and atomically rewrite descendant canonical paths.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Current and destination canonical paths for a folder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelocateFileFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The relocated folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesFolder",
        "summary": "Delete Folder",
        "description": "Delete a folder, optionally including every nested file and folder.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace containing the folder.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace containing the folder."
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path of the folder to delete.",
            "schema": {
              "description": "Path of the folder to delete.",
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "description": "Delete nested files and folders when true.",
            "schema": {
              "description": "Delete nested files and folders when true.",
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deletion confirmation and deleted item counts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your Sim API key, personal or workspace-scoped. Generate one from the Sim dashboard under Settings > API Keys. A workspace API key is not accepted everywhere: operations that act on behalf of a specific human — administrative reads, secret access, and irreversible or governance-affecting writes — always reject it, whatever role the key carries. Each such operation says so in its own description, and the rejection surfaces as `403` unless the operation conceals unauthorized resources, in which case it is reported as `404`. Use a personal API key for those."
      }
    },
    "headers": {
      "Content-Type": {
        "description": "MIME type of the file, defaulting to application/octet-stream when the stored type is unavailable.",
        "schema": {
          "type": "string",
          "title": "Content type",
          "description": "MIME type of the file, defaulting to application/octet-stream when the stored type is unavailable."
        }
      },
      "Content-Disposition": {
        "description": "Attachment disposition containing sanitized and RFC 5987 encoded filenames.",
        "schema": {
          "type": "string",
          "title": "Content disposition",
          "description": "Attachment disposition containing sanitized and RFC 5987 encoded filenames."
        }
      },
      "Content-Length": {
        "description": "File size in bytes.",
        "schema": {
          "type": "string",
          "pattern": "^(0|[1-9]\\d*)$",
          "title": "Content length",
          "description": "File size in bytes."
        }
      },
      "X-RateLimit-Limit": {
        "description": "Maximum requests allowed in the current window.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 9007199254740991,
          "title": "Rate limit",
          "description": "Maximum requests allowed in the current window."
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 9007199254740991,
          "title": "Rate limit remaining",
          "description": "Requests remaining in the current window."
        }
      },
      "X-RateLimit-Reset": {
        "description": "ISO 8601 timestamp when the current rate-limit window resets.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
          "title": "Rate limit reset",
          "description": "ISO 8601 timestamp when the current rate-limit window resets."
        }
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying a rate-limited request.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 9007199254740991,
          "title": "Retry after",
          "description": "Seconds to wait before retrying a rate-limited request."
        }
      },
      "X-Run-Id": {
        "description": "Identifier assigned to the workflow run.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "title": "Run identifier",
          "description": "Identifier assigned to the workflow run."
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The API key is missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "UsageLimitExceeded": {
        "description": "The workspace has exceeded its usage or billing limits.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The caller lacks access to the resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with current resource state.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "RunIdConflict": {
        "description": "The run cannot be started. Two causes share this status, distinguished by `error.details.code`: `RUN_ID_CONFLICT` when the supplied `X-Run-Id` is already associated with a different request, and `CALL_CHAIN_DEPTH_EXCEEDED` when the incoming `X-Sim-Via` chain has already reached the maximum workflow-to-workflow call depth.",
        "headers": {
          "X-Run-Id": {
            "$ref": "#/components/headers/X-Run-Id"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Gone": {
        "description": "The requested generated resource has expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request, or a resource collection it must materialize, exceeds the allowed size. Besides an oversized request body, this covers a generated artifact that renders past the download ceiling and a workspace folder tree too large to load in full.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "The request uses an unsupported media type.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Locked": {
        "description": "The resource is locked and cannot be modified.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The caller exceeded the request rate limit.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "ClientClosedRequest": {
        "description": "The client closed the connection before the response was produced.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "An unexpected server error occurred.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A required service is temporarily unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      }
    },
    "schemas": {
      "V2Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation of the error."
              },
              "details": {
                "description": "Optional structured error details."
              }
            },
            "required": ["code", "message"],
            "additionalProperties": false,
            "description": "Canonical error details."
          }
        },
        "required": ["error"],
        "additionalProperties": false,
        "title": "v2 error response",
        "description": "Canonical error envelope returned by the public v2 API.",
        "examples": [
          {
            "error": {
              "code": "BAD_REQUEST",
              "message": "The request is invalid."
            }
          }
        ]
      },
      "V2File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique file identifier.",
            "examples": ["wf_V1StGXR8z5jdHi6BmyT91"]
          },
          "name": {
            "type": "string",
            "description": "Original file name.",
            "examples": ["data.csv"]
          },
          "size": {
            "type": "number",
            "minimum": 0,
            "description": "Size in bytes of the stored file. For a generated document (docx, pptx, pdf, xlsx) the stored file is the generation source rather than the rendered document, so this does not predict how many bytes `GET /files/{fileId}` returns — that endpoint serves the compiled artifact, which is typically much larger.",
            "examples": [1024]
          },
          "type": {
            "type": "string",
            "description": "MIME type of the stored file. For a generated document (docx, pptx, pdf, xlsx) the stored file is the generation source, so this describes the source and not what `GET /files/{fileId}` serves — that endpoint returns the compiled artifact under the rendered document type.",
            "examples": ["text/csv"]
          },
          "key": {
            "type": "string",
            "description": "Storage key for the file.",
            "examples": ["workspace/example/data.csv"]
          },
          "folderPath": {
            "type": "string",
            "description": "Canonical containing-folder path. `/` is the workspace root."
          },
          "uploadedByEmail": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$",
            "description": "Current email address of the uploader.",
            "examples": ["jane@example.com"]
          },
          "uploadedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the file was uploaded.",
            "format": "date-time",
            "examples": ["2026-01-15T10:30:00Z"]
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp of the last content or metadata write.",
            "format": "date-time",
            "examples": ["2026-01-15T10:30:00Z"]
          }
        },
        "required": [
          "id",
          "name",
          "size",
          "type",
          "key",
          "folderPath",
          "uploadedByEmail",
          "uploadedAt",
          "updatedAt"
        ],
        "additionalProperties": false,
        "title": "Workspace file",
        "description": "A workspace file exposed by the public v2 API."
      },
      "V2FileListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2File"
            },
            "description": "Items in the current page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Opaque cursor for the next page: send it back as `cursor` to continue, and stop when it is null. Most v2 lists page, so null means the last page was reached. A few are full-set lists that return their whole bounded result in one response and therefore always report null; those say so in the operation description. Either way, null means there is nothing further to fetch — never construct a cursor yourself."
          }
        },
        "required": ["data", "nextCursor"],
        "additionalProperties": false,
        "title": "File list response",
        "description": "A cursor-paginated page of workspace files.",
        "examples": [
          {
            "data": [
              {
                "id": "wf_V1StGXR8z5jdHi6BmyT91",
                "name": "data.csv",
                "size": 1024,
                "type": "text/csv",
                "key": "workspace/example/data.csv",
                "folderPath": "/Engineering",
                "uploadedByEmail": "jane@example.com",
                "uploadedAt": "2026-01-15T10:30:00Z",
                "updatedAt": "2026-01-15T10:30:00Z"
              }
            ],
            "nextCursor": null
          }
        ]
      },
      "V2FileResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/V2File"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "File response",
        "description": "A single workspace file.",
        "examples": [
          {
            "data": {
              "id": "wf_V1StGXR8z5jdHi6BmyT91",
              "name": "data.csv",
              "size": 1024,
              "type": "text/csv",
              "key": "workspace/example/data.csv",
              "folderPath": "/Engineering",
              "uploadedByEmail": "jane@example.com",
              "uploadedAt": "2026-01-15T10:30:00Z",
              "updatedAt": "2026-01-15T10:30:00Z"
            }
          }
        ]
      },
      "CreateFileRequest": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "description": "Workspace in which to create the file."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "File name, including its extension. Path separators and dot segments are rejected."
          },
          "contentType": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "MIME type. When omitted, it is inferred from the file extension."
          },
          "folderPath": {
            "description": "Canonical containing-folder path. Omit for the workspace root.",
            "type": "string"
          },
          "content": {
            "default": "",
            "description": "Initial file content. Omit or send an empty string for a zero-byte file. The 70,000,000-character bound is a JSON-envelope guard, not the file-size limit: the decoded bytes must be at most 50 MiB, so a longer base64 payload is admitted here and then rejected with 413. Use an upload session for anything larger.",
            "type": "string",
            "maxLength": 70000000
          },
          "encoding": {
            "default": "utf-8",
            "description": "Encoding of the content field.",
            "type": "string",
            "enum": ["utf-8", "base64"]
          }
        },
        "required": ["workspaceId", "name"],
        "additionalProperties": false,
        "title": "Create file request",
        "description": "Inline content and placement for a new workspace file."
      },
      "V2FileUpload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Upload session identifier."
          },
          "status": {
            "type": "string",
            "enum": [
              "uploading",
              "completing",
              "finalizing",
              "completed",
              "failed",
              "aborting",
              "aborted",
              "expired"
            ],
            "description": "Current upload session status."
          },
          "name": {
            "type": "string",
            "description": "File name supplied when the session was created."
          },
          "contentType": {
            "type": "string",
            "description": "MIME type supplied when the session was created."
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Expected file size in bytes."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
            "description": "ISO 8601 time when the upload session expires."
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Failure message, or null when no failure has occurred."
          },
          "file": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/V2File"
              },
              {
                "type": "null"
              }
            ],
            "description": "Registered file after finalization, or null before finalization completes."
          }
        },
        "required": ["id", "status", "name", "contentType", "size", "expiresAt", "error", "file"],
        "additionalProperties": false,
        "title": "File upload session",
        "description": "Current state of a resumable workspace-file upload session."
      },
      "V2PutUploadTransfer": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "const": "put",
            "description": "Upload strategy discriminator."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Signed URL to which the file bytes are uploaded."
          },
          "headers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers that must be included with the upload request."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
            "description": "ISO 8601 expiration time for this signed URL. This is the URL's own expiry and is normally earlier than the upload session's expiresAt: the session stays open for later part, status, completion, and abort requests, but the bytes must be uploaded before this time. Once it passes, the storage provider rejects the upload and a new upload session must be created."
          }
        },
        "required": ["method", "url", "headers", "expiresAt"],
        "additionalProperties": false,
        "title": "Direct upload transfer",
        "description": "Instructions for uploading bytes to one signed URL."
      },
      "V2MultipartUploadTransfer": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "const": "multipart",
            "description": "Upload strategy discriminator."
          },
          "partSize": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Required size of each non-final part in bytes."
          },
          "partCount": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 640,
            "description": "Total number of upload parts."
          }
        },
        "required": ["method", "partSize", "partCount"],
        "additionalProperties": false,
        "title": "Multipart upload transfer",
        "description": "Instructions for splitting bytes into a multipart upload."
      },
      "V2CreateFileUploadData": {
        "type": "object",
        "properties": {
          "session": {
            "description": "New upload session.",
            "$ref": "#/components/schemas/V2FileUpload"
          },
          "uploadToken": {
            "type": "string",
            "minLength": 1,
            "description": "Signed control token required by later upload-session requests."
          },
          "transfer": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/V2PutUploadTransfer"
              },
              {
                "$ref": "#/components/schemas/V2MultipartUploadTransfer"
              }
            ],
            "description": "Instructions for transferring the file bytes."
          }
        },
        "required": ["session", "uploadToken", "transfer"],
        "additionalProperties": false,
        "title": "Create file upload data",
        "description": "A new file upload session, its control token, and byte-transfer instructions."
      },
      "CreateFileUploadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/V2CreateFileUploadData"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "Create file upload response",
        "description": "Upload session, signed control token, and transfer strategy."
      },
      "CreateFileUploadRequest": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "description": "Workspace in which the file will be registered."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "File name, including its extension."
          },
          "contentType": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "MIME type of the uploaded file."
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5368709120,
            "description": "Exact file size in bytes."
          },
          "folderPath": {
            "description": "Canonical destination folder path. Omit for the workspace root.",
            "type": "string"
          }
        },
        "required": ["workspaceId", "name", "contentType", "size"],
        "additionalProperties": false,
        "title": "Create file upload request",
        "description": "File metadata required to create an upload session."
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/V2FileUpload"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "File upload response",
        "description": "Current upload-session state."
      },
      "V2UploadPartUrl": {
        "type": "object",
        "properties": {
          "partNumber": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991,
            "description": "Multipart part number."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Signed URL for this upload part."
          },
          "headers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers that must be included with the part upload."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
            "description": "ISO 8601 expiration time for the signed URL."
          }
        },
        "required": ["partNumber", "url", "headers", "expiresAt"],
        "additionalProperties": false,
        "title": "Upload part URL",
        "description": "A signed URL and required headers for one multipart upload part."
      },
      "V2PartUrlsData": {
        "type": "object",
        "properties": {
          "parts": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V2UploadPartUrl"
            },
            "description": "Signed URLs for requested parts."
          }
        },
        "required": ["parts"],
        "additionalProperties": false,
        "title": "Upload part URLs",
        "description": "Signed transfer URLs for the requested multipart upload parts."
      },
      "CreateFileUploadPartUrlsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/V2PartUrlsData"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "Create upload part URLs response",
        "description": "Signed multipart upload URLs."
      },
      "CreateFileUploadPartUrlsRequest": {
        "type": "object",
        "properties": {
          "partNumbers": {
            "minItems": 1,
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            },
            "description": "Multipart part numbers for which signed URLs should be created."
          }
        },
        "required": ["partNumbers"],
        "additionalProperties": false,
        "title": "Create upload part URLs request",
        "description": "Multipart part numbers requiring signed URLs.",
        "examples": [
          {
            "partNumbers": [1, 2]
          }
        ]
      },
      "V2DeleteFileResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the deleted file."
          },
          "deleted": {
            "type": "boolean",
            "const": true,
            "description": "Confirms that the file was deleted."
          }
        },
        "required": ["id", "deleted"],
        "additionalProperties": false,
        "title": "Delete file result",
        "description": "File deletion acknowledgement."
      },
      "V2DeleteFileResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/V2DeleteFileResult"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "Delete file response",
        "description": "Deletion confirmation for one file."
      },
      "RenameFileRequest": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "description": "Workspace that owns the file."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "New file name, including its extension."
          }
        },
        "required": ["workspaceId", "name"],
        "additionalProperties": false,
        "title": "Rename file request",
        "description": "Workspace scope and new file name.",
        "examples": [
          {
            "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
            "name": "renamed.csv"
          }
        ]
      },
      "V2FileShare": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique share identifier."
          },
          "token": {
            "type": "string",
            "description": "Server-generated token embedded in the public share URL."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Public share URL.",
            "examples": ["https://www.sim.ai/f/share-token-example"]
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the public share currently resolves."
          },
          "resourceType": {
            "type": "string",
            "enum": ["file", "folder"],
            "description": "Kind of resource being shared."
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier of the shared resource."
          },
          "authType": {
            "type": "string",
            "enum": ["public", "password", "email", "sso"],
            "description": "How access to the share is gated."
          },
          "hasPassword": {
            "type": "boolean",
            "description": "Whether a password is stored for this share."
          },
          "allowedEmails": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 320
            },
            "description": "Allowed addresses or @domain patterns for email and SSO shares."
          }
        },
        "required": [
          "id",
          "token",
          "url",
          "isActive",
          "resourceType",
          "resourceId",
          "authType",
          "hasPassword",
          "allowedEmails"
        ],
        "additionalProperties": false,
        "title": "File share",
        "description": "Public-safe share configuration for a workspace file."
      },
      "V2FileMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique file identifier.",
            "examples": ["wf_V1StGXR8z5jdHi6BmyT91"]
          },
          "name": {
            "type": "string",
            "description": "Original file name.",
            "examples": ["data.csv"]
          },
          "size": {
            "type": "number",
            "minimum": 0,
            "description": "Size in bytes of the stored file. For a generated document (docx, pptx, pdf, xlsx) the stored file is the generation source rather than the rendered document, so this does not predict how many bytes `GET /files/{fileId}` returns — that endpoint serves the compiled artifact, which is typically much larger.",
            "examples": [1024]
          },
          "type": {
            "type": "string",
            "description": "MIME type of the stored file. For a generated document (docx, pptx, pdf, xlsx) the stored file is the generation source, so this describes the source and not what `GET /files/{fileId}` serves — that endpoint returns the compiled artifact under the rendered document type.",
            "examples": ["text/csv"]
          },
          "key": {
            "type": "string",
            "description": "Storage key for the file.",
            "examples": ["workspace/example/data.csv"]
          },
          "folderPath": {
            "type": "string",
            "description": "Canonical containing-folder path. `/` is the workspace root."
          },
          "uploadedByEmail": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$",
            "description": "Current email address of the uploader.",
            "examples": ["jane@example.com"]
          },
          "uploadedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the file was uploaded.",
            "format": "date-time",
            "examples": ["2026-01-15T10:30:00Z"]
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp of the last content or metadata write.",
            "format": "date-time",
            "examples": ["2026-01-15T10:30:00Z"]
          },
          "share": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/V2FileShare"
              },
              {
                "type": "null"
              }
            ],
            "description": "Current public-share state, or null when the file has never been shared."
          }
        },
        "required": [
          "id",
          "name",
          "size",
          "type",
          "key",
          "folderPath",
          "uploadedByEmail",
          "uploadedAt",
          "updatedAt",
          "share"
        ],
        "additionalProperties": false,
        "title": "File metadata",
        "description": "Workspace file metadata enriched with nullable public-share state."
      },
      "V2FileMetadataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/V2FileMetadata"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "File metadata response",
        "description": "File metadata enriched with its current nullable public-share state.",
        "examples": [
          {
            "data": {
              "id": "wf_V1StGXR8z5jdHi6BmyT91",
              "name": "data.csv",
              "size": 1024,
              "type": "text/csv",
              "key": "workspace/example/data.csv",
              "folderPath": "/Engineering",
              "uploadedByEmail": "jane@example.com",
              "uploadedAt": "2026-01-15T10:30:00Z",
              "updatedAt": "2026-01-15T10:30:00Z",
              "share": null
            }
          },
          {
            "data": {
              "id": "wf_V1StGXR8z5jdHi6BmyT91",
              "name": "data.csv",
              "size": 1024,
              "type": "text/csv",
              "key": "workspace/example/data.csv",
              "folderPath": "/Engineering",
              "uploadedByEmail": "jane@example.com",
              "uploadedAt": "2026-01-15T10:30:00Z",
              "updatedAt": "2026-01-15T10:30:00Z",
              "share": {
                "id": "shr_8Hf3kL9wQ2mNpXr6Tz1Vb",
                "token": "share-token-example",
                "url": "https://www.sim.ai/f/share-token-example",
                "isActive": true,
                "resourceType": "file",
                "resourceId": "wf_V1StGXR8z5jdHi6BmyT91",
                "authType": "public",
                "hasPassword": false,
                "allowedEmails": []
              }
            }
          }
        ]
      },
      "V2AuditLogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique audit-log entry identifier.",
            "examples": ["audit_2c3d4e5f6g"]
          },
          "workspaceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Workspace where the action occurred, or null for organization-level actions."
          },
          "actorName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Display name of the person who performed the action."
          },
          "actorEmail": {
            "anyOf": [
              {
                "type": "string",
                "format": "email",
                "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
              },
              {
                "type": "null"
              }
            ],
            "description": "Email address of the person who performed the action."
          },
          "action": {
            "type": "string",
            "description": "Action that was performed.",
            "examples": ["file.uploaded"]
          },
          "resourceType": {
            "type": "string",
            "description": "Type of resource affected by the action.",
            "examples": ["file"]
          },
          "resourceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Identifier of the affected resource."
          },
          "resourceName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Display name of the affected resource."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Human-readable description of the action."
          },
          "metadata": {
            "description": "Arbitrary per-action JSON metadata."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the action occurred.",
            "format": "date-time",
            "examples": ["2026-01-15T10:30:00Z"]
          }
        },
[...]
