{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API v2 — Workflows",
    "description": "Version 2 of the Sim REST API for managing workflows (create, list, inspect, update, delete), their deployment versions, and deployments (deploy, undeploy, rollback).\n\nThe v2 surface standardizes on a single response family across every endpoint:\n- Single resource: `{ \"data\": T }`\n- List: `{ \"data\": T[], \"nextCursor\": string | null }`\n- Error: `{ \"error\": { \"code\": string, \"message\": string, \"details\"?: unknown } }`\n\nLists use an opaque cursor (Stripe/Slack-style): send `limit` and `cursor`, receive `{ data, nextCursor }`. Cursors are opaque tokens — pass back the `nextCursor` from the previous page verbatim and stop when it is `null`. Total counts are not returned on lists.\n\nRate-limit state is carried in the `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` response headers (not in the body). A throttled request returns `429` with a `Retry-After` header.\n\nAuthenticate every request with an API key in the `X-API-Key` header.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Workflows",
      "description": "Create, list, inspect, update, and delete workflows, enumerate their deployment versions, and manage deployments (deploy, undeploy, rollback) on the v2 API."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List Workflows",
        "description": "Retrieve workflows in a workspace using opaque cursor-based pagination. Results are ordered deterministically; follow `nextCursor` to page through the full set, and stop when it is `null`.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/workflows?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": false,
            "description": "Filter results to only include workflows within this folder.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deployedOnly",
            "in": "query",
            "required": false,
            "description": "When true, only return workflows that are currently deployed. Useful for listing workflows available for API execution.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of workflows to return per page. Must be between 1 and 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned from a previous request's `nextCursor` field. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the workflow `name`. Matches nothing else — not ids, descriptions, or content. `%` and `_` are matched literally. Must be non-empty; omit the parameter instead of sending a blank one.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by. `position` is the workspace's own manual arrangement of its workflows, which is the default order. The cursor is a keyset over the active sort, so it carries the sort it was minted under. Replaying a cursor after changing `sortBy` or `sortOrder` returns `400`; restart pagination without a cursor instead.",
            "schema": {
              "type": "string",
              "enum": ["position", "name", "createdAt", "updatedAt", "runCount"],
              "default": "position"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction. The cursor is a keyset over the active sort, so it carries the sort it was minted under. Replaying a cursor after changing `sortBy` or `sortOrder` returns `400`; restart pagination without a cursor instead.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workflows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Workflows for the current page.",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowListItem"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for fetching the next page. `null` when there are no more results."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createWorkflowV2",
        "summary": "Create Workflow",
        "description": "Create an empty workflow in a workspace. The workflow is created with a default start block and no deployment, so it must be edited and deployed before it can be executed. Names must be unique within the target folder — a collision is reported as 409 rather than silently renamed.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/workflows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"name\": \"Customer Support Agent\"\n  }'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowListItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A workflow with the same name already exists in the target folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}": {
      "get": {
        "operationId": "getWorkflow",
        "summary": "Get Workflow",
        "description": "Retrieve a single workflow, including its workflow-level variables and trigger input field definitions. Returns 404 when the workflow does not exist or you do not have access to it (existence is not leaked).",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/workflows/{id}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateWorkflowV2",
        "summary": "Update Workflow",
        "description": "Rename a workflow, change its description, or move it between folders. Omitted fields keep their stored values, and at least one field must be supplied. Editing the workflow's graph is not part of this endpoint — use import/export for that. Returns 404 when the workflow does not exist or you do not have write access to it (existence is not leaked).",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/workflows/{id}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"Customer Support Agent v2\"\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowListItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "A workflow with the target name already exists in the destination folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflowV2",
        "summary": "Delete Workflow",
        "description": "Delete a workflow. It stops being returned by list and detail endpoints while its execution logs remain attributable. The last remaining workflow in a workspace cannot be deleted (400).",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/workflows/{id}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DeleteWorkflowResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/versions": {
      "get": {
        "operationId": "listWorkflowVersionsV2",
        "summary": "List Workflow Versions",
        "description": "List a workflow's deployment versions, newest first. Every successful deploy appends a version; these are the version numbers `POST /api/v2/workflows/{id}/rollback` accepts. Results are cursor-paginated — follow `nextCursor` and stop when it is `null`.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/workflows/{id}/versions\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of versions to return per page. Must be between 1 and 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned from a previous request's `nextCursor` field. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of deployment versions, newest first.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Deployment versions for the current page.",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowVersion"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for fetching the next page. `null` when there are no more results."
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "d41a9f0c-7b25-4e18-9a3d-1c6f0b8e5d24",
                      "version": 3,
                      "name": "Adds escalation branch",
                      "description": "Routes P1 tickets straight to on-call",
                      "isActive": true,
                      "createdAt": "2026-06-12T10:30:00.000Z",
                      "deployedBy": "Ada Lovelace",
                      "latestOperationStatus": "active"
                    },
                    {
                      "id": "b70e2c81-4d93-4a17-8f52-93a1c7e0d6b8",
                      "version": 2,
                      "name": null,
                      "description": null,
                      "isActive": false,
                      "createdAt": "2026-05-02T09:04:00.000Z",
                      "deployedBy": "Ada Lovelace",
                      "latestOperationStatus": null
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/versions/{version}": {
      "get": {
        "operationId": "getWorkflowVersionV2",
        "summary": "Get Workflow Version",
        "description": "Fetch one deployment version and the workflow state it pins. Use this to inspect or diff a version before activating it with `POST /api/v2/workflows/{id}/rollback`.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/workflows/{id}/versions/{version}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "$ref": "#/components/parameters/VersionNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested deployment version.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowVersionDetail"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d41a9f0c-7b25-4e18-9a3d-1c6f0b8e5d24",
                    "version": 3,
                    "name": "Adds escalation branch",
                    "description": "Routes P1 tickets straight to on-call",
                    "isActive": true,
                    "createdAt": "2026-06-12T10:30:00.000Z",
                    "state": {
                      "blocks": {},
                      "edges": [],
                      "loops": {},
                      "parallels": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/deploy": {
      "post": {
        "operationId": "deployWorkflow",
        "summary": "Deploy Workflow",
        "description": "Deploy the workflow's current draft state. Creates a new deployment version, makes it live for API execution, and activates schedules and triggers. Optionally accepts a `name` and `description` for the new version; the request body may be omitted entirely. Returns 404 when the workflow does not exist or you do not have access to it, and 423 when the workflow is locked.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/workflows/{id}/deploy\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\": \"Release 4\", \"description\": \"Fixes the agent prompt\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional metadata for the new deployment version. The request body may be omitted entirely.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Optional label for the new deployment version.",
                    "example": "Release 4"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 50000,
                    "nullable": true,
                    "description": "Optional summary of what changed in this version.",
                    "example": "Fixes the agent prompt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow deployed successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DeployResult"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
                    "isDeployed": true,
                    "deployedAt": "2026-06-12T10:30:00.000Z",
                    "version": 4,
                    "warnings": [],
                    "activeDeployment": null,
                    "latestDeploymentAttempt": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "undeployWorkflow",
        "summary": "Undeploy Workflow",
        "description": "Take the workflow offline. API execution stops and schedules, webhooks, and other deployment side effects are removed. Deployment versions are retained, so the workflow can be deployed again later. Returns 400 when the workflow is not currently deployed, 404 when the workflow does not exist or you do not have access to it, and 423 when the workflow is locked.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/workflows/{id}/deploy\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow undeployed successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UndeployResult"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
                    "isDeployed": false,
                    "deployedAt": null,
                    "warnings": [],
                    "activeDeployment": null,
                    "latestDeploymentAttempt": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/rollback": {
      "post": {
        "operationId": "rollbackWorkflow",
        "summary": "Rollback Workflow",
        "description": "Roll the live deployment back to a previous deployment version. The workflow must currently be deployed. By default the version immediately preceding the currently active one is re-activated; pass `version` to target a specific deployment version instead. The workflow's draft state is not modified. Returns 400 when the workflow is not deployed or there is no version to roll back to, 404 when the workflow does not exist or you do not have access to it, and 423 when the workflow is locked.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/workflows/{id}/rollback\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"version\": 3}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional rollback target. The request body may be omitted entirely to roll back to the version immediately preceding the active one.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2147483647,
                    "description": "The deployment version to re-activate. Defaults to the version immediately preceding the active one.",
                    "example": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow rolled back successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RollbackResult"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
                    "isDeployed": true,
                    "deployedAt": "2026-06-12T10:30:00.000Z",
                    "version": 3,
                    "warnings": [],
                    "activeDeployment": null,
                    "latestDeploymentAttempt": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/export": {
      "get": {
        "operationId": "exportWorkflow",
        "summary": "Export a workflow",
        "description": "Exports a workflow as a portable JSON envelope that `POST /api/v2/workflows/import` accepts verbatim. See the payload schema for what sanitization clears.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "responses": {
          "200": {
            "description": "The export payload.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WorkflowExportPayload"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/import": {
      "post": {
        "operationId": "importWorkflow",
        "summary": "Import a workflow",
        "description": "Creates a new workflow in the target workspace from an export payload produced by `GET /api/v2/workflows/{id}/export`. Block, edge, loop and parallel ids are regenerated on import, so the same payload can be imported repeatedly and alongside its source workflow without collisions. Bodies over 10 MB are rejected with 413.",
        "tags": ["Workflows"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportWorkflowBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ImportedWorkflow"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "A workflow with the same name already exists and deduplication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/execute": {
      "post": {
        "operationId": "executeWorkflowV2",
        "summary": "Execute a workflow",
        "description": "Executes a deployed workflow. Auth: `X-API-Key`, or no key at all for workflows deployed with public API access (sync/stream only). Modes are body-selected — there are no mode headers on v2: `\"async\": true` queues the run and returns a 202 receipt whose `statusUrl` is the executions resource; `\"stream\": true` returns Server-Sent Events (no `{data}` envelope on frames; `includeThinking`/`includeToolCalls` additionally require the `X-Sim-Stream-Protocol: agent-events-v1` header). Sync runs return the execution resource: a failed run is HTTP 200 with `status: \"failed\"` and the structured error (the sync timeout is `status:\"failed\"` + `error.code:\"TIMEOUT\"`). A Response block's declared payload stays inside `output` — workflow authors never control response status or headers. Optional `X-Execution-Id` request header (keyed callers only) makes the run idempotent; a reused id returns 409. Rate limiting uses the workflow execution buckets (async runs debit the larger async bucket) and 429s carry `Retry-After`; execute responses do not carry `X-RateLimit-*` headers.",
        "tags": ["Workflows"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Bodies over 10 MB are rejected with 413. Unknown keys are rejected (strict schema).",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "input": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Workflow input, keyed by the deployed API trigger's input fields."
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "Queue the run; poll the returned statusUrl. Not combinable with stream/output options; requires an API key."
                  },
                  "executionTimeoutSeconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 604800,
                    "description": "Optional server-side timeout for an async run, in seconds. Requires async=true and cannot extend the account policy."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "Stream block outputs as Server-Sent Events."
                  },
                  "selectedOutputs": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "Restrict streamed outputs to specific `BlockName.path` refs."
                  },
                  "includeThinking": {
                    "type": "boolean",
                    "default": false
                  },
                  "includeToolCalls": {
                    "type": "boolean",
                    "default": false
                  },
                  "includeFileBase64": {
                    "type": "boolean"
                  },
                  "base64MaxBytes": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10485760
                  }
                }
              },
              "example": {
                "input": {
                  "key": "value"
                }
              },
              "examples": {
                "sync": {
                  "summary": "Synchronous run",
                  "value": {
                    "input": {
                      "key": "value"
                    }
                  }
                },
                "async": {
                  "summary": "Queued run",
                  "value": {
                    "input": {
                      "key": "value"
                    },
                    "async": true
                  }
                },
                "stream": {
                  "summary": "SSE stream",
                  "value": {
                    "input": {
                      "key": "value"
                    },
                    "stream": true,
                    "selectedOutputs": ["Agent.content"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The execution resource. Served with `Cache-Control: private, no-store` and the `X-Execution-Id` header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExecutionResource"
                    }
                  }
                },
                "example": {
                  "data": {
                    "executionId": "8f14e45f-ceea-467f-a",
                    "workflowId": "wf_123",
                    "status": "completed",
                    "output": {
                      "result": "done"
                    },
                    "error": null,
                    "startedAt": "2026-07-31T00:00:00.000Z",
                    "endedAt": "2026-07-31T00:00:01.000Z",
                    "durationMs": 1000
                  }
                },
                "examples": {
                  "completed": {
                    "summary": "Completed run",
                    "value": {
                      "data": {
                        "executionId": "exec_1",
                        "workflowId": "wf_123",
                        "status": "completed",
                        "output": {
                          "result": "done"
                        },
                        "error": null,
                        "durationMs": 1000
                      }
                    }
                  },
                  "failed": {
                    "summary": "Failed run (still HTTP 200)",
                    "value": {
                      "data": {
                        "executionId": "exec_2",
                        "workflowId": "wf_123",
                        "status": "failed",
                        "output": {
                          "partial": true
                        },
                        "error": {
                          "message": "Invalid credentials",
                          "code": "BLOCK_EXECUTION_FAILED",
                          "blockId": "b_9",
                          "blockName": "Send Email",
                          "blockType": "gmail"
                        },
                        "durationMs": 310
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Queued (async). Poll `statusUrl` until `status` is terminal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["executionId", "statusUrl"],
                      "properties": {
                        "executionId": {
                          "type": "string"
                        },
                        "statusUrl": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "executionId": "exec_1",
                    "statusUrl": "https://www.sim.ai/api/v2/workflows/wf_123/executions/exec_1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The `X-Execution-Id` was already used.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the 10 MB limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "Execution infrastructure temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workflows/{id}/executions": {
      "get": {
        "operationId": "listWorkflowExecutionsV2",
        "summary": "List workflow executions",
        "description": "List the durable executions belonging to one workflow. Freshly queued runs are available through their execution status URL but do not enter this history until durable execution logging begins. This lifecycle collection is intentionally lightweight; fetch one execution for output and pause detail, or fetch `/api/v2/logs/{executionId}` for diagnostic trace data.",
        "tags": ["Workflows"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["pending", "running", "completed", "failed", "cancelled", "paused"]
            }
          },
          {
            "name": "trigger",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workflow executions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowExecutionListItem"
                      }
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "executionId": "exec_1",
                      "workflowId": "wf_123",
                      "status": "completed",
                      "trigger": "api",
                      "startedAt": "2026-07-31T00:00:00.000Z",
                      "endedAt": "2026-07-31T00:00:01.000Z",
                      "durationMs": 1000,
                      "cost": {
                        "total": 0.02
                      }
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/executions/{executionId}": {
      "get": {
        "operationId": "getWorkflowExecutionV2",
        "summary": "Get execution status",
        "description": "The single status URL for sync and async runs. Freshly queued async runs report `queued` (backfilled from the job queue before the durable record exists), then `running`, then a terminal status. Failed runs carry the structured error. `includeOutput=true` adds the final output on completed runs; `selectedOutputs` extracts specific block outputs.",
        "tags": ["Workflows"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "includeOutput",
            "in": "query",
            "required": false,
            "schema": {
              "enum": ["true", "false"]
            }
          },
          {
            "name": "selectedOutputs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated `blockId.path` selectors."
          }
        ],
        "responses": {
          "200": {
            "description": "The execution status resource.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "executionId",
                        "workflowId",
                        "status",
                        "trigger",
                        "startedAt",
                        "endedAt",
                        "durationMs",
                        "paused",
                        "cost",
                        "error",
                        "output",
                        "blockOutputs"
                      ],
                      "properties": {
                        "executionId": {
                          "type": "string"
                        },
                        "workflowId": {
                          "type": "string"
                        },
                        "status": {
                          "enum": [
                            "queued",
                            "pending",
                            "running",
                            "completed",
                            "failed",
                            "cancelled",
                            "paused"
                          ]
                        },
                        "trigger": {
                          "type": ["string", "null"]
                        },
                        "startedAt": {
                          "type": ["string", "null"]
                        },
                        "endedAt": {
                          "type": ["string", "null"]
                        },
                        "durationMs": {
                          "type": ["number", "null"]
                        },
                        "paused": {
                          "type": ["object", "null"],
                          "description": "Pause detail for human-in-the-loop runs, including the context ID required by the resume endpoint.",
                          "required": [
                            "contextId",
                            "pausedAt",
                            "resumeAt",
                            "pauseKind",
                            "blockedOnBlockId",
                            "automaticResumeWaitingReason",
                            "pausedExecutionId",
                            "pausePointCount",
                            "resumedCount"
                          ],
                          "properties": {
                            "contextId": { "type": "string" },
                            "pausedAt": { "type": "string" },
                            "resumeAt": { "type": ["string", "null"] },
                            "pauseKind": {
                              "type": ["string", "null"],
                              "enum": ["time", "human", null]
                            },
                            "blockedOnBlockId": { "type": ["string", "null"] },
                            "automaticResumeWaitingReason": { "type": ["string", "null"] },
                            "pausedExecutionId": { "type": "string" },
                            "pausePointCount": { "type": "number" },
                            "resumedCount": { "type": "number" }
                          }
                        },
                        "cost": {
                          "type": ["object", "null"],
                          "properties": {
                            "total": {
                              "type": "number"
                            }
                          }
                        },
                        "error": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/ExecutionError"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "output": {
                          "description": "Final output; only with `includeOutput=true` on completed runs."
                        },
                        "blockOutputs": {
                          "type": ["object", "null"]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "executionId": "exec_1",
                    "workflowId": "wf_123",
                    "status": "completed",
                    "trigger": "api",
                    "startedAt": "2026-07-31T00:00:00.000Z",
                    "endedAt": "2026-07-31T00:00:01.000Z",
                    "durationMs": 1000,
                    "paused": null,
                    "cost": {
                      "total": 0.02
                    },
                    "error": null,
                    "output": null,
                    "blockOutputs": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/executions/{executionId}/resume": {
      "post": {
        "operationId": "resumeWorkflowExecutionV2",
        "summary": "Resume a workflow execution",
        "description": "Resumes one human-in-the-loop pause context on the parent execution. Responses are always JSON and the resumed attempt receives a new execution ID. Sync attempts return the execution resource. Async, serialized, and inherited stream-mode attempts return a 202 receipt whose `statusUrl` is the v2 execution resource.",
        "tags": ["Workflows"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "description": "The execution ID of the paused parent run.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The pause context to resume and its optional input. Bodies over 10 MB and unknown keys are rejected.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["contextId"],
                "properties": {
                  "contextId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The context ID of the human-in-the-loop pause point."
                  },
                  "input": {
                    "description": "Input supplied to the paused block."
                  }
                }
              },
              "example": {
                "contextId": "ctx_123",
                "input": {
                  "approved": true,
                  "comments": "Looks good to proceed"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The completed, failed, paused, or cancelled resume execution resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExecutionResource"
                    }
                  }
                },
                "example": {
                  "data": {
                    "executionId": "resume_exec_1",
                    "workflowId": "wf_123",
                    "status": "completed",
                    "output": {
                      "result": "approved"
                    },
                    "error": null,
                    "durationMs": 420
                  }
                }
              }
            }
          },
          "202": {
            "description": "The resume is queued. Poll `statusUrl` using the returned resume execution ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["executionId", "statusUrl"],
                      "properties": {
                        "executionId": {
                          "type": "string"
                        },
                        "statusUrl": {
                          "type": "string"
                        },
                        "queuePosition": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "executionId": "resume_exec_1",
                    "statusUrl": "https://www.sim.ai/api/v2/workflows/wf_123/executions/resume_exec_1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The pause context cannot be resumed in its current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "description": "Resume execution infrastructure temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workflows/{id}/executions/{executionId}/cancel": {
      "post": {
        "operationId": "cancelExecutionV2",
        "summary": "Cancel an execution",
        "description": "Cancels a running or paused execution. `reason` explains how the cancellation was recorded.",
        "tags": ["Workflows"],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation outcome.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "success",
                        "executionId",
                        "redisAvailable",
                        "durablyRecorded",
                        "locallyAborted",
                        "pausedCancelled"
                      ],
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "executionId": {
                          "type": "string"
                        },
                        "redisAvailable": {
                          "type": "boolean"
                        },
                        "durablyRecorded": {
                          "type": "boolean"
                        },
                        "locallyAborted": {
                          "type": "boolean"
                        },
                        "pausedCancelled": {
                          "type": "boolean"
                        },
                        "reason": {
                          "enum": [
                            "recorded",
                            "redis_unavailable",
                            "redis_write_failed",
                            "paused_event_publish_failed",
                            "paused_database_cancel_failed"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "success": true,
                    "executionId": "exec_1",
                    "redisAvailable": true,
                    "durablyRecorded": true,
                    "locallyAborted": false,
                    "pausedCancelled": false,
                    "reason": "recorded"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workflows/folders": {
      "get": {
        "operationId": "listWorkflowsFolders",
        "summary": "List Folders",
        "description": "List active folders for this resource. Omit `parentPath` for the full tree, or pass a canonical path (including `/`) for immediate children only.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "parentPath",
            "in": "query",
            "required": false,
            "description": "Canonical parent path. `/` lists root folders; omit for every folder.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Name search.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"],
              "default": "name"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowsFolder"
                      }
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createWorkflowsFolder",
        "summary": "Create Folder",
        "description": "Create exactly one folder leaf. Its parent path must already exist.",
        "tags": ["Workflows"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "path"],
                "properties": {
                  "workspaceId": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string",
                    "description": "Canonical non-root folder path."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["folder"],
                      "properties": {
                        "folder": {
                          "$ref": "#/components/schemas/WorkflowsFolder"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "relocateWorkflowsFolder",
        "summary": "Rename or Move Folder",
        "description": "Rename, move, or rename and move a folder. Descendant paths change with the folder.",
        "tags": ["Workflows"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "path", "destinationPath"],
                "properties": {
                  "workspaceId": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string",
                    "description": "Current canonical non-root path."
                  },
                  "destinationPath": {
                    "type": "string",
                    "description": "New canonical non-root path."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["folder"],
                      "properties": {
                        "folder": {
                          "$ref": "#/components/schemas/WorkflowsFolder"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflowsFolder",
        "summary": "Delete Folder",
        "description": "Delete a folder. By default the folder must be empty. With `recursive=true`, its descendant folders and resources are deleted too.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Canonical non-root folder path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "description": "Whether to delete the subtree.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["path", "deleted", "deletedItems"],
                      "properties": {
                        "path": {
                          "type": "string"
                        },
                        "deleted": {
                          "type": "boolean",
                          "const": true
                        },
                        "deletedItems": {
                          "type": "object",
                          "required": ["folders", "workflows"],
                          "properties": {
                            "folders": {
                              "type": "integer"
                            },
                            "workflows": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your Sim API key (personal or workspace). Generate one from the Sim dashboard under Settings > API Keys."
      }
    },
    "parameters": {
      "WorkspaceId": {
        "name": "workspaceId",
        "in": "query",
        "required": true,
        "description": "The unique identifier of the workspace to list workflows from.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
        }
      },
      "WorkflowId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique workflow identifier.",
        "schema": {
          "type": "string",
          "example": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"
        }
      },
      "VersionNumber": {
        "name": "version",
        "in": "path",
        "required": true,
        "description": "The deployment version number, as returned by the version list.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "example": 3
        }
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "The maximum number of requests permitted in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 60
        }
      },
      "RateLimitRemaining": {
        "description": "The number of requests remaining in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 59
        }
      },
      "RateLimitReset": {
        "description": "ISO 8601 timestamp at which the current rate-limit window resets.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2026-06-29T21:50:00.000Z"
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Canonical v2 error envelope. Every non-2xx response uses this shape.",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable, machine-readable error code.",
                "enum": [
                  "BAD_REQUEST",
                  "UNAUTHORIZED",
                  "USAGE_LIMIT_EXCEEDED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "CONFLICT",
                  "PAYLOAD_TOO_LARGE",
                  "UNSUPPORTED_MEDIA_TYPE",
                  "LOCKED",
                  "RATE_LIMITED",
                  "INTERNAL_ERROR"
                ]
              },
              "message": {
                "type": "string",
                "description": "Human-readable description of what went wrong."
              },
              "details": {
                "description": "Optional structured detail about the error (e.g. field-level validation issues). Shape varies by error code; absent when there is nothing to add."
              }
            }
          }
        }
      },
      "WorkflowListItem": {
        "type": "object",
        "description": "Summary representation of a workflow returned by the list endpoint.",
        "required": [
          "id",
          "name",
          "description",
          "folderPath",
          "workspaceId",
          "isDeployed",
          "deployedAt",
          "runCount",
          "lastRunAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique workflow identifier.",
            "example": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"
          },
          "name": {
            "type": "string",
            "description": "Human-readable workflow name.",
            "example": "Customer Support Agent"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional description of what the workflow does. `null` when unset.",
            "example": "Routes incoming support tickets and drafts responses"
          },
          "folderPath": {
            "type": "string",
            "description": "Canonical containing-folder path. `/` is the workspace root.",
            "example": "/Engineering"
          },
          "workspaceId": {
            "type": "string",
            "description": "The workspace this workflow belongs to.",
            "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
          },
          "isDeployed": {
            "type": "boolean",
            "description": "Whether the workflow is currently deployed and available for API execution.",
            "example": true
          },
          "deployedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ISO 8601 timestamp of the most recent deployment. `null` when never deployed.",
            "example": "2026-06-12T10:30:00.000Z"
          },
          "runCount": {
            "type": "integer",
            "description": "Total number of times this workflow has been executed.",
            "example": 142
          },
          "lastRunAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ISO 8601 timestamp of the most recent execution. `null` when never run.",
            "example": "2026-06-20T14:15:22.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the workflow was created.",
            "example": "2026-01-10T09:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the workflow was last modified.",
            "example": "2026-06-18T16:45:00.000Z"
          }
        }
      },
      "WorkflowInputField": {
        "type": "object",
        "description": "A single trigger input field extracted from the workflow's input-definition block. Use these to construct the `input` object when executing the workflow.",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Field name as referenced by the workflow.",
            "example": "ticketBody"
          },
          "type": {
            "type": "string",
            "description": "Declared field type (e.g. `string`, `number`, `boolean`, `object`).",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Optional human-readable description of the field.",
            "example": "The raw text of the incoming support ticket."
          }
        }
      },
      "WorkflowDetail": {
        "type": "object",
        "description": "Full workflow representation: every list field plus workflow-level variables and trigger input field definitions.",
        "required": [
          "id",
          "name",
          "description",
          "folderPath",
          "workspaceId",
          "isDeployed",
          "deployedAt",
          "runCount",
          "lastRunAt",
          "variables",
          "inputs",
          "createdAt",
          "updatedAt"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowListItem"
          },
          {
            "type": "object",
            "required": ["variables", "inputs"],
            "properties": {
              "variables": {
                "type": "object",
                "description": "Workflow-scoped variables keyed by variable id. Each value is a structured variable object (`{ id, name, type, value, ... }`); only the inner `value` is user-defined. Empty object when the workflow defines no variables.",
                "additionalProperties": true,
                "example": {
                  "8d2c1f0a-3b4e-4c5d-9a6f-1e2d3c4b5a60": {
                    "id": "8d2c1f0a-3b4e-4c5d-9a6f-1e2d3c4b5a60",
                    "name": "supportEmail",
                    "type": "string",
                    "value": "support@example.com"
                  }
                }
              },
              "inputs": {
                "type": "array",
                "description": "The workflow's trigger input field definitions.",
                "items": {
                  "$ref": "#/components/schemas/WorkflowInputField"
                }
              }
            }
          }
        ]
      },
      "DeploymentState": {
        "type": "object",
        "description": "Base deployment state shared by deploy, undeploy, and rollback results.",
        "required": [
          "id",
          "isDeployed",
          "deployedAt",
          "warnings",
          "activeDeployment",
          "latestDeploymentAttempt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique workflow identifier.",
            "example": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"
          },
          "isDeployed": {
            "type": "boolean",
            "description": "Whether the workflow is deployed and available for API execution after the operation."
          },
          "deployedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ISO 8601 timestamp of the active deployment. `null` when the workflow is not deployed.",
            "example": "2026-06-12T10:30:00.000Z"
          },
          "warnings": {
            "type": "array",
            "description": "Non-fatal warnings. Present when trigger, schedule, or MCP side-effect sync is still in progress or needs a redeploy. Empty array when there is nothing to report.",
            "items": {
              "type": "string"
            }
          },
          "activeDeployment": {
            "type": ["object", "null"],
            "description": "Summary of the currently live deployment version, or null when none is active."
          },
          "latestDeploymentAttempt": {
            "type": ["object", "null"],
            "description": "Lifecycle status of the most recent deploy attempt (preparing/activating/active/failed/superseded) — poll this to a terminal state; deploys admit asynchronously, so HTTP success only means the attempt was accepted."
          }
        }
      },
      "DeployResult": {
        "description": "Deployment state returned after a successful deploy. `isDeployed` is always `true`.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeploymentState"
          },
          {
            "type": "object",
            "properties": {
              "version": {
                "type": "integer",
                "description": "The deployment version that is now active. May be omitted when the version number is unavailable.",
                "example": 4
              }
            }
          }
        ]
      },
      "UndeployResult": {
        "description": "Deployment state returned after a successful undeploy. `isDeployed` is always `false`, `deployedAt` is always `null`, and no `version` is included.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeploymentState"
          }
        ]
      },
      "RollbackResult": {
        "description": "Deployment state returned after a successful rollback. `isDeployed` is always `true` and `version` identifies the re-activated deployment version.",
        "allOf": [
          {
            "$ref": "#/components/schemas/DeploymentState"
          },
          {
            "type": "object",
            "required": ["version"],
            "properties": {
              "version": {
                "type": "integer",
                "description": "The deployment version that was re-activated.",
                "example": 3
              }
            }
          }
        ]
      },
      "WorkflowExportPayload": {
        "type": "object",
        "required": ["version", "exportedAt", "workflow", "state"],
        "description": "Portable workflow export envelope. Secret-sanitized: password fields are cleared unless the value is a whole `{{ENV_VAR}}` reference (preserved so the import resolves it in the target workspace), OAuth credentials are cleared, and workspace-scoped bindings (knowledge-base/file/channel/project selectors and id-keyed fields) are cleared rather than carried across as dangling ids — so a re-import is not a byte-for-byte clone: those bindings must be re-selected. Workflow variables are emitted as stored.",
        "properties": {
          "version": {
            "const": "1.0"
          },
          "exportedAt": {
            "type": "string",
            "format": "date-time"
          },
          "workflow": {
            "type": "object",
            "required": ["id", "name", "description", "workspaceId", "folderPath"],
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": ["string", "null"]
              },
              "workspaceId": {
                "type": ["string", "null"]
              },
              "folderPath": {
                "type": "string",
                "description": "Canonical containing-folder path. `/` is the workspace root."
              }
            }
          },
          "state": {
            "type": "object",
            "description": "Sanitized workflow graph: `blocks`, `edges`, `loops`, `parallels`, optional `metadata` and `variables`.",
            "additionalProperties": true
          }
        }
      },
      "ImportWorkflowBody": {
        "type": "object",
        "required": ["workspaceId", "workflow"],
        "properties": {
          "workspaceId": {
            "type": "string",
            "minLength": 1
          },
          "folderPath": {
            "type": "string",
            "minLength": 1,
            "description": "Canonical containing-folder path. `/` is the workspace root."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Overrides the payload's own metadata name."
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Overrides the payload's own metadata description."
          },
          "workflow": {
            "description": "The export envelope emitted by `GET /api/v2/workflows/{id}/export` (its `data` value or the whole response body), a bare workflow state (`{ blocks, edges, ... }`), or a JSON string of either.",
            "oneOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "object",
                "minProperties": 1
              }
            ]
          }
        }
      },
      "ImportedWorkflow": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "workspaceId",
          "folderPath",
          "createdAt",
          "updatedAt"
        ],
        "description": "The created workflow — the subset of the workflow resource knowable at import time.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": ["string", "null"]
          },
          "workspaceId": {
            "type": "string"
          },
          "folderPath": {
            "type": "string",
            "description": "Canonical containing-folder path. `/` is the workspace root."
          },
          "createdAt": {
[...]
