{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API v2 — Workspace Resources",
    "description": "The v2 Workspace Resources API covers the resources a workspace is provisioned with: MCP servers, skills, custom tools, folders, credentials, and secrets.\n\n## Conventions\n\nAll endpoints live under the `/api/v2` base path and share a single set of conventions:\n\n- **Authentication** — Send your Sim API key in the `X-API-Key` header on every request. Keys are scoped to a workspace (or are personal keys that target a workspace); `workspaceId` is always required so the request can be tenant-scoped and rate-limited.\n- **Single-resource and mutation responses** return `{ \"data\": ... }`.\n- **List responses** use an opaque-cursor envelope: `{ \"data\": [ ... ], \"nextCursor\": string | null }`. Pass the returned `nextCursor` back as the `cursor` query parameter to fetch the next page. When `nextCursor` is `null` there are no more results. Cursors are opaque — do not parse or construct them.\n- **Errors** use a single envelope: `{ \"error\": { \"code\": string, \"message\": string, \"details\"?: unknown } }`. The HTTP status code and the stable `code` field move together (for example `404` ⇄ `NOT_FOUND`).\n- **Rate limiting** — Every response carries the current limiter state in the `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` headers. A throttled request returns `429` with a `Retry-After` header.\n- **Secrets are write-only** — Secret values and MCP request-header values are accepted on write and never returned. Secret reads expose metadata only.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Read workspace metadata and its effective member roster (v2 API)."
    },
    {
      "name": "MCP Servers",
      "description": "Register and manage the Model Context Protocol servers a workspace connects to (v2 API)."
    },
    {
      "name": "Skills",
      "description": "Create and manage the reusable instruction documents agents can be given (v2 API)."
    },
    {
      "name": "Custom Tools",
      "description": "Create and manage the workspace's own code-backed tools that agents can call (v2 API)."
    },
    {
      "name": "Credentials",
      "description": "List OAuth and service-account connections available to a workspace (v2 API)."
    },
    {
      "name": "Secrets",
      "description": "Set and manage write-only workspace and personal secret values (v2 API)."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/workspaces/{workspaceId}": {
      "get": {
        "operationId": "getWorkspace",
        "summary": "Get Workspace",
        "description": "Return public metadata for one accessible workspace. Governance identities, billing identities, and internal membership identifiers are intentionally omitted.",
        "tags": ["Workspaces"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/workspaces/YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace metadata.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "name": "Engineering",
                    "color": "#33C482",
                    "logoUrl": null,
                    "mode": "organization",
                    "memberCount": 14,
                    "createdAt": "2026-01-15T10:30:00.000Z",
                    "updatedAt": "2026-06-20T14:02:11.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/workspaces/{workspaceId}/members": {
      "get": {
        "operationId": "listWorkspaceMembers",
        "summary": "List Workspace Members",
        "description": "List the workspace's effective members ordered by email. Explicit workspace grants and inherited organization-admin grants are merged. User IDs, membership IDs, role provenance, and billing identities are never returned.",
        "tags": ["Workspaces"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/workspaces/YOUR_WORKSPACE_ID/members?limit=50\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdPath"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum members to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page. Do not parse or construct it.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An email-ordered page of effective workspace members.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkspaceMember"
                      }
                    },
                    "nextCursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "email": "jane@example.com",
                      "name": "Jane Smith",
                      "image": null,
                      "role": "admin",
                      "isExternal": false,
                      "joinedAt": "2026-01-15T10:30:00.000Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/mcp-servers": {
      "get": {
        "operationId": "listMcpServers",
        "summary": "List MCP Servers",
        "description": "List the MCP servers registered in a workspace. The per-workspace set is small and bounded, so the full set is returned as a single page and `nextCursor` is always `null`; treat the response as a standard cursor list so pagination can be added later without a contract change.\n\nConfigured request header **values** are never returned — use `hasHeaders` and `headerNames` to see which headers are set.",
        "tags": ["MCP Servers"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/mcp-servers?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the MCP server `name`. Matches nothing else — not ids, descriptions, or content. `%` and `_` are matched literally. Must be non-empty; omit the parameter instead of sending a blank one.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP servers registered in the workspace.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The MCP servers registered in the workspace.",
                      "items": {
                        "$ref": "#/components/schemas/McpServer"
                      }
                    },
                    "nextCursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "mcp-3f7a9c21",
                      "name": "Docs server",
                      "description": "Internal documentation tools",
                      "transport": "streamable-http",
                      "authType": "headers",
                      "url": "https://mcp.example.com/sse",
                      "timeout": 30000,
                      "retries": 3,
                      "enabled": true,
                      "connectionStatus": "connected",
                      "lastError": null,
                      "toolCount": 7,
                      "lastToolsRefresh": "2025-06-20T14:02:11.000Z",
                      "lastConnected": "2025-06-20T14:02:11.000Z",
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z",
                      "hasHeaders": true,
                      "headerNames": ["Authorization"],
                      "hasOauthClientSecret": false
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createMcpServer",
        "summary": "Create MCP Server",
        "description": "Register a new MCP server in a workspace. Requires `write` permission on the workspace.\n\nA server's identity is derived from its URL, so registering a URL that is already registered returns `409 CONFLICT` rather than overwriting the existing server — use `PATCH /api/v2/mcp-servers/{id}` to change one.\n\nThe `url` must be an absolute `http`/`https` URL and may not contain `{{ENV_VAR}}` references: templated hostnames defer domain-allowlist and SSRF checks to call time, which is not safe to accept over an API key.\n\n`headers` and `oauthClientSecret` are write-only and are never returned.",
        "tags": ["MCP Servers"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/mcp-servers\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"name\": \"Docs server\",\n    \"url\": \"https://mcp.example.com/sse\",\n    \"headers\": { \"Authorization\": \"Bearer YOUR_TOKEN\" }\n  }'"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The MCP server to register.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMcpServerBody"
              },
              "examples": {
                "headerAuth": {
                  "summary": "Header-authenticated server",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "name": "Docs server",
                    "description": "Internal documentation tools",
                    "url": "https://mcp.example.com/sse",
                    "authType": "headers",
                    "headers": {
                      "Authorization": "Bearer YOUR_TOKEN"
                    },
                    "timeout": 30000,
                    "retries": 3
                  }
                },
                "oauth": {
                  "summary": "OAuth server with pre-registered client credentials",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "name": "Partner server",
                    "url": "https://mcp.partner.example.com/mcp",
                    "authType": "oauth",
                    "oauthClientId": "sim-client",
                    "oauthClientSecret": "YOUR_CLIENT_SECRET"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The MCP server was registered.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerData"
                },
                "example": {
                  "data": {
                    "mcpServer": {
                      "id": "mcp-3f7a9c21",
                      "name": "Docs server",
                      "description": "Internal documentation tools",
                      "transport": "streamable-http",
                      "authType": "headers",
                      "url": "https://mcp.example.com/sse",
                      "timeout": 30000,
                      "retries": 3,
                      "enabled": true,
                      "connectionStatus": "connected",
                      "lastError": null,
                      "toolCount": 0,
                      "createdAt": "2025-06-20T14:02:11.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z",
                      "hasHeaders": true,
                      "headerNames": ["Authorization"],
                      "hasOauthClientSecret": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/mcp-servers/{id}": {
      "get": {
        "operationId": "getMcpServer",
        "summary": "Get MCP Server",
        "description": "Fetch a single MCP server by id. Configured request header values and the OAuth client secret are never returned.",
        "tags": ["MCP Servers"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/mcp-servers/mcp-3f7a9c21?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/McpServerId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The MCP server.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerData"
                },
                "example": {
                  "data": {
                    "mcpServer": {
                      "id": "mcp-3f7a9c21",
                      "name": "Docs server",
                      "transport": "streamable-http",
                      "authType": "headers",
                      "url": "https://mcp.example.com/sse",
                      "enabled": true,
                      "connectionStatus": "connected",
                      "lastError": null,
                      "toolCount": 7,
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z",
                      "hasHeaders": true,
                      "headerNames": ["Authorization"],
                      "hasOauthClientSecret": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateMcpServer",
        "summary": "Update MCP Server",
        "description": "Update an MCP server's configuration. Only the fields you send are changed. Requires `write` permission on the workspace.\n\n`url` is immutable: a server's id is derived from its URL, so re-pointing it would leave the id hashing an address the server no longer uses and allow two servers on one URL. Sending a different `url` returns `400` — delete the server and create one at the new address. Sending the URL it already has is accepted, so a full-object PATCH still works.\n\nChanging the auth type or the OAuth client credentials invalidates any existing OAuth grant for the server and resets its connection state.",
        "tags": ["MCP Servers"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/mcp-servers/mcp-3f7a9c21\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"enabled\": false\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/McpServerId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The fields to change. `workspaceId` is required so the request is tenant-scoped.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMcpServerBody"
              },
              "examples": {
                "disable": {
                  "summary": "Disable a server",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "enabled": false
                  }
                },
                "rotateHeaders": {
                  "summary": "Rotate the auth header",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "headers": {
                      "Authorization": "Bearer NEW_TOKEN"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated MCP server.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerData"
                },
                "example": {
                  "data": {
                    "mcpServer": {
                      "id": "mcp-3f7a9c21",
                      "name": "Docs server",
                      "transport": "streamable-http",
                      "authType": "headers",
                      "url": "https://mcp.example.com/sse",
                      "enabled": false,
                      "connectionStatus": "connected",
                      "lastError": null,
                      "toolCount": 7,
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-21T08:30:00.000Z",
                      "hasHeaders": true,
                      "headerNames": ["Authorization"],
                      "hasOauthClientSecret": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMcpServer",
        "summary": "Delete MCP Server",
        "description": "Remove an MCP server from the workspace and revoke any OAuth tokens issued for it. Requires `write` permission on the workspace. Workflows that referenced the server's tools keep their blocks but can no longer call it.",
        "tags": ["MCP Servers"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/mcp-servers/mcp-3f7a9c21?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/McpServerId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The MCP server was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAcknowledgement"
                },
                "example": {
                  "data": {
                    "id": "mcp-3f7a9c21",
                    "deleted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "List Skills",
        "description": "List the skills available in a workspace. Built-in template skills that ship with Sim are included and are marked `readOnly: true`.\n\nSkill bodies can be up to 50 000 characters, so the list returns summaries only — fetch `GET /api/v2/skills/{id}` for a skill's `content`. The per-workspace set is small and bounded, so the full set is returned as a single page and `nextCursor` is always `null`.",
        "tags": ["Skills"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/skills?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the skill `name`. Matches nothing else — not ids, descriptions, or content. `%` and `_` are matched literally. Must be non-empty; omit the parameter instead of sending a blank one.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by. Built-in skills have no stored timestamps and sort as if created at the Unix epoch.",
            "schema": {
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skills available in the workspace.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The skills available in the workspace, without their bodies.",
                      "items": {
                        "$ref": "#/components/schemas/SkillSummary"
                      }
                    },
                    "nextCursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "deploy-workflow",
                      "name": "deploy-workflow",
                      "description": "How to deploy a finished workflow",
                      "readOnly": true,
                      "createdAt": "1970-01-01T00:00:00.000Z",
                      "updatedAt": "1970-01-01T00:00:00.000Z"
                    },
                    {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "name": "refund-policy",
                      "description": "How support should handle refund requests",
                      "readOnly": false,
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createSkill",
        "summary": "Create Skill",
        "description": "Create a skill in a workspace. Requires `write` permission on the workspace, and the creator becomes an editor of the new skill.\n\n`name` must be kebab-case and unique in the workspace; names reserved by built-in skills are rejected. Unlike the internal endpoint this creates exactly one skill and answers with it, not with the whole workspace list.",
        "tags": ["Skills"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/skills\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"name\": \"refund-policy\",\n    \"description\": \"How support should handle refund requests\",\n    \"content\": \"# Refund policy\\n\\nAlways check the order date first.\"\n  }'"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The skill to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkillBody"
              },
              "examples": {
                "refundPolicy": {
                  "summary": "A support playbook",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "name": "refund-policy",
                    "description": "How support should handle refund requests",
                    "content": "# Refund policy\n\nAlways check the order date first."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The skill was created.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillData"
                },
                "example": {
                  "data": {
                    "skill": {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "name": "refund-policy",
                      "description": "How support should handle refund requests",
                      "content": "# Refund policy\n\nAlways check the order date first.",
                      "readOnly": false,
                      "createdAt": "2025-06-20T14:02:11.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/skills/{id}": {
      "get": {
        "operationId": "getSkill",
        "summary": "Get Skill",
        "description": "Fetch a single skill by id, including its full `content`. Built-in template skills resolve here too and are marked `readOnly: true`.",
        "tags": ["Skills"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/skills/V1StGXR8Z5jdHi6BmyT?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The skill.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillData"
                },
                "example": {
                  "data": {
                    "skill": {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "name": "refund-policy",
                      "description": "How support should handle refund requests",
                      "content": "# Refund policy\n\nAlways check the order date first.",
                      "readOnly": false,
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateSkill",
        "summary": "Update Skill",
        "description": "Update a skill. Only the fields you send are changed, so a partial edit never clobbers a concurrent change to a field you did not send.\n\nRequires skill editor access — an explicit editor grant on the skill, or workspace admin. Built-in skills are read-only and are rejected.",
        "tags": ["Skills"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/skills/V1StGXR8Z5jdHi6BmyT\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"description\": \"Updated refund guidance\"\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The fields to change. At least one of `name`, `description`, or `content` is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSkillBody"
              },
              "examples": {
                "editDescription": {
                  "summary": "Change the description only",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "description": "Updated refund guidance"
                  }
                },
                "replaceContent": {
                  "summary": "Replace the skill body",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "content": "# Refund policy\n\nCheck the order date, then the payment method."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated skill.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillData"
                },
                "example": {
                  "data": {
                    "skill": {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "name": "refund-policy",
                      "description": "Updated refund guidance",
                      "content": "# Refund policy\n\nAlways check the order date first.",
                      "readOnly": false,
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-21T08:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteSkill",
        "summary": "Delete Skill",
        "description": "Delete a skill from the workspace. Requires skill editor access — an explicit editor grant on the skill, or workspace admin. Built-in skills are read-only and are rejected.",
        "tags": ["Skills"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/skills/V1StGXR8Z5jdHi6BmyT?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SkillId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The skill was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAcknowledgement"
                },
                "example": {
                  "data": {
                    "id": "V1StGXR8Z5jdHi6BmyT",
                    "deleted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/custom-tools": {
      "get": {
        "operationId": "listCustomTools",
        "summary": "List Custom Tools",
        "description": "List the custom tools defined in a workspace. Custom tools are code-backed functions agents can call, declared with an OpenAI-style function schema.\n\nOnly workspace tools are returned — legacy personal tools, which predate workspace scoping and belong to a single user, are not part of the public API. The per-workspace set is small and bounded, so the full set is returned as a single page and `nextCursor` is always `null`.",
        "tags": ["Custom Tools"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/custom-tools?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the custom tool `title`. Matches nothing else — not ids, descriptions, or content. `%` and `_` are matched literally. Must be non-empty; omit the parameter instead of sending a blank one.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": ["title", "createdAt", "updatedAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom tools defined in the workspace.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The custom tools defined in the workspace.",
                      "items": {
                        "$ref": "#/components/schemas/CustomTool"
                      }
                    },
                    "nextCursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "title": "lookup_order",
                      "schema": {
                        "type": "function",
                        "function": {
                          "name": "lookup_order",
                          "description": "Look up an order by id",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "orderId": {
                                "type": "string"
                              }
                            },
                            "required": ["orderId"]
                          }
                        }
                      },
                      "code": "const res = await fetch(`https://api.example.com/orders/${orderId}`)\nreturn await res.json()",
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createCustomTool",
        "summary": "Create Custom Tool",
        "description": "Create a custom tool in a workspace. Requires `write` permission on the workspace.\n\n`title` must be unique within the workspace — tools resolve by title at call time, so a duplicate returns `409 CONFLICT`. `code` is the tool body, executed in Sim's sandboxed function runtime with the schema's parameters bound as variables.",
        "tags": ["Custom Tools"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/custom-tools\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"title\": \"lookup_order\",\n    \"schema\": {\n      \"type\": \"function\",\n      \"function\": {\n        \"name\": \"lookup_order\",\n        \"parameters\": {\n          \"type\": \"object\",\n          \"properties\": { \"orderId\": { \"type\": \"string\" } },\n          \"required\": [\"orderId\"]\n        }\n      }\n    },\n    \"code\": \"return { ok: true }\"\n  }'"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The custom tool to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomToolBody"
              },
              "examples": {
                "lookupOrder": {
                  "summary": "A tool that calls an internal API",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "title": "lookup_order",
                    "schema": {
                      "type": "function",
                      "function": {
                        "name": "lookup_order",
                        "description": "Look up an order by id",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "orderId": {
                              "type": "string"
                            }
                          },
                          "required": ["orderId"]
                        }
                      }
                    },
                    "code": "const res = await fetch(`https://api.example.com/orders/${orderId}`)\nreturn await res.json()"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The custom tool was created.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolData"
                },
                "example": {
                  "data": {
                    "customTool": {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "title": "lookup_order",
                      "schema": {
                        "type": "function",
                        "function": {
                          "name": "lookup_order",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "orderId": {
                                "type": "string"
                              }
                            },
                            "required": ["orderId"]
                          }
                        }
                      },
                      "code": "return { ok: true }",
                      "createdAt": "2025-06-20T14:02:11.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/custom-tools/{id}": {
      "get": {
        "operationId": "getCustomTool",
        "summary": "Get Custom Tool",
        "description": "Fetch a single custom tool by id, scoped to the workspace.",
        "tags": ["Custom Tools"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/custom-tools/V1StGXR8Z5jdHi6BmyT?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomToolId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The custom tool.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolData"
                },
                "example": {
                  "data": {
                    "customTool": {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "title": "lookup_order",
                      "schema": {
                        "type": "function",
                        "function": {
                          "name": "lookup_order",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "orderId": {
                                "type": "string"
                              }
                            },
                            "required": ["orderId"]
                          }
                        }
                      },
                      "code": "return { ok: true }",
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomTool",
        "summary": "Update Custom Tool",
        "description": "Update a custom tool. Only the fields you send are changed; omitted fields keep their stored values. Requires `write` permission on the workspace.\n\nRenaming onto a title another tool already uses returns `409 CONFLICT`.",
        "tags": ["Custom Tools"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/custom-tools/V1StGXR8Z5jdHi6BmyT\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"code\": \"return { ok: false }\"\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomToolId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The fields to change. At least one of `title`, `schema`, or `code` is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomToolBody"
              },
              "examples": {
                "editCode": {
                  "summary": "Replace the implementation only",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "code": "return { ok: false }"
                  }
                },
                "rename": {
                  "summary": "Rename the tool",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "title": "find_order"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated custom tool.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolData"
                },
                "example": {
                  "data": {
                    "customTool": {
                      "id": "V1StGXR8Z5jdHi6BmyT",
                      "title": "lookup_order",
                      "schema": {
                        "type": "function",
                        "function": {
                          "name": "lookup_order",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "orderId": {
                                "type": "string"
                              }
                            },
                            "required": ["orderId"]
                          }
                        }
                      },
                      "code": "return { ok: false }",
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-21T08:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomTool",
        "summary": "Delete Custom Tool",
        "description": "Delete a custom tool from the workspace. Requires `write` permission on the workspace. Agent blocks that referenced the tool keep their configuration but can no longer call it.",
        "tags": ["Custom Tools"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/custom-tools/V1StGXR8Z5jdHi6BmyT?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomToolId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The custom tool was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAcknowledgement"
                },
                "example": {
                  "data": {
                    "id": "V1StGXR8Z5jdHi6BmyT",
                    "deleted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/credentials": {
      "get": {
        "operationId": "listCredentials",
        "summary": "List Credentials",
        "description": "List the OAuth and service-account connections visible to the caller in a workspace. Environment secrets are a separate resource under `/api/v2/secrets`. Credential creation, update, deletion, and single-resource reads are intentionally not exposed yet.\n\nSecret material is never returned. `hasServiceAccountKey` reports only whether a service-account payload is configured. The workspace credential set is small and bounded, so `nextCursor` is always `null`.",
        "tags": ["Credentials"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/credentials?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Only return connections of this kind.",
            "schema": {
              "type": "string",
              "enum": ["oauth", "service_account"]
            }
          },
          {
            "name": "providerId",
            "in": "query",
            "required": false,
            "description": "Only return credentials for this integration.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "slack"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against `displayName`.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": ["displayName", "createdAt", "updatedAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth and service-account credentials visible to the caller.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Credential"
                      }
                    },
                    "nextCursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                      "type": "service_account",
                      "displayName": "Zoom account acct_123",
                      "description": null,
                      "providerId": "zoom-service-account",
                      "accountId": null,
                      "hasServiceAccountKey": true,
                      "role": "admin",
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/secrets": {
      "get": {
        "operationId": "listSecrets",
        "summary": "List Secrets",
        "description": "List workspace and caller-owned personal secret metadata. Only names, scope, role, and timestamps are returned. Secret values are never read or returned by this API.",
        "tags": ["Secrets"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl \\\n  \"https://www.sim.ai/api/v2/secrets?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "`workspace` for a shared workspace secret or `personal` for the caller-owned catalog.",
            "schema": {
              "type": "string",
              "enum": ["workspace", "personal"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the secret name.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"],
              "default": "name"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret metadata visible to the caller.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "nextCursor"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Secret"
                      }
                    },
                    "nextCursor": {
                      "$ref": "#/components/schemas/NextCursor"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "STRIPE_API_KEY",
                      "scope": "workspace",
                      "role": "admin",
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/secrets/{name}": {
      "put": {
        "operationId": "setSecret",
        "summary": "Set Secret",
        "description": "Create or replace a workspace or caller-owned personal secret. The value is encrypted at rest and is never included in the response. Updating an existing workspace secret requires credential-admin access to that secret; creating one requires workspace write access.",
        "tags": ["Secrets"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PUT \\\n  \"https://www.sim.ai/api/v2/secrets/STRIPE_API_KEY\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\":\"YOUR_WORKSPACE_ID\",\"scope\":\"workspace\",\"value\":\"YOUR_SECRET_VALUE\"}'"
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Secret name. Letters, numbers, and underscores only.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9_]+$",
              "example": "STRIPE_API_KEY"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The secret value and its scope. `value` is write-only.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSecretBody"
              },
              "example": {
                "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                "scope": "workspace",
                "value": "YOUR_SECRET_VALUE"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The existing secret value was replaced.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretData"
                },
                "example": {
                  "data": {
                    "secret": {
                      "name": "STRIPE_API_KEY",
                      "scope": "workspace",
                      "role": "admin",
                      "createdAt": "2025-06-01T09:14:00.000Z",
                      "updatedAt": "2025-06-20T14:02:11.000Z"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "The secret was created.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteSecret",
        "summary": "Delete Secret",
        "description": "Delete a workspace or caller-owned personal secret. The stored value is never read or returned. Deleting an existing workspace secret requires credential-admin access to that secret.",
        "tags": ["Secrets"],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/secrets/STRIPE_API_KEY?workspaceId=YOUR_WORKSPACE_ID&scope=workspace\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Secret name. Letters, numbers, and underscores only.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9_]+$",
              "example": "STRIPE_API_KEY"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "description": "`workspace` for a shared workspace secret or `personal` for the caller-owned catalog.",
            "schema": {
              "type": "string",
              "enum": ["workspace", "personal"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The secret was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretDeleteData"
                },
                "example": {
                  "data": {
                    "name": "STRIPE_API_KEY",
                    "scope": "workspace",
                    "deleted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your Sim API key (personal or workspace). Generate one from the Sim dashboard under Settings > API Keys."
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "The maximum number of requests permitted in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 60
        }
      },
      "RateLimitRemaining": {
        "description": "The number of requests remaining in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 59
        }
      },
      "RateLimitReset": {
        "description": "ISO 8601 timestamp at which the current rate-limit window resets.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2025-06-20T14:16:00Z"
        }
      },
      "RetryAfter": {
        "description": "Number of seconds to wait before retrying the request.",
        "schema": {
          "type": "integer",
          "example": 30
        }
      }
    },
    "parameters": {
      "WorkspaceIdPath": {
        "name": "workspaceId",
        "in": "path",
        "required": true,
        "description": "The workspace to retrieve.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
        }
      },
      "WorkspaceIdQuery": {
        "name": "workspaceId",
        "in": "query",
        "required": true,
        "description": "The unique identifier of the workspace that scopes the request.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
        }
      },
      "McpServerId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the MCP server.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "example": "mcp-3f7a9c21"
        }
      },
      "SkillId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the skill. Built-in skills use their name as their id.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "example": "V1StGXR8Z5jdHi6BmyT"
        }
      },
      "CustomToolId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the custom tool.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "example": "V1StGXR8Z5jdHi6BmyT"
        }
      },
      "FolderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the folder.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "example": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request was malformed or failed validation. Inspect `error.details` for field-level issues.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "BAD_REQUEST",
                "message": "Workspace ID is required",
                "details": [
                  {
                    "path": "workspaceId",
                    "message": "Workspace ID is required"
                  }
                ]
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The API key is missing or invalid. Ensure the X-API-Key header is set with a valid key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Invalid API key"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The authenticated caller does not have the required permission on the workspace, or the URL was rejected by the server's MCP domain policy.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "FORBIDDEN",
                "message": "Access denied"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource does not exist or is not accessible from this workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "MCP server not found"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with the current state of the workspace — for example a resource with the same identity already exists.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "CONFLICT",
                "message": "An MCP server with this URL already exists in this workspace."
              }
            }
          }
        }
      },
      "Locked": {
        "description": "A mutation lock on the resource (or something inside it) blocks the change. Unlock it and retry.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "LOCKED",
                "message": "This folder is locked and cannot be modified"
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "The rate limit has been exceeded. Retry after the period indicated by the Retry-After header.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "RATE_LIMITED",
                "message": "API rate limit exceeded",
                "details": {
                  "retryAfter": "2025-06-20T14:16:00Z"
                }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "An unexpected error occurred on the server.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "INTERNAL_ERROR",
                "message": "Internal server error"
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "An upstream provider could not be reached to verify the request. Retry shortly.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "SERVICE_UNAVAILABLE",
                "message": "The credential provider is unavailable. Try again."
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "The canonical v2 error envelope.",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable, machine-readable error code.",
                "enum": [
                  "BAD_REQUEST",
                  "UNAUTHORIZED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "CONFLICT",
                  "LOCKED",
                  "RATE_LIMITED",
                  "INTERNAL_ERROR",
                  "SERVICE_UNAVAILABLE"
                ]
              },
              "message": {
                "type": "string",
                "description": "Human-readable description of the error."
              },
              "details": {
                "description": "Optional structured context for the error, such as field-level validation issues."
              }
            }
          }
        }
      },
      "NextCursor": {
        "type": ["string", "null"],
        "description": "Opaque cursor for the next page, or null when there are no more results. Pass it back as the `cursor` query parameter. Do not parse or construct cursors.",
        "example": null
      },
      "DeleteAcknowledgement": {
        "type": "object",
        "description": "Acknowledgement that a resource was deleted.",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["id", "deleted"],
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the resource that was deleted."
              },
              "deleted": {
                "type": "boolean",
                "const": true
              }
            }
          }
        }
      },
      "Workspace": {
        "type": "object",
        "description": "Public workspace metadata. Governance and billing identities are intentionally omitted.",
        "required": [
          "id",
          "name",
          "color",
          "logoUrl",
          "mode",
          "memberCount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "logoUrl": {
            "type": ["string", "null"]
          },
          "mode": {
            "type": "string",
            "enum": ["personal", "organization", "grandfathered_shared"]
          },
          "memberCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of effective members, including inherited organization admins."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkspaceMember": {
        "type": "object",
        "description": "An effective workspace member identified publicly by email.",
        "required": ["email", "name", "image", "role", "isExternal", "joinedAt"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": ["string", "null"]
          },
          "role": {
            "type": "string",
            "enum": ["admin", "write", "read"]
          },
          "isExternal": {
            "type": "boolean"
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "McpServer": {
        "type": "object",
        "description": "An MCP server registered in a workspace. Request header values and the OAuth client secret are write-only and never appear here.",
        "required": [
          "id",
          "name",
          "transport",
          "enabled",
          "createdAt",
          "updatedAt",
          "hasHeaders",
          "headerNames",
          "hasOauthClientSecret"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The server's unique identifier, derived from the workspace and the server URL."
          },
          "name": {
            "type": "string",
            "description": "Display name of the server."
          },
          "description": {
            "type": "string",
            "description": "Optional description."
          },
          "transport": {
            "type": "string",
            "enum": ["streamable-http"],
            "description": "Transport used to talk to the server."
          },
          "authType": {
            "type": "string",
            "enum": ["none", "headers", "oauth"],
            "description": "How Sim authenticates to the server."
          },
          "url": {
            "type": "string",
            "description": "The server's endpoint URL."
          },
          "timeout": {
            "type": "number",
            "description": "Per-request timeout in milliseconds."
          },
          "retries": {
            "type": "number",
            "description": "Number of retries per request."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the server's tools are available to workflows."
          },
          "connectionStatus": {
            "type": "string",
            "enum": ["connected", "disconnected", "error"],
            "description": "Result of the most recent connection attempt."
          },
          "lastError": {
            "type": ["string", "null"],
            "description": "Message from the most recent failed connection, if any."
          },
          "toolCount": {
            "type": "number",
            "description": "Number of tools discovered on the server."
          },
          "lastToolsRefresh": {
            "type": "string",
            "format": "date-time",
            "description": "When the server's tool list was last refreshed."
          },
          "lastConnected": {
            "type": "string",
            "format": "date-time",
            "description": "When Sim last connected successfully."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "oauthClientId": {
            "type": "string",
            "description": "Pre-registered OAuth client id, when the server does not support dynamic client registration."
          },
          "hasHeaders": {
            "type": "boolean",
            "description": "Whether any request headers are configured. Values are never returned."
          },
          "headerNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Names of the configured request headers. Values are never returned."
          },
          "hasOauthClientSecret": {
            "type": "boolean",
            "description": "Whether an OAuth client secret is stored for this server."
          }
        }
      },
      "McpServerData": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["mcpServer"],
            "properties": {
              "mcpServer": {
                "$ref": "#/components/schemas/McpServer"
              }
            }
          }
        }
      },
      "CreateMcpServerBody": {
        "type": "object",
        "description": "A new MCP server registration.",
        "additionalProperties": false,
        "required": ["workspaceId", "name", "url"],
        "properties": {
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "description": "The workspace to register the server in."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Display name of the server."
          },
          "description": {
            "type": "string",
            "maxLength": 2000,
            "description": "Optional description."
          },
          "transport": {
            "type": "string",
            "enum": ["streamable-http"],
            "description": "Transport used to talk to the server. Defaults to `streamable-http`."
          },
          "url": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2048,
            "description": "Absolute http or https endpoint URL. May not contain `{{ENV_VAR}}` references."
          },
          "authType": {
            "type": "string",
            "enum": ["none", "headers", "oauth"],
            "description": "How Sim should authenticate. Detected from the server when omitted."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Write-only. Request headers sent to the server, e.g. `Authorization`. Never returned on read."
          },
          "timeout": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 300000,
            "description": "Per-request timeout in milliseconds. Defaults to 30000."
          },
          "retries": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "description": "Number of retries per request. Defaults to 3."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the server's tools are available to workflows. Defaults to true."
          },
          "oauthClientId": {
            "type": ["string", "null"],
[...]
