{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API v2 — Files & Audit Logs",
    "description": "Version 2 of the Sim REST API for the Files and Audit Logs surfaces.\n\n## Conventions (v2)\n\nEvery v2 endpoint shares one response family:\n\n- **Single resource:** `{ \"data\": T }`\n- **List:** `{ \"data\": T[], \"nextCursor\": string | null }`\n- **Error:** `{ \"error\": { \"code\": string, \"message\": string, \"details\"?: unknown } }`\n\n### Cursor pagination\n\nLists use an opaque keyset cursor (Stripe/Slack-style): pass `limit` and `cursor` in, receive `data` and `nextCursor` out. Treat `cursor` as opaque — pass back the `nextCursor` from the previous page verbatim. When `nextCursor` is `null` there are no more results. Total counts are not returned on lists.\n\n### Rate limiting\n\nRate-limit state is carried in response headers, not the body: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` (an ISO 8601 timestamp). A throttled request returns `429` with a `Retry-After` header (seconds).\n\n### Authentication\n\nAll endpoints authenticate with the `X-API-Key` header (a personal or workspace API key). Files endpoints are workspace-scoped via the required `workspaceId` query parameter. Audit Logs endpoints are organization-scoped enterprise endpoints and require an Enterprise subscription plus an organization admin or owner role.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Upload, download, list, rename, archive, restore, share, and replace the contents of workspace files (v2). Workspace-scoped via the required workspaceId query parameter or body field."
    },
    {
      "name": "Audit Logs",
      "description": "Query the organization audit trail (v2). Organization-scoped enterprise endpoints requiring an Enterprise subscription and an organization admin or owner role."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List Files",
        "description": "List a workspace's files with opaque cursor pagination. Results are ordered by upload time. Pass the `nextCursor` from a previous response to fetch the next page; a `null` `nextCursor` means there are no more results. Use `scope=archived` to page through Recently Deleted — that is how you find the id of a file to restore.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/files?workspaceId=YOUR_WORKSPACE_ID&limit=100\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "`active` (the default) lists live files; `archived` lists the ones in Recently Deleted, which is how you find an id to restore.",
            "schema": {
              "type": "string",
              "enum": ["active", "archived"],
              "default": "active"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of files to return per page. Clamped to the range 1–1000. Defaults to 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": false,
            "description": "Restrict the list to one folder. Omit to list every file in the workspace.",
            "schema": { "type": "string", "minLength": 1 }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the file `name`. Matches nothing else — not ids, descriptions, or content. `%` and `_` are matched literally. Must be non-empty; omit the parameter instead of sending a blank one.",
            "schema": { "type": "string", "minLength": 1, "maxLength": 200 }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by. The cursor is a keyset over the active sort, so it carries the sort it was minted under. Replaying a cursor after changing `sortBy` or `sortOrder` returns `400`; restart pagination without a cursor instead.",
            "schema": {
              "type": "string",
              "enum": ["name", "size", "uploadedAt", "updatedAt"],
              "default": "uploadedAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction. The cursor is a keyset over the active sort, so it carries the sort it was minted under. Replaying a cursor after changing `sortBy` or `sortOrder` returns `400`; restart pagination without a cursor instead.",
            "schema": { "type": "string", "enum": ["asc", "desc"], "default": "asc" }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workspace files.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "wf_V1StGXR8z5jdHi6BmyT91",
                      "name": "data.csv",
                      "size": 1024,
                      "type": "text/csv",
                      "key": "workspace/a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64/1709571234-xyz-data.csv",
                      "folderId": "fold_9Kq2mZ7pR4tLxWc0Ye3Nu",
                      "folderPath": "Reports/Q1",
                      "uploadedBy": "user_abc123",
                      "uploadedAt": "2026-01-15T10:30:00Z",
                      "updatedAt": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "nextCursor": "eyJ1cGxvYWRlZEF0IjoiMjAyNi0wMS0xNVQxMDozMDowMFoiLCJpZCI6IndmX1YxU3RHWFI4ejVqZEhpNkJteVQ5MSJ9"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createFile",
        "summary": "Create File",
        "description": "Create an authored workspace file, either empty or with initial inline content. Use this endpoint for files whose bytes are already available as UTF-8 text or base64 and are at most 50 MiB after decoding. Use the upload-session endpoints for streamed or larger files. A live file with the same name in the same folder is rejected with `409`.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/files\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"name\": \"notes.md\"}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["workspaceId", "name"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Workspace in which to create the file."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "File name, including its extension. Path separators and dot segments are rejected."
                  },
                  "contentType": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "MIME type. When omitted, it is inferred from the file extension."
                  },
                  "folderId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Destination folder. Omit to create the file at the workspace root."
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 70000000,
                    "default": "",
                    "description": "Initial file content. Omit or send an empty string to create a zero-byte file."
                  },
                  "encoding": {
                    "type": "string",
                    "enum": ["utf-8", "base64"],
                    "default": "utf-8",
                    "description": "Encoding of `content`."
                  }
                }
              },
              "example": {
                "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                "name": "notes.md"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                },
                "example": {
                  "data": {
                    "id": "wf_V1StGXR8z5jdHi6BmyT91",
                    "name": "notes.md",
                    "size": 0,
                    "type": "text/markdown",
                    "key": "workspace/a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64/1709571234-xyz-notes.md",
                    "folderId": null,
                    "folderPath": null,
                    "uploadedBy": "user_abc123",
                    "uploadedAt": "2026-01-15T10:30:00Z",
                    "updatedAt": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "413": { "$ref": "#/components/responses/PayloadTooLarge" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/v2/files/uploads": {
      "post": {
        "operationId": "createFileUpload",
        "summary": "Create File Upload",
        "description": "Create an upload session and signed control token. Empty files and files up to and including 50 MiB receive a single signed PUT URL; larger files receive multipart transfer instructions. The maximum file size is 5 GB.",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {} } }
        },
        "responses": {
          "201": {
            "description": "The upload session.",
            "content": { "application/json": { "schema": {} } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}": {
      "delete": {
        "operationId": "abortFileUpload",
        "summary": "Abort File Upload",
        "description": "Abort an incomplete upload and discard its provider parts.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/WorkspaceIdQuery" },
          { "$ref": "#/components/parameters/UploadTokenHeader" }
        ],
        "responses": {
          "200": {
            "description": "The aborted upload session.",
            "content": { "application/json": { "schema": {} } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}/parts": {
      "post": {
        "operationId": "createFileUploadPartUrls",
        "summary": "Create File Upload Part URLs",
        "description": "Issue short-lived signed PUT URLs for a bounded set of upload part numbers.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/WorkspaceIdQuery" },
          { "$ref": "#/components/parameters/UploadTokenHeader" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {} } }
        },
        "responses": {
          "200": {
            "description": "Signed URLs for the requested parts.",
            "content": { "application/json": { "schema": {} } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}/complete": {
      "post": {
        "operationId": "completeFileUpload",
        "summary": "Complete File Upload",
        "description": "Verify the single PUT or assemble every multipart part, then atomically register the workspace file.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/WorkspaceIdQuery" },
          { "$ref": "#/components/parameters/UploadTokenHeader" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {} } }
        },
        "responses": {
          "200": {
            "description": "The completed upload and registered file.",
            "content": { "application/json": { "schema": {} } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/v2/files/{fileId}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download File",
        "description": "Download the raw bytes of a file. The success response body is the file content itself — there is no JSON envelope. The actual `Content-Type` reflects the stored file's MIME type (shown here as `application/octet-stream`); `Content-Disposition` and `Content-Length` describe the attachment, and rate-limit state is returned in the `X-RateLimit-*` headers. Lookups are workspace-scoped: a file that belongs to another workspace returns `404`. Error responses still use the canonical v2 JSON error envelope.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/files/{fileId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -o downloaded-file.csv"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The raw file content as binary data. The `Content-Type` header reflects the file's stored MIME type.",
            "headers": {
              "Content-Type": {
                "description": "MIME type of the file. Varies per file; defaults to application/octet-stream when unknown.",
                "schema": {
                  "type": "string",
                  "example": "text/csv"
                }
              },
              "Content-Disposition": {
                "description": "Attachment disposition carrying the (sanitized and RFC 5987 encoded) filename.",
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"data.csv\"; filename*=UTF-8''data.csv"
                }
              },
              "Content-Length": {
                "description": "Size of the file in bytes.",
                "schema": {
                  "type": "string",
                  "example": "1024"
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteFile",
        "summary": "Delete File",
        "description": "Archive (soft delete) a file in a workspace. The operation is workspace-scoped and records its own audit entry. Returns the file id and a `deleted` acknowledgement.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/files/{fileId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The file was archived.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteFileResponse"
                },
                "example": {
                  "data": {
                    "id": "wf_V1StGXR8z5jdHi6BmyT91",
                    "deleted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The file could not be archived because of a conflicting state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2Error"
                },
                "example": {
                  "error": {
                    "code": "CONFLICT",
                    "message": "Failed to delete file"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "renameFile",
        "summary": "Rename File",
        "description": "Rename a file. Renaming only — use `POST /api/v2/files/move` to change which folder a file lives in. A name already taken in the same folder is rejected with `409`.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\\\n  \"https://www.sim.ai/api/v2/files/wf_V1StGXR8z5jdHi6BmyT91\" \\\\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\\\n  -H \"Content-Type: application/json\" \\\\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"name\": \"renamed.csv\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "name"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the file.",
                    "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "The new filename. Cannot contain `/`, `\\`, or be `.` / `..`.",
                    "example": "renamed.csv"
                  }
                }
              },
              "example": {
                "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                "name": "renamed.csv"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The renamed file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                },
                "example": {
                  "data": {
                    "id": "wf_V1StGXR8z5jdHi6BmyT91",
                    "name": "renamed.csv",
                    "size": 1024,
                    "type": "text/csv",
                    "key": "workspace/a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64/1709571234-xyz-data.csv",
                    "folderId": "fold_9Kq2mZ7pR4tLxWc0Ye3Nu",
                    "folderPath": "Reports/Q1",
                    "uploadedBy": "user_abc123",
                    "uploadedAt": "2026-01-15T10:30:00Z",
                    "updatedAt": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/audit-logs": {
      "get": {
        "operationId": "listAuditLogs",
        "summary": "List Audit Logs",
        "description": "List audit log entries for the authenticated user's organization with opaque cursor pagination. These are organization-scoped (not workspace-scoped) enterprise endpoints: the caller must belong to an organization with an active Enterprise subscription and hold an admin or owner role — otherwise the request returns `403`. The `ipAddress` and `userAgent` fields are intentionally excluded from entries for privacy.",
        "tags": ["Audit Logs"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/audit-logs?limit=50\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "Filter by action type (e.g., file.uploaded, workflow.deployed, member.invited).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "description": "Filter by resource type (e.g., file, workflow, workspace, member).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "Filter by a specific resource ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Filter by a workspace within your organization. Must belong to your organization, otherwise the request returns 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "description": "Filter by the user who performed the action. Must be a member of your organization, otherwise the request returns 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Only return entries at or after this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Only return entries at or before this ISO 8601 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeDeparted",
            "in": "query",
            "required": false,
            "description": "When true, include entries from users who have left the organization. Defaults to false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of entries to return per page. Must be between 1 and 100. Defaults to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of audit log entries.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AuditLogListResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "audit_2c3d4e5f6g",
                      "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                      "actorId": "user_abc123",
                      "actorName": "Jane Smith",
                      "actorEmail": "jane@example.com",
                      "action": "file.uploaded",
                      "resourceType": "file",
                      "resourceId": "wf_V1StGXR8z5jdHi6BmyT91",
                      "resourceName": "data.csv",
                      "description": "Uploaded file \"data.csv\" via API",
                      "metadata": {
                        "fileSize": 1024,
                        "fileType": "text/csv"
                      },
                      "createdAt": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed: an invalid query parameter, an `actorId` that is not a member of your organization, or a `workspaceId` that does not belong to your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2Error"
                },
                "example": {
                  "error": {
                    "code": "BAD_REQUEST",
                    "message": "actorId is not a member of your organization"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/audit-logs/{id}": {
      "get": {
        "operationId": "getAuditLog",
        "summary": "Get Audit Log",
        "description": "Retrieve a single audit log entry by ID, scoped to the authenticated user's organization. Organization-scoped (not workspace-scoped): the caller must belong to an organization with an active Enterprise subscription and hold an admin or owner role — otherwise the request returns `403`. An entry outside your organization returns `404` (existence is not leaked). The `ipAddress` and `userAgent` fields are intentionally excluded for privacy.",
        "tags": ["Audit Logs"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/audit-logs/{id}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique audit log entry identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "audit_2c3d4e5f6g"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The audit log entry.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AuditLogResponse"
                },
                "example": {
                  "data": {
                    "id": "audit_2c3d4e5f6g",
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "actorId": "user_abc123",
                    "actorName": "Jane Smith",
                    "actorEmail": "jane@example.com",
                    "action": "file.uploaded",
                    "resourceType": "file",
                    "resourceId": "wf_V1StGXR8z5jdHi6BmyT91",
                    "resourceName": "data.csv",
                    "description": "Uploaded file \"data.csv\" via API",
                    "metadata": {
                      "fileSize": 1024,
                      "fileType": "text/csv"
                    },
                    "createdAt": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/restore": {
      "post": {
        "operationId": "restoreFile",
        "summary": "Restore File",
        "description": "Restore an archived file. Find archived ids with `GET /api/v2/files?scope=archived`. If the original name has since been taken by a live file, the file is restored under a suffixed name.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\\\n  \"https://www.sim.ai/api/v2/files/wf_V1StGXR8z5jdHi6BmyT91/restore\" \\\\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\\\n  -H \"Content-Type: application/json\" \\\\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the file.",
                    "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
                  }
                }
              },
              "example": {
                "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The file was restored.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2RestoreFileResponse"
                },
                "example": {
                  "data": {
                    "id": "wf_V1StGXR8z5jdHi6BmyT91",
                    "restored": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/files/move": {
      "post": {
        "operationId": "moveFileItems",
        "summary": "Move Files and Folders",
        "description": "Move files and/or folders into a folder. `targetFolderId: null` — or omitting it — moves the selection to the workspace root. At least one of `fileIds` or `folderIds` must be non-empty. The whole selection moves under one lock, so a name collision at the destination fails the request with `409` instead of applying part of it.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\\\n  \"https://www.sim.ai/api/v2/files/move\" \\\\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\\\n  -H \"Content-Type: application/json\" \\\\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"fileIds\": [\"wf_V1StGXR8z5jdHi6BmyT91\"], \"targetFolderId\": \"fold_9Kq2mZ7pR4tLxWc0Ye3Nu\"}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the items.",
                    "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
                  },
                  "fileIds": {
                    "type": "array",
                    "maxItems": 1000,
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "description": "Files to move."
                  },
                  "folderIds": {
                    "type": "array",
                    "maxItems": 1000,
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "description": "Folders to move. Descendants follow their folder."
                  },
                  "targetFolderId": {
                    "type": ["string", "null"],
                    "description": "Destination folder. `null` or omitted moves to the workspace root.",
                    "example": "fold_9Kq2mZ7pR4tLxWc0Ye3Nu"
                  }
                }
              },
              "examples": {
                "intoFolder": {
                  "summary": "Move two files into a folder",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "fileIds": ["wf_V1StGXR8z5jdHi6BmyT91", "wf_2QrTb9xLm4PvZc7Ns1Ka"],
                    "targetFolderId": "fold_9Kq2mZ7pR4tLxWc0Ye3Nu"
                  }
                },
                "toRoot": {
                  "summary": "Move a folder back to the workspace root",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "folderIds": ["fold_9Kq2mZ7pR4tLxWc0Ye3Nu"],
                    "targetFolderId": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The items were moved.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2MoveFileItemsResponse"
                },
                "example": {
                  "data": {
                    "movedItems": {
                      "files": 2,
                      "folders": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/files/bulk-archive": {
      "post": {
        "operationId": "bulkArchiveFileItems",
        "summary": "Archive Files and Folders",
        "description": "Archive (soft delete) files and/or folders in one call. Archiving a folder cascades to everything under it, so `deletedItems` reports totals larger than the selection. Archived items remain listable via `scope=archived` and can be restored.\n\n**This endpoint is best-effort and idempotent.** Ids that do not exist, belong to another workspace, or are already archived are skipped rather than failing the request — the call still returns `200`. `deletedItems` is what was actually archived, so compare it against your selection if you need to detect that something was skipped. The single-item `DELETE /api/v2/files/{fileId}` does return `404` for a missing id.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\\\n  \"https://www.sim.ai/api/v2/files/bulk-archive\" \\\\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\\\n  -H \"Content-Type: application/json\" \\\\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"fileIds\": [\"wf_V1StGXR8z5jdHi6BmyT91\"], \"folderIds\": [\"fold_9Kq2mZ7pR4tLxWc0Ye3Nu\"]}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the items.",
                    "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
                  },
                  "fileIds": {
                    "type": "array",
                    "maxItems": 1000,
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "description": "Files to archive."
                  },
                  "folderIds": {
                    "type": "array",
                    "maxItems": 1000,
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "description": "Folders to archive, together with their contents."
                  }
                }
              },
              "example": {
                "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                "fileIds": ["wf_V1StGXR8z5jdHi6BmyT91"],
                "folderIds": ["fold_9Kq2mZ7pR4tLxWc0Ye3Nu"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The items were archived.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BulkArchiveFileItemsResponse"
                },
                "example": {
                  "data": {
                    "deletedItems": {
                      "files": 3,
                      "folders": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/share": {
      "get": {
        "operationId": "getFileShare",
        "summary": "Get File Share",
        "description": "Read a file's public share state. `share` is `null` when the file has never been shared. The encrypted password is never returned — `hasPassword` is the only password signal.\n\n**Disabling is not revoking.** Setting `isActive: false` preserves the token and the stored password / allow-list, so re-enabling later resurrects the identical URL. To make a link permanently unreachable, archive the file instead.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\\\n  \"https://www.sim.ai/api/v2/files/wf_V1StGXR8z5jdHi6BmyT91/share?workspaceId=YOUR_WORKSPACE_ID\" \\\\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The file's share state.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2GetFileShareResponse"
                },
                "example": {
                  "data": {
                    "share": {
                      "id": "shr_8Hf3kL9wQ2mNpXr6Tz1Vb",
                      "token": "share-token-example",
                      "url": "https://www.sim.ai/f/share-token-example",
                      "isActive": true,
                      "resourceType": "file",
                      "resourceId": "wf_V1StGXR8z5jdHi6BmyT91",
                      "authType": "public",
                      "hasPassword": false,
                      "allowedEmails": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "upsertFileShare",
        "summary": "Enable or Disable File Share",
        "description": "Enable or disable a file's public share. Requires workspace `write`.\n\nThe share token is always server-generated; there is no way to supply one. `authType` selects how the link is gated: `public` (anyone with the link), `password` (requires `password` on first enable), or `email` / `sso` (requires a non-empty `allowedEmails`). Omitting `authType` on a re-enable keeps the stored mode, and the org access-control policy is evaluated against that stored mode rather than against `public`. Disabling is never blocked by the policy.\n\n**Disabling is not revoking.** Setting `isActive: false` preserves the token and the stored password / allow-list, so re-enabling later resurrects the identical URL. To make a link permanently unreachable, archive the file instead.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PUT \\\\\n  \"https://www.sim.ai/api/v2/files/wf_V1StGXR8z5jdHi6BmyT91/share\" \\\\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\\\n  -H \"Content-Type: application/json\" \\\\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"isActive\": true, \"authType\": \"public\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "isActive"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the file.",
                    "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Whether the share should resolve. `false` disables without revoking."
                  },
                  "authType": {
                    "type": "string",
                    "enum": ["public", "password", "email", "sso"],
                    "description": "How the link is gated. Omit on a re-enable to keep the stored mode."
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1024,
                    "description": "Plaintext password for a `password` share. Required on first enable; omit to keep the stored one."
                  },
                  "allowedEmails": {
                    "type": "array",
                    "maxItems": 200,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 320
                    },
                    "description": "Allowed addresses or `@domain` patterns for an `email` / `sso` share. Must be non-empty when enabling one."
                  }
                }
              },
              "examples": {
                "publicLink": {
                  "summary": "Enable a public link",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "isActive": true,
                    "authType": "public"
                  }
                },
                "passwordProtected": {
                  "summary": "Enable a password-protected link",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "isActive": true,
                    "authType": "password",
                    "password": "EXAMPLE_PASSWORD"
                  }
                },
                "disable": {
                  "summary": "Disable (keeps the token and stored config)",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "isActive": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The share after the update.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpsertFileShareResponse"
                },
                "example": {
                  "data": {
                    "share": {
                      "id": "shr_8Hf3kL9wQ2mNpXr6Tz1Vb",
                      "token": "share-token-example",
                      "url": "https://www.sim.ai/f/share-token-example",
                      "isActive": true,
                      "resourceType": "file",
                      "resourceId": "wf_V1StGXR8z5jdHi6BmyT91",
                      "authType": "public",
                      "hasPassword": false,
                      "allowedEmails": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/content": {
      "put": {
        "operationId": "updateFileContent",
        "summary": "Replace File Content",
        "description": "Replace a file's bytes. This is a full replace, not an append: `content` becomes the entire body of the file. Use `encoding: \"base64\"` for non-UTF-8 bytes. The decoded body is capped at 50MB and still debits the workspace storage quota, so a write that would push the payer past its limit fails with `413`.",
        "tags": ["Files"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PUT \\\\\n  \"https://www.sim.ai/api/v2/files/wf_V1StGXR8z5jdHi6BmyT91/content\" \\\\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\\\n  -H \"Content-Type: application/json\" \\\\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"content\": \"id,name\\\\n1,alpha\\\\n\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "content"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the file.",
                    "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
                  },
                  "content": {
                    "type": "string",
                    "description": "The file's new full contents, interpreted per `encoding`."
                  },
                  "encoding": {
                    "type": "string",
                    "enum": ["utf-8", "base64"],
                    "default": "utf-8",
                    "description": "How to decode `content` into bytes."
                  }
                }
              },
              "examples": {
                "text": {
                  "summary": "Replace with UTF-8 text",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "content": "id,name\n1,alpha\n"
                  }
                },
                "binary": {
                  "summary": "Replace with base64-encoded bytes",
                  "value": {
                    "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                    "content": "aWQsbmFtZQoxLGFscGhhCg==",
                    "encoding": "base64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                },
                "example": {
                  "data": {
                    "id": "wf_V1StGXR8z5jdHi6BmyT91",
                    "name": "data.csv",
                    "size": 16,
                    "type": "text/csv",
                    "key": "workspace/a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64/1709571234-xyz-data.csv",
                    "folderId": "fold_9Kq2mZ7pR4tLxWc0Ye3Nu",
                    "folderPath": "Reports/Q1",
                    "uploadedBy": "user_abc123",
                    "uploadedAt": "2026-01-15T10:30:00Z",
                    "updatedAt": "2026-01-15T11:05:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your Sim API key (personal or workspace). Generate one from the Sim dashboard under Settings > API Keys."
      }
    },
    "parameters": {
      "WorkspaceIdQuery": {
        "name": "workspaceId",
        "in": "query",
        "required": true,
        "description": "The unique identifier of the workspace.",
        "schema": {
          "type": "string",
          "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
        }
      },
      "UploadTokenHeader": {
        "name": "upload-token",
        "in": "header",
        "required": true,
        "description": "The signed control token returned when the upload session was created.",
        "schema": { "type": "string", "minLength": 1 }
      },
      "FileIdPath": {
        "name": "fileId",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the file.",
        "schema": {
          "type": "string",
          "example": "wf_V1StGXR8z5jdHi6BmyT91"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor. Pass the `nextCursor` value from a previous response to fetch the next page.",
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "The maximum number of requests permitted in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 100
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests remaining in the current rate-limit window.",
        "schema": {
          "type": "integer",
          "example": 95
        }
      },
      "X-RateLimit-Reset": {
        "description": "ISO 8601 timestamp at which the current rate-limit window resets.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2026-01-15T11:00:00Z"
        }
      }
    },
    "schemas": {
      "V2File": {
        "type": "object",
        "description": "A workspace file as exposed by the v2 surface.",
        "required": [
          "id",
          "name",
          "size",
          "type",
          "key",
          "folderId",
          "folderPath",
          "uploadedBy",
          "uploadedAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique file identifier.",
            "example": "wf_V1StGXR8z5jdHi6BmyT91"
          },
          "name": {
            "type": "string",
            "description": "Original filename.",
            "example": "data.csv"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "description": "File size in bytes.",
            "example": 1024
          },
          "type": {
            "type": "string",
            "description": "MIME type of the file.",
            "example": "text/csv"
          },
          "key": {
            "type": "string",
            "description": "Storage key for the file.",
            "example": "workspace/a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64/1709571234-xyz-data.csv"
          },
          "uploadedBy": {
            "type": "string",
            "description": "User ID of the uploader.",
            "example": "user_abc123"
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the file was uploaded.",
            "example": "2026-01-15T10:30:00Z"
          },
          "folderId": {
            "type": ["string", "null"],
            "description": "The containing file folder, or null when the file sits at the workspace root.",
            "example": "fold_9Kq2mZ7pR4tLxWc0Ye3Nu"
          },
          "folderPath": {
            "type": ["string", "null"],
            "description": "Slash-joined folder names for `folderId`, or null at the workspace root.",
            "example": "Reports/Q1"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the last write, content or metadata.",
            "example": "2026-01-15T10:30:00Z"
          }
        }
      },
      "V2DeleteFileResult": {
        "type": "object",
        "description": "Acknowledgement returned by a successful archive (soft delete).",
        "required": ["id", "deleted"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the archived file.",
            "example": "wf_V1StGXR8z5jdHi6BmyT91"
          },
          "deleted": {
            "type": "boolean",
            "const": true,
            "description": "Always true on a successful archive."
          }
        }
      },
      "V2AuditLogEntry": {
        "type": "object",
        "description": "A public enterprise audit log entry. The ipAddress and userAgent fields are intentionally excluded for privacy.",
        "required": [
          "id",
          "workspaceId",
          "actorId",
          "actorName",
          "actorEmail",
          "action",
          "resourceType",
          "resourceId",
          "resourceName",
          "description",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the audit log entry.",
            "example": "audit_2c3d4e5f6g"
          },
          "workspaceId": {
            "type": ["string", "null"],
            "description": "The workspace where the action occurred, or null for organization-level actions.",
            "example": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64"
          },
          "actorId": {
            "type": ["string", "null"],
            "description": "The user ID of the person who performed the action, or null when not attributable.",
            "example": "user_abc123"
          },
          "actorName": {
            "type": ["string", "null"],
            "description": "Display name of the person who performed the action.",
            "example": "Jane Smith"
          },
          "actorEmail": {
            "type": ["string", "null"],
            "description": "Email address of the person who performed the action.",
            "example": "jane@example.com"
          },
          "action": {
            "type": "string",
            "description": "The action that was performed (e.g., file.uploaded, workflow.deployed).",
            "example": "file.uploaded"
          },
          "resourceType": {
            "type": "string",
            "description": "The type of resource affected (e.g., file, workflow, workspace, member).",
            "example": "file"
          },
          "resourceId": {
            "type": ["string", "null"],
            "description": "The unique identifier of the affected resource.",
            "example": "wf_V1StGXR8z5jdHi6BmyT91"
          },
          "resourceName": {
            "type": ["string", "null"],
            "description": "Display name of the affected resource.",
            "example": "data.csv"
          },
          "description": {
            "type": ["string", "null"],
            "description": "Human-readable description of the action.",
            "example": "Uploaded file \"data.csv\" via API"
          },
          "metadata": {
            "description": "Arbitrary per-action metadata as JSON. The shape varies by action type and may be null for some actions.",
            "example": {
              "fileSize": 1024,
              "fileType": "text/csv"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the action occurred.",
            "example": "2026-01-15T10:30:00Z"
          }
        }
      },
      "V2FileListResponse": {
        "type": "object",
        "description": "A page of files plus the cursor for the next page.",
        "required": ["data", "nextCursor"],
        "properties": {
          "data": {
            "type": "array",
            "description": "The files in this page.",
            "items": {
              "$ref": "#/components/schemas/V2File"
            }
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null when there are no more results."
          }
        }
      },
      "V2FileResponse": {
        "type": "object",
        "description": "A single file resource.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2File"
          }
        }
      },
      "V2DeleteFileResponse": {
        "type": "object",
        "description": "The result of archiving a file.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2DeleteFileResult"
          }
        }
      },
      "V2AuditLogListResponse": {
        "type": "object",
        "description": "A page of audit log entries plus the cursor for the next page.",
        "required": ["data", "nextCursor"],
        "properties": {
          "data": {
            "type": "array",
            "description": "The audit log entries in this page.",
            "items": {
              "$ref": "#/components/schemas/V2AuditLogEntry"
            }
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page, or null when there are no more results."
          }
        }
      },
      "V2AuditLogResponse": {
        "type": "object",
        "description": "A single audit log entry resource.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2AuditLogEntry"
          }
        }
      },
      "V2Error": {
        "type": "object",
        "description": "The canonical v2 error envelope.",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable, machine-readable error code (e.g., BAD_REQUEST, NOT_FOUND, RATE_LIMITED)."
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message."
              },
              "details": {
                "description": "Optional structured error context. For validation errors this is an array of field-level issues; for rate limiting it carries the reset timestamp."
              }
            }
          }
        }
      },
      "V2FileItemCounts": {
        "type": "object",
        "description": "Counts of what an operation actually touched. A folder cascades to its descendants, so these exceed the size of the selection.",
        "required": ["files", "folders"],
        "properties": {
          "files": {
            "type": "integer",
            "description": "Number of files affected.",
            "example": 3
          },
          "folders": {
            "type": "integer",
            "description": "Number of folders affected.",
            "example": 1
          }
        }
      },
      "V2FileShare": {
        "type": "object",
        "description": "A file's public share. Never carries the storage key or the encrypted password — `hasPassword` is the only password signal exposed.",
        "required": [
          "id",
          "token",
          "url",
          "isActive",
          "resourceType",
          "resourceId",
          "authType",
          "hasPassword",
          "allowedEmails"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique share identifier.",
            "example": "shr_8Hf3kL9wQ2mNpXr6Tz1Vb"
          },
          "token": {
            "type": "string",
            "description": "The public token embedded in the share URL. Always server-generated.",
            "example": "share-token-example"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The public share URL.",
            "example": "https://www.sim.ai/f/share-token-example"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the share currently resolves. Disabling does not revoke — see the endpoint description."
          },
          "resourceType": {
            "type": "string",
            "enum": ["file", "folder"],
            "description": "The kind of resource shared. Always `file` on this surface."
          },
          "resourceId": {
            "type": "string",
            "description": "The shared resource id.",
            "example": "wf_V1StGXR8z5jdHi6BmyT91"
          },
          "authType": {
            "type": "string",
            "enum": ["public", "password", "email", "sso"],
            "description": "How the share is gated."
          },
          "hasPassword": {
            "type": "boolean",
            "description": "Whether a password is stored for this share."
          },
          "allowedEmails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Allow-list of addresses or `@domain` patterns for `email`/`sso` shares. Empty otherwise."
          }
        }
      },
      "V2RestoreFileResult": {
        "type": "object",
        "description": "Acknowledgement returned by a successful file restore.",
        "required": ["id", "restored"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the restored file.",
            "example": "wf_V1StGXR8z5jdHi6BmyT91"
          },
          "restored": {
            "type": "boolean",
            "const": true,
            "description": "Always true on a successful restore."
          }
        }
      },
      "V2MoveFileItemsResult": {
        "type": "object",
        "description": "What the move actually relocated.",
        "required": ["movedItems"],
        "properties": {
          "movedItems": {
            "$ref": "#/components/schemas/V2FileItemCounts"
          }
        }
      },
      "V2BulkArchiveFileItemsResult": {
        "type": "object",
        "description": "What the archive actually soft-deleted, including the cascade.",
        "required": ["deletedItems"],
        "properties": {
          "deletedItems": {
            "$ref": "#/components/schemas/V2FileItemCounts"
          }
        }
      },
      "V2GetFileShareResult": {
        "type": "object",
        "description": "The file's share state, or null when the file has never been shared.",
        "required": ["share"],
        "properties": {
          "share": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/V2FileShare"
              },
              {
                "type": "null"
              }
            ],
            "description": "The share, or null when the file has never been shared."
          }
        }
      },
      "V2UpsertFileShareResult": {
        "type": "object",
        "description": "The share after the upsert.",
        "required": ["share"],
        "properties": {
          "share": {
            "$ref": "#/components/schemas/V2FileShare"
          }
        }
      },
      "V2RestoreFileResponse": {
        "type": "object",
        "description": "The result of restoring a file.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2RestoreFileResult"
          }
        }
      },
      "V2MoveFileItemsResponse": {
        "type": "object",
        "description": "The result of a move.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2MoveFileItemsResult"
          }
        }
      },
      "V2BulkArchiveFileItemsResponse": {
        "type": "object",
        "description": "The result of a bulk archive.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2BulkArchiveFileItemsResult"
          }
        }
      },
      "V2GetFileShareResponse": {
        "type": "object",
        "description": "The file's public share state.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2GetFileShareResult"
          }
        }
      },
      "V2UpsertFileShareResponse": {
        "type": "object",
        "description": "The share after enabling or disabling it.",
        "required": ["data"],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/V2UpsertFileShareResult"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request. Inspect `error.message` and the optional `error.details` for specifics.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "BAD_REQUEST",
                "message": "Invalid request",
                "details": [
                  {
                    "path": ["workspaceId"],
                    "code": "invalid_type",
                    "message": "Required"
                  }
                ]
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API key. Ensure the X-API-Key header is set with a valid key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Invalid API key"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Access denied. For Files, the API key lacks access to the workspace. For Audit Logs, this requires an Enterprise subscription and an organization admin or owner role.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "FORBIDDEN",
                "message": "Active enterprise subscription required"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found, or it does not belong to the authorized scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "File not found"
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Wait for the duration in the Retry-After header before retrying.",
        "headers": {
          "Retry-After": {
            "description": "Number of seconds to wait before retrying the request.",
            "schema": {
              "type": "integer",
              "example": 30
            }
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "RATE_LIMITED",
                "message": "API rate limit exceeded",
                "details": {
                  "retryAfter": "2026-01-15T11:00:00Z"
                }
              }
            }
          }
        }
      },
      "InternalError": {
        "description": "An unexpected error occurred on the server.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "INTERNAL_ERROR",
                "message": "Internal server error"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with existing state — most often a name already taken in the destination folder.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "CONFLICT",
                "message": "A file named \"data.csv\" already exists in this workspace"
              }
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The body exceeds the per-request size limit, or accepting it would push the workspace past its storage quota.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            },
            "example": {
              "error": {
                "code": "PAYLOAD_TOO_LARGE",
                "message": "Storage limit exceeded"
              }
            }
          }
        }
      }
    }
  }
}
