{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API",
    "description": "API for executing workflows, querying logs, and managing resources in Sim.",
    "version": "1.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Workflows",
      "description": "Execute workflows and manage workflow resources"
    },
    {
      "name": "Logs",
      "description": "Query execution logs and retrieve details"
    },
    {
      "name": "Usage",
      "description": "Check rate limits and billing usage"
    },
    {
      "name": "Audit Logs",
      "description": "View audit trail of workspace activity"
    },
    {
      "name": "Tables",
      "description": "Manage tables and rows for structured data storage"
    },
    {
      "name": "Files",
      "description": "Upload, download, and manage workspace files"
    },
    {
      "name": "Knowledge Bases",
      "description": "Manage knowledge bases, documents, and vector search"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/workflows/{id}/execute": {
      "post": {
        "operationId": "executeWorkflow",
        "summary": "Execute Workflow",
        "description": "Execute a deployed workflow. Supports synchronous, asynchronous, and streaming modes. For async execution, the response includes a statusUrl you can poll for results.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/workflows/{id}/execute\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"input\": {\n      \"key\": \"value\"\n    }\n  }'"
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the deployed workflow to execute.",
            "schema": {
              "type": "string",
              "example": "wf_1a2b3c4d5e"
            }
          }
        ],
        "requestBody": {
          "description": "Execution configuration including input values and execution mode options.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "object",
                    "description": "Key-value pairs matching the workflow's defined input fields. Use the Get Workflow endpoint to discover available input fields.",
                    "additionalProperties": true
                  },
                  "triggerType": {
                    "type": "string",
                    "description": "How this execution was triggered. Defaults to api when called via the REST API. Recorded in execution logs for filtering."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "When true, returns results as Server-Sent Events (SSE) for real-time block-by-block output streaming."
                  },
                  "selectedOutputs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of specific block IDs whose outputs to include in the response. When omitted, all block outputs are returned."
                  }
                }
              },
              "example": {
                "input": {
                  "query": "What is the weather in Tokyo?"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Synchronous execution completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResult"
                },
                "example": {
                  "success": true,
                  "executionId": "exec_abc123",
                  "output": {
                    "content": "The weather in Tokyo is sunny, 22\u00b0C."
                  },
                  "error": null,
                  "metadata": {
                    "startTime": "2026-01-15T10:30:00Z",
                    "endTime": "2026-01-15T10:30:01Z",
                    "duration": 1250
                  }
                }
              }
            }
          },
          "202": {
            "description": "Asynchronous execution has been queued. Poll the statusUrl for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncExecutionResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/workflows/{id}/executions/{executionId}/cancel": {
      "post": {
        "operationId": "cancelExecution",
        "summary": "Cancel Execution",
        "description": "Cancel a running workflow execution. Only effective for executions that are still in progress.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/workflows/{id}/executions/{executionId}/cancel\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the workflow.",
            "schema": {
              "type": "string",
              "example": "wf_1a2b3c4d5e"
            }
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the execution to cancel.",
            "schema": {
              "type": "string",
              "example": "exec_9f8e7d6c5b"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution was successfully cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the cancellation was successful."
                    },
                    "executionId": {
                      "type": "string",
                      "description": "The ID of the cancelled execution."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "executionId": "exec_abc123"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List Workflows",
        "description": "Retrieve all workflows in a workspace with cursor-based pagination.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/workflows?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Filter results to only include workflows within this folder.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deployedOnly",
            "in": "query",
            "description": "When true, only return workflows that have been deployed. Useful for listing workflows available for API execution.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of workflows to return per page. Must be between 1 and 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous request's nextCursor field. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of workflows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of workflow summary objects for the current page.",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowSummary"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for fetching the next page of results. null when there are no more results."
                    },
                    "limits": {
                      "$ref": "#/components/schemas/Limits",
                      "description": "Rate limit and usage information for the current API key."
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "wf_abc123",
                      "name": "Weather Bot",
                      "isDeployed": true,
                      "createdAt": "2026-01-15T10:30:00Z",
                      "updatedAt": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/workflows/{id}": {
      "get": {
        "operationId": "getWorkflow",
        "summary": "Get Workflow",
        "description": "Retrieve details for a single workflow, including its input fields and deployment status.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/workflows/{id}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique workflow identifier.",
            "schema": {
              "type": "string",
              "example": "wf_1a2b3c4d5e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details including input field definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The full workflow detail object.",
                      "$ref": "#/components/schemas/WorkflowDetail"
                    },
                    "limits": {
                      "$ref": "#/components/schemas/Limits",
                      "description": "Rate limit and usage information for the current API key."
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "wf_abc123",
                    "name": "Weather Bot",
                    "description": "A workflow that fetches weather data",
                    "isDeployed": true,
                    "createdAt": "2026-01-15T10:30:00Z",
                    "updatedAt": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/jobs/{jobId}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Get Job Status",
        "description": "Poll the status of an asynchronous workflow execution. Use the jobId returned from the Execute Workflow endpoint when the execution is queued asynchronously.",
        "tags": ["Workflows"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/jobs/{jobId}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job identifier returned in the async execution response.",
            "schema": {
              "type": "string",
              "example": "job_4a3b2c1d0e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the job. When completed, includes the execution output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                },
                "example": {
                  "success": true,
                  "taskId": "job_abc123",
                  "status": "completed",
                  "output": {
                    "content": "Done"
                  },
                  "metadata": {
                    "startTime": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/logs": {
      "get": {
        "operationId": "queryLogs",
        "summary": "Query Logs",
        "description": "List workflow execution logs with advanced filtering and cursor-based pagination. Supports filtering by workflow, trigger type, date range, duration, cost, and more.",
        "tags": ["Logs"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/logs?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "workflowIds",
            "in": "query",
            "description": "Comma-separated list of workflow IDs to filter by. Only logs from these workflows will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderIds",
            "in": "query",
            "description": "Comma-separated list of folder IDs. Returns logs for all workflows within these folders.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggers",
            "in": "query",
            "description": "Comma-separated trigger types to filter by: api, webhook, schedule, manual, chat.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter logs by severity level. info for successful executions, error for failed ones.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Only return logs after this ISO 8601 timestamp (inclusive).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Only return logs before this ISO 8601 timestamp (inclusive).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "executionId",
            "in": "query",
            "description": "Filter by an exact execution ID. Useful for looking up a specific run.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minDurationMs",
            "in": "query",
            "description": "Only return logs where execution took at least this many milliseconds.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxDurationMs",
            "in": "query",
            "description": "Only return logs where execution took at most this many milliseconds.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minCost",
            "in": "query",
            "description": "Only return logs where execution cost at least this amount in USD.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxCost",
            "in": "query",
            "description": "Only return logs where execution cost at most this amount in USD.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Filter by the AI model used during execution (e.g., gpt-4o, claude-sonnet-4-20250514).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "details",
            "in": "query",
            "description": "Response detail level. basic returns summary fields only. full includes execution data, trace spans, and outputs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTraceSpans",
            "in": "query",
            "description": "When true, includes block-level execution trace spans with timing and input/output data.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeFinalOutput",
            "in": "query",
            "description": "When true, includes the workflow's final output in each log entry.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of log entries to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous request's nextCursor field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by execution start time. desc returns newest first.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of execution logs matching the filter criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of log entries for the current page.",
                      "items": {
                        "$ref": "#/components/schemas/LogEntry"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for fetching the next page. null when there are no more results."
                    },
                    "limits": {
                      "$ref": "#/components/schemas/Limits"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "log_abc123",
                      "workflowId": "wf_abc123",
                      "level": "info",
                      "trigger": "api",
                      "createdAt": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/logs/{id}": {
      "get": {
        "operationId": "getLogDetails",
        "summary": "Get Log Details",
        "description": "Retrieve detailed information about a specific log entry, including workflow metadata, execution data, and cost breakdown.",
        "tags": ["Logs"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/logs/{id}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the log entry.",
            "schema": {
              "type": "string",
              "example": "log_7x8y9z0a1b"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed log entry with full execution data and cost breakdown.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The full log detail object.",
                      "$ref": "#/components/schemas/LogDetail"
                    },
                    "limits": {
                      "$ref": "#/components/schemas/Limits"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "log_abc123",
                    "workflowId": "wf_abc123",
                    "executionId": "exec_abc123",
                    "level": "info",
                    "trigger": "api",
                    "totalDurationMs": 1250,
                    "startedAt": "2026-01-15T10:30:00Z",
                    "endedAt": "2026-01-15T10:30:01Z",
                    "createdAt": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/logs/executions/{executionId}": {
      "get": {
        "operationId": "getExecutionDetails",
        "summary": "Get Execution Details",
        "description": "Retrieve the full execution state snapshot, including the workflow state at time of execution and detailed metadata.",
        "tags": ["Logs"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/logs/executions/{executionId}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "description": "The unique execution identifier.",
            "schema": {
              "type": "string",
              "example": "exec_9f8e7d6c5b"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full execution state snapshot with workflow state and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "executionId": {
                      "type": "string",
                      "description": "The unique identifier for this execution."
                    },
                    "workflowId": {
                      "type": "string",
                      "description": "The workflow that was executed."
                    },
                    "workflowState": {
                      "type": "object",
                      "description": "Snapshot of the workflow configuration at the time of execution.",
                      "properties": {
                        "blocks": {
                          "type": "object",
                          "description": "Map of block IDs to their configuration and state during execution."
                        },
                        "edges": {
                          "type": "array",
                          "description": "List of connections between blocks defining the execution flow.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "loops": {
                          "type": "object",
                          "description": "Loop configurations defining iterative execution patterns."
                        },
                        "parallels": {
                          "type": "object",
                          "description": "Parallel execution group configurations."
                        }
                      }
                    },
                    "executionMetadata": {
                      "type": "object",
                      "description": "Metadata about the execution including timing and cost information.",
                      "properties": {
                        "trigger": {
                          "type": "string",
                          "description": "How the execution was triggered (e.g., api, manual, schedule)."
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when execution started."
                        },
                        "endedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when execution completed."
                        },
                        "totalDurationMs": {
                          "type": "integer",
                          "description": "Total execution duration in milliseconds."
                        },
                        "cost": {
                          "type": "object",
                          "description": "Cost breakdown for this execution including per-model details."
                        }
                      }
                    },
                    "limits": {
                      "$ref": "#/components/schemas/Limits"
                    }
                  }
                },
                "example": {
                  "executionId": "exec_abc123",
                  "workflowId": "wf_abc123",
                  "workflowState": {},
                  "executionMetadata": {}
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/audit-logs": {
      "get": {
        "operationId": "listAuditLogs",
        "summary": "List Audit Logs",
        "description": "Retrieve audit logs for your organization with cursor-based pagination. Requires an Enterprise subscription and organization admin or owner role.",
        "tags": ["Audit Logs"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/audit-logs?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "Filter by action type (e.g., workflow.created, workflow.deployed, member.invited).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceType",
            "in": "query",
            "description": "Filter by resource type (e.g., workflow, workspace, member).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "description": "Filter by a specific resource ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "actorId",
            "in": "query",
            "description": "Filter by the user who performed the action. Must be a member of your organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Only return logs after this ISO 8601 timestamp (inclusive).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Only return logs before this ISO 8601 timestamp (inclusive).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeDeparted",
            "in": "query",
            "description": "When true, includes audit logs from users who have left the organization.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of audit log entries to return per page. Must be between 1 and 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor returned from a previous request's nextCursor field.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of audit log entries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of audit log entries for the current page.",
                      "items": {
                        "$ref": "#/components/schemas/AuditLogEntry"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor for fetching the next page. null when there are no more results."
                    },
                    "limits": {
                      "$ref": "#/components/schemas/Limits"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "audit_abc123",
                      "action": "workflow.execute",
                      "actorId": "user_abc123",
                      "actorName": "Jane Doe",
                      "actorEmail": "jane@example.com",
                      "resourceType": "workflow",
                      "createdAt": "2026-01-15T10:30:00Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/audit-logs/{id}": {
      "get": {
        "operationId": "getAuditLogDetails",
        "summary": "Get Audit Log Details",
        "description": "Retrieve a single audit log entry by ID. Requires an Enterprise subscription and organization admin or owner role.",
        "tags": ["Audit Logs"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/audit-logs/{id}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique audit log entry identifier.",
            "schema": {
              "type": "string",
              "example": "audit_2c3d4e5f6g"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The audit log entry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The audit log entry.",
                      "$ref": "#/components/schemas/AuditLogEntry"
                    },
                    "limits": {
                      "$ref": "#/components/schemas/Limits"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "audit_abc123",
                    "action": "workflow.execute",
                    "actorId": "user_abc123",
                    "actorName": "Jane Doe",
                    "actorEmail": "jane@example.com",
                    "resourceType": "workflow",
                    "resourceId": "wf_abc123",
                    "metadata": {},
                    "createdAt": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/users/me/usage-limits": {
      "get": {
        "operationId": "getUsageLimits",
        "summary": "Get Usage Limits",
        "description": "Retrieve your current rate limits, usage spending, and storage consumption for the billing period.",
        "tags": ["Usage"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/users/me/usage-limits\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "responses": {
          "200": {
            "description": "Current rate limits, usage, and storage information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageLimits"
                },
                "example": {
                  "success": true,
                  "rateLimit": {
                    "sync": {
                      "limit": 100,
                      "remaining": 95,
                      "reset": "2026-01-15T11:00:00Z"
                    },
                    "async": {
                      "limit": 50,
                      "remaining": 48,
                      "reset": "2026-01-15T11:00:00Z"
                    }
                  },
                  "usage": {
                    "currentPeriodCost": 12.5,
                    "limit": 100.0,
                    "plan": "pro"
                  },
                  "storage": {
                    "usedBytes": 5242880,
                    "limitBytes": 1073741824,
                    "percentUsed": 0.49
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "parameters": []
      }
    },
    "/api/v1/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List Tables",
        "description": "List all tables in a workspace. Returns table metadata including name, schema, and row counts.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/tables?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tables in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tables": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Table"
                          },
                          "description": "Array of tables in the workspace."
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of tables."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "tables": [
                      {
                        "id": "tbl_abc123",
                        "name": "contacts",
                        "description": "Customer contacts",
                        "schema": {
                          "columns": [
                            {
                              "name": "email",
                              "type": "string",
                              "required": true,
                              "unique": true
                            }
                          ]
                        },
                        "rowCount": 150,
                        "maxRows": 10000,
                        "createdAt": "2026-01-15T10:30:00Z",
                        "updatedAt": "2026-01-15T10:30:00Z"
                      }
                    ],
                    "totalCount": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createTable",
        "summary": "Create Table",
        "description": "Create a new table in a workspace. Define the table schema with typed columns, optional constraints (required, unique), and a name.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v1/tables\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"name\": \"contacts\",\n    \"description\": \"Customer contacts\",\n    \"schema\": {\n      \"columns\": [\n        { \"name\": \"email\", \"type\": \"string\", \"required\": true, \"unique\": true },\n        { \"name\": \"name\", \"type\": \"string\", \"required\": true },\n        { \"name\": \"age\", \"type\": \"number\" }\n      ]\n    }\n  }'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "name", "schema"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace to create the table in."
                  },
                  "name": {
                    "type": "string",
                    "description": "Table name. Must start with a letter or underscore, alphanumeric and underscores only.",
                    "pattern": "^[a-zA-Z_][a-zA-Z0-9_]*$"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description of the table."
                  },
                  "schema": {
                    "type": "object",
                    "required": ["columns"],
                    "properties": {
                      "columns": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ColumnDefinition"
                        },
                        "minItems": 1,
                        "description": "Column definitions for the table."
                      }
                    },
                    "description": "Table schema definition containing column definitions."
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "name": "contacts",
                "description": "Customer contacts",
                "schema": {
                  "columns": [
                    {
                      "name": "email",
                      "type": "string",
                      "required": true,
                      "unique": true
                    },
                    {
                      "name": "name",
                      "type": "string",
                      "required": true
                    },
                    {
                      "name": "age",
                      "type": "number"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "table": {
                          "$ref": "#/components/schemas/Table",
                          "description": "The newly created table."
                        },
                        "message": {
                          "type": "string",
                          "description": "Confirmation message."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "table": {
                      "id": "tbl_abc123",
                      "name": "contacts",
                      "description": "Customer contacts",
                      "schema": {
                        "columns": [
                          {
                            "name": "email",
                            "type": "string",
                            "required": true,
                            "unique": true
                          }
                        ]
                      },
                      "rowCount": 0,
                      "maxRows": 10000,
                      "createdAt": "2026-01-15T10:30:00Z",
                      "updatedAt": "2026-01-15T10:30:00Z"
                    },
                    "message": "Table created successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": []
      }
    },
    "/api/v1/tables/{tableId}": {
      "get": {
        "operationId": "getTable",
        "summary": "Get Table",
        "description": "Retrieve a table's metadata, schema, and row count.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Table details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "table": {
                          "$ref": "#/components/schemas/Table",
                          "description": "The requested table with its metadata and schema."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "table": {
                      "id": "tbl_abc123",
                      "name": "contacts",
                      "description": "Customer contacts",
                      "schema": {
                        "columns": [
                          {
                            "name": "email",
                            "type": "string",
                            "required": true,
                            "unique": true
                          }
                        ]
                      },
                      "rowCount": 150,
                      "maxRows": 10000,
                      "createdAt": "2026-01-15T10:30:00Z",
                      "updatedAt": "2026-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteTable",
        "summary": "Delete Table",
        "description": "Delete a table and all its rows. This action is irreversible.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Table deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Confirmation message."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "Table deleted successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tables/{tableId}/columns": {
      "post": {
        "operationId": "addColumn",
        "summary": "Add Column",
        "description": "Add a new column to the table schema. Optionally specify a position to insert the column at a specific index.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/columns\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"column\": {\n      \"name\": \"email\",\n      \"type\": \"string\",\n      \"required\": true,\n      \"unique\": true\n    }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "column"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace ID"
                  },
                  "column": {
                    "type": "object",
                    "required": ["name", "type"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Column name (alphanumeric and underscores, must start with letter or underscore)"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["string", "number", "boolean", "date", "json"],
                        "description": "Column data type"
                      },
                      "required": {
                        "type": "boolean",
                        "description": "Whether the column requires a value"
                      },
                      "unique": {
                        "type": "boolean",
                        "description": "Whether column values must be unique"
                      },
                      "position": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Position index to insert the column at (0-based). Appends if omitted."
                      }
                    }
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "column": {
                  "name": "phone",
                  "type": "string",
                  "required": false,
                  "unique": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Column added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "columns": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ColumnDefinition"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "columns": [
                      {
                        "name": "email",
                        "type": "string",
                        "required": true,
                        "unique": true
                      },
                      {
                        "name": "phone",
                        "type": "string",
                        "required": false,
                        "unique": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateColumn",
        "summary": "Update Column",
        "description": "Update a column's name, type, or constraints. Multiple updates can be applied in a single request. When renaming, subsequent updates (type, constraints) use the new name.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/columns\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"columnName\": \"old_name\",\n    \"updates\": {\n      \"name\": \"new_name\",\n      \"type\": \"number\"\n    }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "columnName", "updates"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace ID"
                  },
                  "columnName": {
                    "type": "string",
                    "description": "Current name of the column to update"
                  },
                  "updates": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "New column name"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["string", "number", "boolean", "date", "json"],
                        "description": "New column data type"
                      },
                      "required": {
                        "type": "boolean",
                        "description": "Whether the column requires a value"
                      },
                      "unique": {
                        "type": "boolean",
                        "description": "Whether column values must be unique"
                      }
                    }
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "columnName": "phone",
                "updates": {
                  "name": "phone_number",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Column updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "columns": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ColumnDefinition"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "columns": [
                      {
                        "name": "email",
                        "type": "string",
                        "required": true,
                        "unique": true
                      },
                      {
                        "name": "phone_number",
                        "type": "string",
                        "required": true,
                        "unique": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteColumn",
        "summary": "Delete Column",
        "description": "Delete a column from the table schema. This removes the column definition and strips the corresponding key from all existing row data. Cannot delete the last remaining column.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/columns\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"columnName\": \"old_column\"\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "columnName"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace ID"
                  },
                  "columnName": {
                    "type": "string",
                    "description": "Name of the column to delete"
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "columnName": "phone_number"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Column deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "columns": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ColumnDefinition"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "columns": [
                      {
                        "name": "email",
                        "type": "string",
                        "required": true,
                        "unique": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tables/{tableId}/rows": {
      "get": {
        "operationId": "listRows",
        "summary": "List Rows",
        "description": "Query rows from a table with optional filtering, sorting, and pagination. Filters and sorts are passed as JSON-encoded query parameters.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows?workspaceId=YOUR_WORKSPACE_ID&limit=50&offset=0\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceId"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "JSON-encoded filter object. Example: {\"status\": \"active\"} or {\"age\": {\"$gt\": 18}}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "JSON-encoded sort object. Example: {\"created_at\": \"desc\"}.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return (1-1000, default 100).",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of rows to skip for pagination (default 0).",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rows matching the query.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "rows": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TableRow"
                          },
                          "description": "Array of rows matching the query."
                        },
                        "rowCount": {
                          "type": "integer",
                          "description": "Number of rows returned in this response."
                        },
                        "totalCount": {
                          "type": "integer",
                          "description": "Total rows matching the filter."
                        },
                        "limit": {
                          "type": "integer",
                          "description": "The limit that was applied to the query."
                        },
                        "offset": {
                          "type": "integer",
                          "description": "The offset that was applied to the query."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "rows": [
                      {
                        "id": "row_abc123",
                        "data": {
                          "email": "jane@example.com",
                          "name": "Jane Doe"
                        },
                        "position": 0,
                        "createdAt": "2026-01-15T10:30:00Z",
                        "updatedAt": "2026-01-15T10:30:00Z"
                      }
                    ],
                    "rowCount": 1,
                    "totalCount": 1,
                    "limit": 100,
                    "offset": 0
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "insertRows",
        "summary": "Insert Rows",
        "description": "Insert one or more rows into a table. For a single row, pass a `data` object. For batch insert, pass a `rows` array (up to 1000 rows).",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"data\": {\n      \"email\": \"user@example.com\",\n      \"name\": \"Jane Doe\"\n    }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["workspaceId", "data"],
                    "description": "Single row insert.",
                    "properties": {
                      "workspaceId": {
                        "type": "string",
                        "description": "The workspace that owns the table."
                      },
                      "data": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Key-value pairs matching the table schema."
                      },
                      "position": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Position index for the row. If omitted, the row is appended at the end of the table."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["workspaceId", "rows"],
                    "description": "Batch insert (up to 1000 rows).",
                    "properties": {
                      "workspaceId": {
                        "type": "string",
                        "description": "The workspace that owns the table."
                      },
                      "rows": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "minItems": 1,
                        "maxItems": 1000,
                        "description": "Array of row objects to insert. Each object contains key-value pairs matching the table schema."
                      },
                      "positions": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "uniqueItems": true,
                        "maxItems": 1000,
                        "description": "Array of position indices for each row. Must be the same length as the rows array and must not contain duplicates. If omitted, rows are appended in order."
                      }
                    }
                  }
                ]
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "data": {
                  "email": "jane@example.com",
                  "name": "Jane Doe",
                  "age": 30
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row(s) inserted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/TableRow",
                          "description": "The inserted row (present for single-row inserts)."
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TableRow"
                          },
                          "description": "Array of inserted rows (present for batch inserts)."
                        },
                        "insertedCount": {
                          "type": "integer",
                          "description": "Number of rows successfully inserted."
                        },
                        "message": {
                          "type": "string",
                          "description": "Confirmation message."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "row": {
                      "id": "row_abc123",
                      "data": {
                        "email": "jane@example.com",
                        "name": "Jane Doe",
                        "age": 30
                      },
                      "position": 0,
                      "createdAt": "2026-01-15T10:30:00Z",
                      "updatedAt": "2026-01-15T10:30:00Z"
                    },
                    "message": "Row inserted successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "put": {
        "operationId": "updateRows",
        "summary": "Update Rows",
        "description": "Bulk update rows matching a filter. All matching rows will have the specified fields updated. Validates against schema and unique constraints.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PUT \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"filter\": { \"status\": \"pending\" },\n    \"data\": { \"status\": \"active\" }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "filter", "data"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the table."
                  },
                  "filter": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Filter criteria to match rows."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fields to update on matching rows."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "description": "Maximum number of rows to update."
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "filter": {
                  "status": "pending"
                },
                "data": {
                  "status": "active"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RowsUpdated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteRows",
        "summary": "Delete Rows",
        "description": "Delete rows by filter criteria or by an explicit list of row IDs. Pass either a `filter` object or a `rowIds` array.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"rowIds\": [\"row_abc123\", \"row_def456\"]\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["workspaceId", "filter"],
                    "description": "Delete by filter.",
                    "properties": {
                      "workspaceId": {
                        "type": "string",
                        "description": "The workspace that owns the table."
                      },
                      "filter": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Filter criteria to match rows for deletion."
                      },
                      "limit": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1000,
                        "description": "Maximum number of rows to delete. Defaults to all matching rows, capped at 1000."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["workspaceId", "rowIds"],
                    "description": "Delete by IDs.",
                    "properties": {
                      "workspaceId": {
                        "type": "string",
                        "description": "The workspace that owns the table."
                      },
                      "rowIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "maxItems": 1000,
                        "description": "Explicit list of row IDs to delete (max 1000)."
                      }
                    }
                  }
                ]
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "rowIds": ["row_abc123", "row_def456"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rows deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Confirmation message describing how many rows were deleted."
                        },
                        "deletedCount": {
                          "type": "integer",
                          "description": "Number of rows that were deleted."
                        },
                        "deletedRowIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of IDs for each row that was deleted."
                        },
                        "requestedCount": {
                          "type": "integer",
                          "description": "Number of row IDs requested for deletion (only present when deleting by IDs)."
                        },
                        "missingRowIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Row IDs that were requested but not found (only present when deleting by IDs)."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "Rows deleted successfully",
                    "deletedCount": 2,
                    "deletedRowIds": ["row_abc123", "row_def456"]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "batchUpdateRows",
        "summary": "Batch Update Rows",
        "description": "Update multiple specific rows by their IDs in a single request. Each entry in the `updates` array specifies a row ID and the fields to update. Validates against the table schema and unique constraints. Up to 1000 rows can be updated per request.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"updates\": [\n      { \"rowId\": \"row_abc123\", \"data\": { \"status\": \"active\" } },\n      { \"rowId\": \"row_def456\", \"data\": { \"status\": \"archived\" } }\n    ]\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "updates"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the table."
                  },
                  "updates": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["rowId", "data"],
                      "properties": {
                        "rowId": {
                          "type": "string",
                          "description": "The ID of the row to update."
                        },
                        "data": {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Key-value pairs of fields to update on this row."
                        }
                      }
                    },
                    "minItems": 1,
                    "maxItems": 1000,
                    "description": "Array of update objects. Each object specifies a row ID and the fields to update. Duplicate row IDs are not allowed."
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "updates": [
                  {
                    "rowId": "row_abc123",
                    "data": {
                      "status": "active"
                    }
                  },
                  {
                    "rowId": "row_def456",
                    "data": {
                      "status": "archived"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RowsUpdated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tables/{tableId}/rows/{rowId}": {
      "get": {
        "operationId": "getRow",
        "summary": "Get Row",
        "description": "Retrieve a single row by its ID.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows/{rowId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Row data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/TableRow",
                          "description": "The requested row."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "row": {
                      "id": "row_abc123",
                      "data": {
                        "email": "jane@example.com",
                        "name": "Jane Doe"
                      },
                      "position": 0,
                      "createdAt": "2026-01-15T10:30:00Z",
                      "updatedAt": "2026-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateRow",
        "summary": "Update Row",
        "description": "Partially update a single row. Only the provided fields are updated; existing fields are preserved. Data is validated against the table schema.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows/{rowId}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"data\": { \"name\": \"Updated Name\" }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId", "data"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the table."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Fields to update. Only specified fields are changed."
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123",
                "data": {
                  "name": "Updated Name"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/TableRow",
                          "description": "The updated row with all current field values."
                        },
                        "message": {
                          "type": "string",
                          "description": "Confirmation message."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "row": {
                      "id": "row_abc123",
                      "data": {
                        "email": "jane@example.com",
                        "name": "Updated Name"
                      },
                      "position": 0,
                      "createdAt": "2026-01-15T10:30:00Z",
                      "updatedAt": "2026-01-16T08:00:00Z"
                    },
                    "message": "Row updated successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteRow",
        "summary": "Delete Row",
        "description": "Delete a single row by its ID.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v1/tables/{tableId}/rows/{rowId}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\"\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          }
        ],
        "responses": {
          "200": {
            "description": "Row deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Confirmation message."
                        },
                        "deletedCount": {
                          "type": "integer",
                          "description": "Number of rows deleted (always 1 for single-row deletion)."
                        }
                      },
                      "description": "Response payload."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "message": "Row deleted successfully",
                    "deletedCount": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "The workspace that owns the table."
                  }
                }
              },
              "example": {
                "workspaceId": "wsp_abc123"
              }
            }
          }
        }
      }
    },
    "/api/v1/tables/{tableId}/rows/upsert": {
      "post": {
        "operationId": "upsertRow",
        "summary": "Upsert Row",
[...]
