{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API v2 — Workflows",
    "description": "Version 2 of the Sim REST API for workflow management, deployment versions, execution, run lifecycle, folders, and portable import and export.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Workflows",
      "description": "Manage and execute workflow definitions, folders, deployment versions, and portable imports and exports."
    },
    {
      "name": "Workflow Runs",
      "description": "Inspect, resume, and cancel workflow runs."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List Workflows",
        "description": "List workflows in a workspace with folder and deployment filters, search, sorting, and opaque cursor pagination. A workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose workflows should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace whose workflows should be listed."
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to workflows in this folder path.",
            "schema": {
              "description": "Restrict results to workflows in this folder path.",
              "type": "string"
            }
          },
          {
            "name": "deployedOnly",
            "in": "query",
            "required": false,
            "description": "Return only workflows with an active deployment when true.",
            "schema": {
              "description": "Return only workflows with an active deployment when true.",
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum workflows to return per page.",
            "schema": {
              "default": 50,
              "description": "Maximum workflows to return per page.",
              "type": "number",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned by a previous request.",
            "schema": {
              "description": "Opaque pagination cursor returned by a previous request.",
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring search on the resource name.",
            "schema": {
              "description": "Case-insensitive substring search on the resource name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result.",
            "schema": {
              "default": "position",
              "description": "Field used to sort the result.",
              "type": "string",
              "enum": ["position", "name", "createdAt", "updatedAt", "runCount"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workflows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createWorkflowV2",
        "summary": "Create Workflow",
        "description": "Create a workflow in a workspace root or canonical workflow folder. A workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Workflows"],
        "requestBody": {
          "required": true,
          "description": "Name, description, workspace, and optional folder for a new workflow.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}": {
      "get": {
        "operationId": "getWorkflow",
        "summary": "Get Workflow",
        "description": "Get a workflow with its variables and deployed API-trigger inputs. A workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateWorkflowV2",
        "summary": "Update Workflow",
        "description": "Rename, describe, or move a workflow to a canonical folder path. A workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update on an existing workflow.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflowV2",
        "summary": "Delete Workflow",
        "description": "Permanently delete a workflow and its associated mutable state.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/versions": {
      "get": {
        "operationId": "listWorkflowVersionsV2",
        "summary": "List Workflow Versions",
        "description": "List immutable deployment versions of a workflow, newest first.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum deployment versions to return per page.",
            "schema": {
              "default": 50,
              "description": "Maximum deployment versions to return per page.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned by a previous request.",
            "schema": {
              "description": "Opaque pagination cursor returned by a previous request.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of deployment versions.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowVersionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/versions/{version}": {
      "get": {
        "operationId": "getWorkflowVersionV2",
        "summary": "Get Workflow Version",
        "description": "Get an immutable deployment version and its pinned workflow graph snapshot.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier."
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Numeric deployment version.",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "Numeric deployment version.",
              "examples": [3]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested deployment version.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowVersionDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/deploy": {
      "post": {
        "operationId": "deployWorkflow",
        "summary": "Deploy Workflow",
        "description": "Create and asynchronously activate a deployment version. This request is not idempotent: it accepts no idempotency key and every call mints a new deployment version, so retrying after a timeout creates a second version rather than returning the first. The response carries `latestDeploymentAttempt` for the accepted attempt, but `GET /workflows/{id}` does not expose that field — poll activation with `isDeployed` and `deployedAt` on the workflow, or with `isActive` on `GET /workflows/{id}/versions`. Returns 409 when the deployment would conflict with an existing webhook path. A workspace API key cannot call this operation. Because unauthorized resources are concealed, the rejection is reported as `404` rather than `403`; use a personal API key.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional metadata for the new deployment version.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted deployment attempt.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "undeployWorkflow",
        "summary": "Undeploy Workflow",
        "description": "Deactivate the currently serving workflow version. A workspace API key cannot call this operation. Because unauthorized resources are concealed, the rejection is reported as `404` rather than `403`; use a personal API key.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow was undeployed.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UndeployWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/rollback": {
      "post": {
        "operationId": "rollbackWorkflow",
        "summary": "Rollback Workflow",
        "description": "Asynchronously reactivate a previous deployment version, selecting the preceding active version when no version is supplied. A workspace API key cannot call this operation. Because unauthorized resources are concealed, the rejection is reported as `404` rather than `403`; use a personal API key.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional deployment version to reactivate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted rollback attempt.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/export": {
      "get": {
        "operationId": "exportWorkflow",
        "summary": "Export Workflow",
        "description": "Export a portable, secret-sanitized workflow. Workspace-scoped bindings must be selected again after import. A workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow export payload.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/import": {
      "post": {
        "operationId": "importWorkflow",
        "summary": "Import Workflow",
        "description": "Create a workflow from a portable export object, bare state, or JSON string.",
        "tags": ["Workflows"],
        "requestBody": {
          "required": true,
          "description": "Portable workflow data and destination metadata for an import.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The imported workflow.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/execute": {
      "post": {
        "operationId": "executeWorkflowV2",
        "summary": "Execute Workflow",
        "description": "Execute a deployed workflow synchronously, asynchronously, or as Server-Sent Events. Public workflows permit anonymous synchronous and streaming execution; asynchronous execution requires an API key. A synchronous run that exceeds its execution timeout returns HTTP 200 with `status: \"failed\"` and `error.code: \"TIMEOUT\"` rather than an HTTP error, so branch on `status`. The optional `X-Run-Id` header is a one-shot uniqueness claim, not an idempotency key: reusing a value returns 409 with `error.details.code: \"RUN_ID_CONFLICT\"` and never replays the earlier run. Option constraints — each is a 400: (1) `async: true` requires an API key; anonymous public-workflow callers may only execute synchronously or as a stream. (2) `async` and `stream` cannot both be true. (3) `executionTimeoutSeconds` is accepted only when `async: true`. (4) `async: true` rejects every streaming and output-shaping option — `selectedOutputs`, `includeThinking`, `includeToolCalls`, `includeFileBase64`, and `base64MaxBytes`. (5) `includeThinking` and `includeToolCalls` require `stream: true`. (6) `includeThinking` and `includeToolCalls` require the `X-Sim-Stream-Protocol: agent-events-v1` request header, which declares that the client understands agent-event frames.",
        "tags": ["Workflows"],
        "security": [
          {
            "apiKey": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          },
          {
            "name": "x-run-id",
            "in": "header",
            "required": false,
            "description": "Caller-supplied run identifier, available only to API-key callers. This is a one-shot uniqueness claim, NOT an idempotency key: the first request to use a value starts a run, and any later request reusing it fails with 409 and `error.details.code: \"RUN_ID_CONFLICT\"` instead of replaying the original result. To retry safely, generate a fresh value per attempt and reconcile duplicates yourself, or omit the header and let the server allocate the run identifier.",
            "schema": {
              "description": "Caller-supplied run identifier, available only to API-key callers. This is a one-shot uniqueness claim, NOT an idempotency key: the first request to use a value starts a run, and any later request reusing it fails with 409 and `error.details.code: \"RUN_ID_CONFLICT\"` instead of replaying the original result. To retry safely, generate a fresh value per attempt and reconcile duplicates yourself, or omit the header and let the server allocate the run identifier.",
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$",
              "examples": ["run_8f14e45f-ceea-467f-a"]
            }
          },
          {
            "name": "x-sim-via",
            "in": "header",
            "required": false,
            "description": "Comma-separated workflow identifiers describing the workflow-to-workflow call chain that led to this request. Each hop appends its own workflow id, and Sim sets it automatically when one workflow calls another; supply it yourself only when relaying an existing chain. A chain already at the maximum depth is rejected with 409 and `error.details.code: \"CALL_CHAIN_DEPTH_EXCEEDED\"`, which is how runaway recursion between workflows is stopped.",
            "schema": {
              "description": "Comma-separated workflow identifiers describing the workflow-to-workflow call chain that led to this request. Each hop appends its own workflow id, and Sim sets it automatically when one workflow calls another; supply it yourself only when relaying an existing chain. A chain already at the maximum depth is rejected with 409 and `error.details.code: \"CALL_CHAIN_DEPTH_EXCEEDED\"`, which is how runaway recursion between workflows is stopped.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Input and execution-mode options for a deployed workflow. Option constraints — each is a 400: (1) `async: true` requires an API key; anonymous public-workflow callers may only execute synchronously or as a stream. (2) `async` and `stream` cannot both be true. (3) `executionTimeoutSeconds` is accepted only when `async: true`. (4) `async: true` rejects every streaming and output-shaping option — `selectedOutputs`, `includeThinking`, `includeToolCalls`, `includeFileBase64`, and `base64MaxBytes`. (5) `includeThinking` and `includeToolCalls` require `stream: true`. (6) `includeThinking` and `includeToolCalls` require the `X-Sim-Stream-Protocol: agent-events-v1` request header, which declares that the client understands agent-event frames.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A synchronous run result or Server-Sent Event stream.",
            "headers": {
              "X-Run-Id": {
                "$ref": "#/components/headers/X-Run-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowSyncResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "The asynchronous run was queued.",
            "headers": {
              "X-Run-Id": {
                "$ref": "#/components/headers/X-Run-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowQueuedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UsageLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/RunIdConflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "499": {
            "$ref": "#/components/responses/ClientClosedRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/runs": {
      "get": {
        "operationId": "listWorkflowRunsV2",
        "summary": "List Workflow Runs",
        "description": "List recorded runs of a workflow with filtering and opaque cursor pagination. Ordering deviates from the v2 `sortBy` + `sortOrder` convention: runs are sortable only by start time, so direction is carried by the single `order` param.",
        "tags": ["Workflow Runs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier.",
              "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by run status.",
            "schema": {
              "description": "Filter by run status.",
              "type": "string",
              "enum": ["pending", "running", "completed", "failed", "cancelled", "paused"]
            }
          },
          {
            "name": "trigger",
            "in": "query",
            "required": false,
            "description": "Filter by trigger type.",
            "schema": {
              "description": "Filter by trigger type.",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Include runs started at or after this ISO 8601 timestamp.",
            "schema": {
              "description": "Include runs started at or after this ISO 8601 timestamp.",
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Include runs started at or before this ISO 8601 timestamp.",
            "schema": {
              "description": "Include runs started at or before this ISO 8601 timestamp.",
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum workflow runs to return per page.",
            "schema": {
              "default": 50,
              "description": "Maximum workflow runs to return per page.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor returned by a previous request.",
            "schema": {
              "description": "Opaque pagination cursor returned by a previous request.",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort direction by run start time. This operation deviates from the v2 `sortBy` + `sortOrder` convention: runs are sortable only by start time, so the direction is carried by this single `order` param and `sortBy`/`sortOrder` are not accepted.",
            "schema": {
              "default": "desc",
              "description": "Sort direction by run start time. This operation deviates from the v2 `sortBy` + `sortOrder` convention: runs are sortable only by start time, so the direction is carried by this single `order` param and `sortBy`/`sortOrder` are not accepted.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workflow runs.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/runs/{runId}": {
      "get": {
        "operationId": "getWorkflowRunV2",
        "summary": "Get Workflow Run",
        "description": "Get current workflow run state, optionally including final and block outputs.",
        "tags": ["Workflow Runs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier."
            }
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "Unique workflow run identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$",
              "description": "Unique workflow run identifier.",
              "examples": ["run_8f14e45f-ceea-467f-a"]
            }
          },
          {
            "name": "includeOutput",
            "in": "query",
            "required": false,
            "description": "Include final and block outputs when true.",
            "schema": {
              "description": "Include final and block outputs when true.",
              "type": "string",
              "enum": ["true", "false"]
            }
          },
          {
            "name": "selectedOutputs",
            "in": "query",
            "required": false,
            "description": "Comma-separated block output references to include.",
            "schema": {
              "description": "Comma-separated block output references to include.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow run status.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/runs/{runId}/resume": {
      "post": {
        "operationId": "resumeWorkflowRunV2",
        "summary": "Resume Workflow Run",
        "description": "Resume one human-in-the-loop pause context. The resumed attempt receives a new run identifier and may complete synchronously or return a queue receipt.",
        "tags": ["Workflow Runs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier."
            }
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "Unique workflow run identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$",
              "description": "Unique workflow run identifier.",
              "examples": ["run_8f14e45f-ceea-467f-a"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Pause context and optional input used to resume a workflow run.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resumed workflow attempt completed synchronously.",
            "headers": {
              "X-Run-Id": {
                "$ref": "#/components/headers/X-Run-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeWorkflowSyncResponse"
                }
              }
            }
          },
          "202": {
            "description": "The resumed workflow attempt was queued.",
            "headers": {
              "X-Run-Id": {
                "$ref": "#/components/headers/X-Run-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeWorkflowQueuedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/UsageLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/{id}/runs/{runId}/cancel": {
      "post": {
        "operationId": "cancelRunV2",
        "summary": "Cancel Workflow Run",
        "description": "Request cancellation of a running, queued, or paused workflow run. Cancelling a run that has already reached a terminal state succeeds with no effect rather than returning an error. The `reason` field is present on every response, including full successes — `recorded` is the success value; it is not a partial-failure marker. A run produced by a table workflow group is a 409 when its cell can no longer accept the cancellation, because the run and its cell must reach the cancelled state together.",
        "tags": ["Workflow Runs"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique workflow identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique workflow identifier."
            }
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "Unique workflow run identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]+$",
              "description": "Unique workflow run identifier.",
              "examples": ["run_8f14e45f-ceea-467f-a"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cancellation outcome.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelWorkflowRunResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/workflows/folders": {
      "get": {
        "operationId": "listWorkflowsFolders",
        "summary": "List Workflow Folders",
        "description": "List canonical workflow folders in a workspace. The bounded set is returned in one page with `nextCursor` always null; there is no second page to fetch.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose folders should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace whose folders should be listed."
            }
          },
          {
            "name": "parentPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to direct children of this parent path.",
            "schema": {
              "description": "Restrict results to direct children of this parent path.",
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the folder name.",
            "schema": {
              "description": "Case-insensitive substring match against the folder name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result.",
            "schema": {
              "default": "name",
              "description": "Field used to sort the result.",
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of workflow folders.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFolderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createWorkflowsFolder",
        "summary": "Create Workflow Folder",
        "description": "Create a canonical workflow folder in a workspace.",
        "tags": ["Workflows"],
        "requestBody": {
          "required": true,
          "description": "Workspace and canonical path for a new workflow folder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowFolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created workflow folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWorkflowFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "relocateWorkflowsFolder",
        "summary": "Rename or Move Workflow Folder",
        "description": "Rename or move a workflow folder and its descendants to a canonical path.",
        "tags": ["Workflows"],
        "requestBody": {
          "required": true,
          "description": "Current and destination paths for a workflow folder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelocateWorkflowFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The relocated workflow folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelocateWorkflowFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflowsFolder",
        "summary": "Delete Workflow Folder",
        "description": "Delete a workflow folder, optionally including its descendants and workflows.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace containing the folder.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace containing the folder."
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path of the folder to delete.",
            "schema": {
              "description": "Path of the folder to delete.",
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "description": "Delete nested files and folders when true.",
            "schema": {
              "description": "Delete nested files and folders when true.",
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow folder was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWorkflowFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your Sim API key, personal or workspace-scoped. Generate one from the Sim dashboard under Settings > API Keys. A workspace API key is not accepted everywhere: operations that act on behalf of a specific human — administrative reads, secret access, and irreversible or governance-affecting writes — always reject it, whatever role the key carries. Each such operation says so in its own description, and the rejection surfaces as `403` unless the operation conceals unauthorized resources, in which case it is reported as `404`. Use a personal API key for those."
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Maximum requests allowed in the current window.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 9007199254740991,
          "title": "Rate limit",
          "description": "Maximum requests allowed in the current window."
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 9007199254740991,
          "title": "Rate limit remaining",
          "description": "Requests remaining in the current window."
        }
      },
      "X-RateLimit-Reset": {
        "description": "ISO 8601 timestamp when the current rate-limit window resets.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
          "title": "Rate limit reset",
          "description": "ISO 8601 timestamp when the current rate-limit window resets."
        }
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying a rate-limited request.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 9007199254740991,
          "title": "Retry after",
          "description": "Seconds to wait before retrying a rate-limited request."
        }
      },
      "X-Run-Id": {
        "description": "Identifier assigned to the workflow run.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "title": "Run identifier",
          "description": "Identifier assigned to the workflow run."
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The API key is missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "UsageLimitExceeded": {
        "description": "The workspace has exceeded its usage or billing limits.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The caller lacks access to the resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with current resource state.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "RunIdConflict": {
        "description": "The run cannot be started. Two causes share this status, distinguished by `error.details.code`: `RUN_ID_CONFLICT` when the supplied `X-Run-Id` is already associated with a different request, and `CALL_CHAIN_DEPTH_EXCEEDED` when the incoming `X-Sim-Via` chain has already reached the maximum workflow-to-workflow call depth.",
        "headers": {
          "X-Run-Id": {
            "$ref": "#/components/headers/X-Run-Id"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Gone": {
        "description": "The requested generated resource has expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request, or a resource collection it must materialize, exceeds the allowed size. Besides an oversized request body, this covers a generated artifact that renders past the download ceiling and a workspace folder tree too large to load in full.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "The request uses an unsupported media type.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "Locked": {
        "description": "The resource is locked and cannot be modified.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The caller exceeded the request rate limit.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "ClientClosedRequest": {
        "description": "The client closed the connection before the response was produced.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "An unexpected server error occurred.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A required service is temporarily unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/V2Error"
            }
          }
        }
      }
    },
    "schemas": {
      "V2Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation of the error."
              },
              "details": {
                "description": "Optional structured error details."
              }
            },
            "required": ["code", "message"],
            "additionalProperties": false,
            "description": "Canonical error details."
          }
        },
        "required": ["error"],
        "additionalProperties": false,
        "title": "v2 error response",
        "description": "Canonical error envelope returned by the public v2 API.",
        "examples": [
          {
            "error": {
              "code": "BAD_REQUEST",
              "message": "The request is invalid."
            }
          }
        ]
      },
      "WorkflowListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique workflow identifier.",
            "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
          },
          "name": {
            "type": "string",
            "description": "Workflow name.",
            "examples": ["Customer support triage"]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Workflow description, or null when none is set."
          },
          "folderPath": {
            "type": "string",
            "description": "Canonical containing-folder path; `/` is the workspace root.",
            "examples": ["/Operations"]
          },
          "workspaceId": {
            "type": "string",
            "description": "Workspace that owns the workflow."
          },
          "isDeployed": {
            "type": "boolean",
            "description": "Whether the workflow has an active deployment."
          },
          "deployedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 activation timestamp, or null when not deployed.",
            "format": "date-time"
          },
          "runCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Total recorded workflow runs."
          },
          "lastRunAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 timestamp of the latest run, or null when never run.",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the workflow was created.",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the workflow was last updated.",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "folderPath",
          "workspaceId",
          "isDeployed",
          "deployedAt",
          "runCount",
          "lastRunAt",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false,
        "title": "Workflow summary",
        "description": "Summary of a workflow and its deployment and run state."
      },
      "WorkflowListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowListItem"
            },
            "description": "Items in the current page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Opaque cursor for the next page: send it back as `cursor` to continue, and stop when it is null. Most v2 lists page, so null means the last page was reached. A few are full-set lists that return their whole bounded result in one response and therefore always report null; those say so in the operation description. Either way, null means there is nothing further to fetch — never construct a cursor yourself."
          }
        },
        "required": ["data", "nextCursor"],
        "additionalProperties": false,
        "title": "Workflow list response",
        "description": "A cursor-paginated page of workflow summaries.",
        "examples": [
          {
            "data": [
              {
                "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
                "name": "Customer support triage",
                "description": "Routes incoming support requests to the right team.",
                "folderPath": "/Operations",
                "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
                "isDeployed": true,
                "deployedAt": "2026-06-12T10:30:00.000Z",
                "runCount": 42,
                "lastRunAt": "2026-08-09T18:04:11.000Z",
                "createdAt": "2026-05-01T09:00:00.000Z",
                "updatedAt": "2026-08-09T18:04:11.000Z"
              }
            ],
            "nextCursor": null
          }
        ]
      },
      "CreateWorkflowResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/WorkflowListItem"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "Create workflow response",
        "description": "The created workflow summary.",
        "examples": [
          {
            "data": {
              "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
              "name": "Customer support triage",
              "description": "Routes incoming support requests to the right team.",
              "folderPath": "/Operations",
              "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
              "isDeployed": true,
              "deployedAt": "2026-06-12T10:30:00.000Z",
              "runCount": 42,
              "lastRunAt": "2026-08-09T18:04:11.000Z",
              "createdAt": "2026-05-01T09:00:00.000Z",
              "updatedAt": "2026-08-09T18:04:11.000Z"
            }
          }
        ]
      },
      "CreateWorkflowRequest": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "description": "Workspace in which to create the workflow."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Workflow name."
          },
          "description": {
            "description": "Optional workflow description.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "folderPath": {
            "description": "Folder path. A missing leading slash is normalized before validation.",
            "type": "string"
          }
        },
        "required": ["workspaceId", "name"],
        "additionalProperties": false,
        "title": "Create workflow request",
        "description": "Name, description, workspace, and optional folder for a new workflow."
      },
      "WorkflowInputField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Input field name."
          },
          "type": {
            "type": "string",
            "description": "Input field type."
          },
          "description": {
            "description": "Optional input field description.",
            "type": "string"
          }
        },
        "required": ["name", "type"],
        "additionalProperties": false,
        "title": "Workflow input field",
        "description": "A deployed API trigger input exposed by a workflow."
      },
      "WorkflowDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique workflow identifier.",
            "examples": ["3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36"]
          },
          "name": {
            "type": "string",
            "description": "Workflow name.",
            "examples": ["Customer support triage"]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Workflow description, or null when none is set."
          },
          "folderPath": {
            "type": "string",
            "description": "Canonical containing-folder path; `/` is the workspace root.",
            "examples": ["/Operations"]
          },
          "workspaceId": {
            "type": "string",
            "description": "Workspace that owns the workflow."
          },
          "isDeployed": {
            "type": "boolean",
            "description": "Whether the workflow has an active deployment."
          },
          "deployedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 activation timestamp, or null when not deployed.",
            "format": "date-time"
          },
          "runCount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Total recorded workflow runs."
          },
          "lastRunAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 timestamp of the latest run, or null when never run.",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the workflow was created.",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the workflow was last updated.",
            "format": "date-time"
          },
          "variables": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "description": "Structured workflow variable value."
            },
            "description": "Workflow-scoped variables keyed by variable identifier."
          },
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowInputField"
            },
            "description": "Input fields exposed by the workflow API trigger."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "folderPath",
          "workspaceId",
          "isDeployed",
          "deployedAt",
          "runCount",
          "lastRunAt",
          "createdAt",
          "updatedAt",
          "variables",
          "inputs"
        ],
        "additionalProperties": false,
        "title": "Workflow detail",
        "description": "Full workflow summary with variables and API-trigger input fields."
      },
      "WorkflowDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/WorkflowDetail"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "Workflow detail response",
        "description": "Detailed workflow metadata, variables, and trigger inputs.",
        "examples": [
          {
            "data": {
              "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
              "name": "Customer support triage",
              "description": "Routes incoming support requests to the right team.",
              "folderPath": "/Operations",
              "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
              "isDeployed": true,
              "deployedAt": "2026-06-12T10:30:00.000Z",
              "runCount": 42,
              "lastRunAt": "2026-08-09T18:04:11.000Z",
              "createdAt": "2026-05-01T09:00:00.000Z",
              "updatedAt": "2026-08-09T18:04:11.000Z",
              "variables": {},
              "inputs": []
            }
          }
        ]
      },
      "UpdateWorkflowResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/WorkflowListItem"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "Update workflow response",
        "description": "The updated workflow summary.",
        "examples": [
          {
            "data": {
              "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
              "name": "Customer support triage",
              "description": "Routes incoming support requests to the right team.",
              "folderPath": "/Operations",
              "workspaceId": "a91c4b2e-6d3f-4e8a-b5c7-0d9e2f1a8c64",
              "isDeployed": true,
              "deployedAt": "2026-06-12T10:30:00.000Z",
              "runCount": 42,
              "lastRunAt": "2026-08-09T18:04:11.000Z",
              "createdAt": "2026-05-01T09:00:00.000Z",
              "updatedAt": "2026-08-09T18:04:11.000Z"
            }
          }
        ]
      },
      "UpdateWorkflowRequest": {
        "type": "object",
        "properties": {
          "name": {
            "description": "Replacement workflow name.",
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "description": "Replacement workflow description; null clears it.",
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50000
              },
              {
                "type": "null"
              }
            ]
          },
          "folderPath": {
            "description": "Destination folder path; `/` moves the workflow to the workspace root.",
            "type": "string"
          }
        },
        "additionalProperties": false,
        "title": "Update workflow request",
        "description": "Fields to update on an existing workflow."
      },
      "DeleteWorkflowResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the deleted workflow."
          },
          "deleted": {
            "type": "boolean",
            "const": true,
            "description": "Confirms that the workflow was deleted."
          }
        },
        "required": ["id", "deleted"],
        "additionalProperties": false,
        "title": "Delete workflow result",
        "description": "Confirmation that a workflow was deleted."
      },
      "DeleteWorkflowResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data.",
            "$ref": "#/components/schemas/DeleteWorkflowResult"
          }
        },
        "required": ["data"],
        "additionalProperties": false,
        "title": "Delete workflow response",
        "description": "Confirmation that the workflow was deleted.",
        "examples": [
          {
            "data": {
              "id": "3b1f7c92-8d4e-4a6b-9c0d-5e2f8a714b36",
              "deleted": true
            }
          }
        ]
      },
      "WorkflowVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique deployment-version identifier."
          },
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Monotonically increasing deployment version number."
          },
          "name": {
            "description": "Optional deployment-version label.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "description": "Optional deployment-version release note.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this version is currently serving executions."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when this version was created.",
            "format": "date-time"
          },
          "deployedBy": {
            "description": "Display name of the user who created the deployment, when available.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "latestOperationStatus": {
            "description": "Latest lifecycle-operation status for this version.",
            "anyOf": [
              {
                "type": "string",
                "enum": ["preparing", "activating", "active", "failed", "superseded"]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["id", "version", "isActive", "createdAt"],
        "additionalProperties": false,
        "title": "Workflow version",
        "description": "A saved deployment version of a workflow."
      },
      "WorkflowVersionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowVersion"
            },
            "description": "Items in the current page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Opaque cursor for the next page: send it back as `cursor` to continue, and stop when it is null. Most v2 lists page, so null means the last page was reached. A few are full-set lists that return their whole bounded result in one response and therefore always report null; those say so in the operation description. Either way, null means there is nothing further to fetch — never construct a cursor yourself."
          }
        },
        "required": ["data", "nextCursor"],
        "additionalProperties": false,
        "title": "Workflow version list response",
        "description": "A cursor-paginated page of deployment versions.",
        "examples": [
          {
            "data": [
              {
                "id": "version_3",
                "version": 3,
                "name": "Escalation routing",
                "description": "Adds the priority escalation branch.",
                "isActive": true,
                "createdAt": "2026-06-12T10:30:00.000Z",
                "deployedBy": "Jane Smith",
                "latestOperationStatus": "active"
              }
            ],
            "nextCursor": null
          }
        ]
      },
      "DeployedWorkflowState": {
        "title": "Deployed workflow state",
        "description": "Workflow graph snapshot pinned by a deployment version.",
        "type": "object",
        "additionalProperties": true
      },
      "WorkflowVersionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique deployment-version identifier."
          },
          "version": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Monotonically increasing deployment version number."
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Version label, or null when unset."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Version release note, or null when unset."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this version is currently serving executions."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when this version was created.",
            "format": "date-time"
          },
          "state": {
            "description": "Deployed workflow graph snapshot pinned by this version. Credential-bearing values are redacted: `oauth-input`, `password: true`, and table sub-block values are null; sensitive nested tool parameters and every parameter without authoritative codec metadata are null.",
            "$ref": "#/components/schemas/DeployedWorkflowState"
          }
        },
        "required": ["id", "version", "name", "description", "isActive", "createdAt", "state"],
        "additionalProperties": false,
        "title": "Workflow version detail",
        "description": "A deployment version together with the workflow state it pins."
      },
      "WorkflowVersionDetailResponse": {
        "type": "object",
        "properties": {
[...]
