{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim Tables API v2",
    "description": "Version 2 of the Sim Tables API for managing tables, their column schemas, and rows of structured data. v2 standardizes every endpoint on a single response family: a single resource is returned as `{ data }`, lists are returned as `{ data, nextCursor }` with opaque cursor pagination, and errors are returned as `{ error: { code, message, details? } }`. Rate-limit state is carried in `X-RateLimit-*` response headers. Authenticate every request with the `X-API-Key` header. Row `data` is always keyed by column name.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Tables",
      "description": "Manage tables, columns, and rows for structured data storage (v2 API)."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List Tables",
        "description": "List all tables in a workspace. Returns the full bounded set of tables for the workspace as a single page, so `nextCursor` is always null.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/tables?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": false,
            "description": "Restrict the list to one folder. Omit to list every table in the workspace.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the table `name`. Matches nothing else \u2014 not ids, descriptions, or content. `%` and `_` are matched literally. Must be non-empty; omit the parameter instead of sending a blank one.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"],
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/CursorQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The tables in the workspace.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableListEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "contacts",
                      "description": "Customer contact records",
                      "schema": {
                        "columns": [
                          {
                            "id": "col_a1b2c3",
                            "name": "email",
                            "type": "string",
                            "required": true,
                            "unique": true
                          },
                          {
                            "id": "col_d4e5f6",
                            "name": "name",
                            "type": "string",
                            "required": true
                          }
                        ]
                      },
                      "rowCount": 2,
                      "maxRows": 100000,
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-15T10:30:00.000Z",
                      "folderId": null,
                      "locks": {
                        "schemaLocked": false,
                        "insertLocked": false,
                        "updateLocked": false,
                        "deleteLocked": false
                      },
                      "job": null
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTable",
        "summary": "Create Table",
        "description": "Create a new table with a typed column schema. The schema must contain between 1 and 50 columns.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/tables\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"name\": \"contacts\",\n    \"description\": \"Customer contacts\",\n    \"schema\": {\n      \"columns\": [\n        { \"name\": \"email\", \"type\": \"string\", \"required\": true, \"unique\": true },\n        { \"name\": \"name\", \"type\": \"string\", \"required\": true },\n        { \"name\": \"age\", \"type\": \"number\" }\n      ]\n    }\n  }'"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The table name, optional description, column schema, and target workspace.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The table was created.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableEnvelope"
                },
                "example": {
                  "data": {
                    "table": {
                      "id": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "contacts",
                      "description": "Customer contacts",
                      "schema": {
                        "columns": [
                          {
                            "id": "col_a1b2c3",
                            "name": "email",
                            "type": "string",
                            "required": true,
                            "unique": true
                          },
                          {
                            "id": "col_d4e5f6",
                            "name": "name",
                            "type": "string",
                            "required": true
                          },
                          {
                            "id": "col_g7h8i9",
                            "name": "age",
                            "type": "number",
                            "required": false,
                            "unique": false
                          }
                        ]
                      },
                      "rowCount": 0,
                      "maxRows": 100000,
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-15T10:30:00.000Z",
                      "folderId": null,
                      "locks": {
                        "schemaLocked": false,
                        "insertLocked": false,
                        "updateLocked": false,
                        "deleteLocked": false
                      },
                      "job": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}": {
      "get": {
        "operationId": "getTable",
        "summary": "Get Table",
        "description": "Get a single table's metadata and column schema.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTable",
        "summary": "Delete Table",
        "description": "Archive a table. Returns the id of the archived table.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The table was archived.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTableEnvelope"
                },
                "example": {
                  "data": {
                    "id": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateTable",
        "summary": "Update Table",
        "description": "Rename a table and/or move it between folders. Provide at least one of `name` or `folderId`. Each field is applied independently, so one request can rename and move at once, and the response reflects every applied change.\n\nBoth fields need workspace write.\n\n**Lock flags are read-only here.** A table's `locks` are returned on the table resource and enforced on every write (a locked verb returns 423), but they cannot be changed through the API \u2014 a write-level key must not be able to clear the guard placed there to stop it. Changing a lock is a first-party workspace-admin action. A request carrying `locks` is rejected with 400 rather than silently ignored.\n\n**Partial-success semantics.** The two operations commit independently, so this endpoint is not atomic. Everything that can be *rejected* \u2014 the body shape, folder existence \u2014 is validated before the first write, so a rejected request changes nothing. If a genuine fault (a lost race, the table archived mid-request, a database error) fails the later operation after the earlier one has committed, the response is an error whose `error.details.applied` lists the operations that are nevertheless live (`\"name\"`, `\"folderId\"`). The field is absent when nothing was applied, so its presence always means \"these changes took effect despite the error\" \u2014 re-read the table to confirm before retrying.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\":\"YOUR_WORKSPACE_ID\",\"name\":\"customers\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableBody"
              },
              "examples": {
                "rename": {
                  "summary": "Rename",
                  "value": {
                    "workspaceId": "ws_123",
                    "name": "customers"
                  }
                },
                "move": {
                  "summary": "Move to the workspace root",
                  "value": {
                    "workspaceId": "ws_123",
                    "folderId": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableEnvelope"
                },
                "example": {
                  "data": {
                    "table": {
                      "id": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "customers",
                      "description": "Customer contact records",
                      "schema": {
                        "columns": [
                          {
                            "id": "col_a1b2c3",
                            "name": "email",
                            "type": "string",
                            "required": true,
                            "unique": true
                          }
                        ]
                      },
                      "rowCount": 42,
                      "maxRows": 100000,
                      "folderId": "fld_7a1c3e5d9b2f4068a3c5e7d9f1b3a507",
                      "locks": {
                        "schemaLocked": false,
                        "insertLocked": false,
                        "updateLocked": false,
                        "deleteLocked": true
                      },
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-16T09:12:00.000Z",
                      "job": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/columns": {
      "post": {
        "operationId": "addTableColumn",
        "summary": "Add Column",
        "description": "Add a column to the table schema. Returns the table's full column list after the change.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/columns\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"column\": {\n      \"name\": \"phone\",\n      \"type\": \"string\",\n      \"required\": false,\n      \"unique\": false\n    }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The workspace and the column definition to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddColumnBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The column was added.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnsEnvelope"
                },
                "example": {
                  "data": {
                    "columns": [
                      {
                        "id": "col_a1b2c3",
                        "name": "email",
                        "type": "string",
                        "required": true,
                        "unique": true
                      },
                      {
                        "id": "col_d4e5f6",
                        "name": "name",
                        "type": "string",
                        "required": true,
                        "unique": false
                      },
                      {
                        "id": "col_x9y8z7",
                        "name": "phone",
                        "type": "string",
                        "required": false,
                        "unique": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateTableColumn",
        "summary": "Update Column",
        "description": "Update a column by name \u2014 rename it, change its type, or toggle its required/unique constraints. Provide at least one field in `updates`. Returns the table's full column list after the change.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/columns\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"columnName\": \"phone\",\n    \"updates\": {\n      \"name\": \"phone_number\",\n      \"required\": true\n    }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The workspace, the current column name, and the fields to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateColumnBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The column was updated.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnsEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableColumn",
        "summary": "Delete Column",
        "description": "Delete a column from the table schema by name. A table must always keep at least one column. Returns the table's full column list after the change.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/columns\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"columnName\": \"phone_number\"\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The workspace and the name of the column to delete.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteColumnBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The column was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnsEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows": {
      "get": {
        "operationId": "listTableRows",
        "summary": "List rows",
        "description": "Plain cursor page over the default row order. Filtering and sorting are not part of this surface \u2014 use `POST /api/v2/tables/{tableId}/query` for predicate-filtered, sorted reads. The cursor is opaque; page by passing the previous response's `nextCursor` back as `cursor` and stop when it is `null`.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows?workspaceId=YOUR_WORKSPACE_ID&limit=50\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/CursorQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Rows matching the query.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowListEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": "row_6b8d0f2a4c3e4e5da28f7c9b1d3f5a07",
                      "data": {
                        "email": "jane@example.com",
                        "name": "Jane Doe",
                        "age": 30
                      },
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-15T10:30:00.000Z"
                    }
                  ],
                  "nextCursor": "eyJvZmZzZXQiOjUwfQ=="
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTableRows",
        "summary": "Create Rows",
        "description": "Insert one or many rows. Send a single-row body (`{ data }`) to insert one row, or a batch body (`{ rows }`) to insert up to 1000 rows in one request. The response shape mirrors the request: a single insert returns `{ data: { row } }`, a batch insert returns `{ data: { rows, insertedCount } }`. Row `data` is keyed by column name.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"data\": {\n      \"email\": \"user@example.com\",\n      \"name\": \"Jane Doe\"\n    }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Either a single-row payload or a batch payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRowsBody"
              },
              "examples": {
                "single": {
                  "summary": "Insert a single row",
                  "value": {
                    "workspaceId": "YOUR_WORKSPACE_ID",
                    "data": {
                      "email": "user@example.com",
                      "name": "Jane Doe"
                    }
                  }
                },
                "batch": {
                  "summary": "Insert multiple rows",
                  "value": {
                    "workspaceId": "YOUR_WORKSPACE_ID",
                    "rows": [
                      {
                        "email": "a@example.com",
                        "name": "Ada"
                      },
                      {
                        "email": "b@example.com",
                        "name": "Babbage"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The row(s) were inserted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRowsResponse"
                },
                "examples": {
                  "single": {
                    "summary": "Single insert response",
                    "value": {
                      "data": {
                        "row": {
                          "id": "row_6b8d0f2a4c3e4e5da28f7c9b1d3f5a07",
                          "data": {
                            "email": "user@example.com",
                            "name": "Jane Doe"
                          },
                          "createdAt": "2026-01-15T10:30:00.000Z",
                          "updatedAt": "2026-01-15T10:30:00.000Z"
                        }
                      }
                    }
                  },
                  "batch": {
                    "summary": "Batch insert response",
                    "value": {
                      "data": {
                        "rows": [
                          {
                            "id": "row_1f3e5d7c9b8a4c2d806e4a6b8d0f2e93",
                            "data": {
                              "email": "a@example.com",
                              "name": "Ada"
                            },
                            "createdAt": "2026-01-15T10:30:00.000Z",
                            "updatedAt": "2026-01-15T10:30:00.000Z"
                          },
                          {
                            "id": "row_2a4c6e8d0b1f4d3e917c5b7d9f1a3c85",
                            "data": {
                              "email": "b@example.com",
                              "name": "Babbage"
                            },
                            "createdAt": "2026-01-15T10:30:00.000Z",
                            "updatedAt": "2026-01-15T10:30:00.000Z"
                          }
                        ],
                        "insertedCount": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "operationId": "updateTableRows",
        "summary": "Update Rows by Filter",
        "description": "Bulk-update every row matching a filter, applying the same partial `data` patch to each. The filter must contain at least one condition. `updatedRowIds` is always returned (empty when nothing matched).",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PUT \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"filter\": { \"status\": \"pending\" },\n    \"data\": { \"status\": \"active\" }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The workspace, a non-empty filter, the patch data, and an optional row cap.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRowsByFilterBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The matching rows were updated.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRowsEnvelope"
                },
                "example": {
                  "data": {
                    "updatedCount": 3,
                    "updatedRowIds": [
                      "row_1f3e5d7c9b8a4c2d806e4a6b8d0f2e93",
                      "row_2a4c6e8d0b1f4d3e917c5b7d9f1a3c85",
                      "row_6b8d0f2a4c3e4e5da28f7c9b1d3f5a07"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableRows",
        "summary": "Delete Rows",
        "description": "Delete rows in bulk, either by a non-empty filter or by an explicit list of row ids. Provide exactly one of `filter` or `rowIds`. For id-based deletes the response also reports `requestedCount` and any `missingRowIds`; these fields are omitted for filter-based deletes.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"rowIds\": [\"row_1f3e5d7c9b8a4c2d806e4a6b8d0f2e93\", \"row_2a4c6e8d0b1f4d3e917c5b7d9f1a3c85\"]\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The workspace and either a non-empty filter or an explicit list of row ids.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRowsBody"
              },
              "examples": {
                "byIds": {
                  "summary": "Delete specific rows by id",
                  "value": {
                    "workspaceId": "YOUR_WORKSPACE_ID",
                    "rowIds": [
                      "row_1f3e5d7c9b8a4c2d806e4a6b8d0f2e93",
                      "row_2a4c6e8d0b1f4d3e917c5b7d9f1a3c85"
                    ]
                  }
                },
                "byFilter": {
                  "summary": "Delete rows matching a filter",
                  "value": {
                    "workspaceId": "YOUR_WORKSPACE_ID",
                    "filter": {
                      "all": [
                        {
                          "field": "status",
                          "op": "eq",
                          "value": "archived"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The rows were deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowsEnvelope"
                },
                "examples": {
                  "byIds": {
                    "summary": "Id-based delete response",
                    "value": {
                      "data": {
                        "deletedCount": 2,
                        "deletedRowIds": [
                          "row_1f3e5d7c9b8a4c2d806e4a6b8d0f2e93",
                          "row_2a4c6e8d0b1f4d3e917c5b7d9f1a3c85"
                        ],
                        "requestedCount": 2,
                        "missingRowIds": []
                      }
                    }
                  },
                  "byFilter": {
                    "summary": "Filter-based delete response",
                    "value": {
                      "data": {
                        "deletedCount": 5,
                        "deletedRowIds": ["row_1f3e5d7c9b8a4c2d806e4a6b8d0f2e93"]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/{rowId}": {
      "get": {
        "operationId": "getTableRow",
        "summary": "Get Row",
        "description": "Get a single row by id.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows/{rowId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested row.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateTableRow",
        "summary": "Update Row",
        "description": "Partially update a single row by id. The `data` patch is keyed by column name and merges into the existing row.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows/{rowId}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"data\": { \"name\": \"Updated Name\" }\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The workspace and the partial row data to apply.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRowBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The row was updated.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableRow",
        "summary": "Delete Row",
        "description": "Delete a single row by id. Returns `deletedCount` and `deletedRowIds`, mirroring the bulk delete shape.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows/{rowId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The row was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRowEnvelope"
                },
                "example": {
                  "data": {
                    "deletedCount": 1,
                    "deletedRowIds": ["row_6b8d0f2a4c3e4e5da28f7c9b1d3f5a07"]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/upsert": {
      "post": {
        "operationId": "upsertTableRow",
        "summary": "Upsert Row",
        "description": "Insert a row, or update the existing row that conflicts on a unique column. When `conflictTarget` is omitted the server resolves the conflict against the table's single unique column. The response reports whether the row was inserted or updated.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/rows/upsert\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"data\": { \"email\": \"user@example.com\", \"name\": \"John\" },\n    \"conflictTarget\": \"email\"\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The workspace, the row data, and an optional unique column to resolve the conflict against.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRowBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The row was inserted or updated.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertRowEnvelope"
                },
                "example": {
                  "data": {
                    "row": {
                      "id": "row_6b8d0f2a4c3e4e5da28f7c9b1d3f5a07",
                      "data": {
                        "email": "user@example.com",
                        "name": "John"
                      },
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-15T10:30:00.000Z"
                    },
                    "operation": "insert"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/query": {
      "post": {
        "operationId": "queryTableRows",
        "summary": "Query Rows",
        "description": "Query rows with a typed predicate filter, an ordered sort spec, and opaque cursor pagination. Row `data` is keyed by column NAME; `select` cells return option names, and filter operands on select columns accept option names (resolved case-insensitively).\n\n**Pagination contract:** page by passing the previous response's `nextCursor` back as `cursor`, and stop only when it is `null` \u2014 a page may return fewer than `limit` rows and still have more behind it, so page fullness is never a termination signal. A cursor is bound to the exact query shape it was minted under: keyset cursors to the default row order, offset cursors (sorted views) to that sort. Replaying one under a different `sort` returns 400 `CURSOR_SORT_CONFLICT`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Bodies over 1 MB are rejected with 413.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workspaceId"],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "predicate": {
                    "$ref": "#/components/schemas/Predicate"
                  },
                  "sort": {
                    "type": "array",
                    "maxItems": 16,
                    "description": "Ordered sort spec, highest priority first.",
                    "items": {
                      "type": "object",
                      "required": ["field", "direction"],
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "direction": {
                          "enum": ["asc", "desc"]
                        }
                      }
                    }
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000,
                    "default": 100,
                    "description": "Omitted \u2192 100. `1..1000` \u2192 page size. `0` \u2192 the ENTIRE matching result in one response; fails with 400 `TABLE_QUERY_RESULT_TOO_LARGE` if it exceeds the 5 MB row-data budget (narrow the predicate or page instead)."
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Opaque token from a previous response's `nextCursor`. Pass back verbatim. Mutually exclusive with `sort`."
                  }
                }
              },
              "examples": {
                "filtered": {
                  "summary": "Multi-select membership + negated pattern",
                  "value": {
                    "workspaceId": "ws_123",
                    "predicate": {
                      "all": [
                        {
                          "field": "Color",
                          "op": "contains",
                          "value": "Purple"
                        },
                        {
                          "field": "name",
                          "op": "nlike",
                          "value": "G*"
                        }
                      ]
                    },
                    "limit": 100
                  }
                },
                "builtinColumns": {
                  "summary": "Built-in column range (UTC, timezone-independent)",
                  "value": {
                    "workspaceId": "ws_123",
                    "predicate": {
                      "all": [
                        {
                          "field": "createdAt",
                          "op": "gte",
                          "value": "2026-07-24T03:00:00.000Z"
                        },
                        {
                          "field": "createdAt",
                          "op": "lte",
                          "value": "2026-07-25T02:59:59.999Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A page of matching rows. Served with `Cache-Control: private, no-store`.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RowListEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": "row_6b8d0f2a4c3e4e5da28f7c9b1d3f5a07",
                      "data": {
                        "name": "Jane Doe",
                        "status": "active"
                      },
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-15T10:30:00.000Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "description": "Request body exceeds the 1 MB limit."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/restore": {
      "post": {
        "operationId": "restoreTable",
        "summary": "Restore Table",
        "description": "Un-archive a table archived by `DELETE /api/v2/tables/{tableId}`, along with its rows. Requires workspace write. Returns 409 when a different active table has since taken the archived table\u2019s name \u2014 rename that table first, then retry.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/restore\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\":\"YOUR_WORKSPACE_ID\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceScopedBody"
              },
              "example": {
                "workspaceId": "ws_123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The restored table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableEnvelope"
                },
                "example": {
                  "data": {
                    "table": {
                      "id": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "customers",
                      "description": "Customer contact records",
                      "schema": {
                        "columns": [
                          {
                            "id": "col_a1b2c3",
                            "name": "email",
                            "type": "string",
                            "required": true,
                            "unique": true
                          }
                        ]
                      },
                      "rowCount": 42,
                      "maxRows": 100000,
                      "folderId": "fld_7a1c3e5d9b2f4068a3c5e7d9f1b3a507",
                      "locks": {
                        "schemaLocked": false,
                        "insertLocked": false,
                        "updateLocked": false,
                        "deleteLocked": true
                      },
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-16T09:12:00.000Z",
                      "job": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/views": {
      "get": {
        "operationId": "listTableViews",
        "summary": "List Views",
        "description": "Every saved view on the table, oldest first. A table carries a bounded set of views, so this is a single full page and `nextCursor` is always null. References to columns that no longer exist are pruned from each config on read.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/views?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The table\u2019s saved views.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewListEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": "view_3c7f1a9e5d2b4086b1e6c8a0d4f2b73e",
                      "tableId": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "Active customers",
                      "config": {
                        "hiddenColumns": ["col_x9y8z7"],
                        "filter": {
                          "all": [
                            {
                              "field": "col_a1b2c3",
                              "op": "eq",
                              "value": "active"
                            }
                          ]
                        },
                        "sort": [
                          {
                            "field": "col_d4e5f6",
                            "direction": "desc"
                          }
                        ]
                      },
                      "isDefault": true,
                      "createdBy": "user_2f8c1a4e6b0d47539ac1e3b5d7f90248",
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-16T09:12:00.000Z"
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "createTableView",
        "summary": "Create View",
        "description": "Save a filter, sort, and column layout as a named view. A view is presentation state, never an access boundary \u2014 rows it hides stay readable through the row and query endpoints.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/views\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\":\"YOUR_WORKSPACE_ID\",\"name\":\"Active customers\",\"config\":{}}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateViewBody"
              },
              "example": {
                "workspaceId": "ws_123",
                "name": "Active customers",
                "config": {
                  "filter": {
                    "all": [
                      {
                        "field": "col_a1b2c3",
                        "op": "eq",
                        "value": "active"
                      }
                    ]
                  },
                  "sort": [
                    {
                      "field": "col_d4e5f6",
                      "direction": "desc"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewEnvelope"
                },
                "example": {
                  "data": {
                    "view": {
                      "id": "view_3c7f1a9e5d2b4086b1e6c8a0d4f2b73e",
                      "tableId": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "Active customers",
                      "config": {
                        "hiddenColumns": ["col_x9y8z7"],
                        "filter": {
                          "all": [
                            {
                              "field": "col_a1b2c3",
                              "op": "eq",
                              "value": "active"
                            }
                          ]
                        },
                        "sort": [
                          {
                            "field": "col_d4e5f6",
                            "direction": "desc"
                          }
                        ]
                      },
                      "isDefault": true,
                      "createdBy": "user_2f8c1a4e6b0d47539ac1e3b5d7f90248",
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-16T09:12:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/views/{viewId}": {
      "get": {
        "operationId": "getTableView",
        "summary": "Get View",
        "description": "One saved view, with references to deleted columns pruned from its config.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/views/{viewId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/ViewId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewEnvelope"
                },
                "example": {
                  "data": {
                    "view": {
                      "id": "view_3c7f1a9e5d2b4086b1e6c8a0d4f2b73e",
                      "tableId": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "Active customers",
                      "config": {
                        "hiddenColumns": ["col_x9y8z7"],
                        "filter": {
                          "all": [
                            {
                              "field": "col_a1b2c3",
                              "op": "eq",
                              "value": "active"
                            }
                          ]
                        },
                        "sort": [
                          {
                            "field": "col_d4e5f6",
                            "direction": "desc"
                          }
                        ]
                      },
                      "isDefault": true,
                      "createdBy": "user_2f8c1a4e6b0d47539ac1e3b5d7f90248",
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-16T09:12:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateTableView",
        "summary": "Update View",
        "description": "Rename a view, replace or merge its config, or promote it to the table\u2019s default. Provide at least one of `name`, `config`, `configPatch`, or `isDefault`.\n\n`config` replaces the stored config wholesale; `configPatch` is shallow-merged server-side so overlapping partial writes cannot clobber each other. The two are mutually exclusive. Setting `isDefault: true` demotes the table\u2019s existing default in the same transaction.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/views/{viewId}\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\":\"YOUR_WORKSPACE_ID\",\"isDefault\":true}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/ViewId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateViewBody"
              },
              "examples": {
                "promote": {
                  "summary": "Make this the table\u2019s default view",
                  "value": {
                    "workspaceId": "ws_123",
                    "isDefault": true
                  }
                },
                "replaceConfig": {
                  "summary": "Replace the saved filter",
                  "value": {
                    "workspaceId": "ws_123",
                    "config": {
                      "filter": {
                        "any": [
                          {
                            "field": "col_a1b2c3",
                            "op": "isNotEmpty"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewEnvelope"
                },
                "example": {
                  "data": {
                    "view": {
                      "id": "view_3c7f1a9e5d2b4086b1e6c8a0d4f2b73e",
                      "tableId": "tbl_92e4c6a8b0d24f1e8a3c5d7b9f0e2a14",
                      "name": "Active customers",
                      "config": {
                        "hiddenColumns": ["col_x9y8z7"],
                        "filter": {
                          "all": [
                            {
                              "field": "col_a1b2c3",
                              "op": "eq",
                              "value": "active"
                            }
                          ]
                        },
                        "sort": [
                          {
                            "field": "col_d4e5f6",
                            "direction": "desc"
                          }
                        ]
                      },
                      "isDefault": true,
                      "createdBy": "user_2f8c1a4e6b0d47539ac1e3b5d7f90248",
                      "createdAt": "2026-01-15T10:30:00.000Z",
                      "updatedAt": "2026-01-16T09:12:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableView",
        "summary": "Delete View",
        "description": "Remove a saved view. Deleting the table\u2019s default simply leaves the table unfiltered; no rows are affected.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/views/{viewId}?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/ViewId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The view was deleted.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteViewEnvelope"
                },
                "example": {
                  "data": {
                    "id": "view_3c7f1a9e5d2b4086b1e6c8a0d4f2b73e"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/groups": {
      "get": {
        "operationId": "listTableWorkflowGroups",
        "summary": "List Workflow Groups",
        "description": "The table\u2019s workflow and enrichment groups \u2014 the units the run endpoints dispatch. Read-only: groups are authored in the workflow builder. Bounded per table, so this is a single full page and `nextCursor` is always null.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X GET \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/groups?workspaceId=YOUR_WORKSPACE_ID\" \\\n  -H \"X-API-Key: YOUR_API_KEY\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/WorkspaceIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "The table\u2019s workflow groups.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowGroupListEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": "grp_5d8b2f0a6c1e4739a8b3d5f7e9c1a204",
                      "workflowId": "wf_1b3d5f7a9c2e4680b4d6f8a0c2e4b619",
                      "name": "Enrich company",
                      "type": "manual",
                      "dependencies": {
                        "columns": ["col_a1b2c3"]
                      },
                      "outputs": [
                        {
                          "blockId": "blk_agent1",
                          "path": "content",
                          "columnName": "summary"
                        }
                      ],
                      "deploymentMode": "deployed",
                      "autoRun": true
                    }
                  ],
                  "nextCursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "addTableWorkflowGroup",
        "summary": "Add Workflow Group",
        "description": "Bind a workflow or enrichment to the table and create the columns its runs populate, in one call.\n\nThe group is the unit that fills columns \u2014 one group can feed several. `group.outputs[].columnName` says where each value lands; `outputColumns` defines the columns to create. Every `outputColumns` entry must be named by an output, or the request is rejected rather than creating a column nothing feeds.\n\n`autoRun` defaults to **false**: enabling it backfills every existing row, which on an API key is a metered fan-out from a single call.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X POST \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/groups\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"workspaceId\": \"YOUR_WORKSPACE_ID\",\n    \"group\": {\n      \"workflowId\": \"wf_...\",\n      \"outputs\": [{\"blockId\": \"blk_7f2a\", \"path\": \"output.revenue\", \"columnName\": \"revenue\"}]\n    },\n    \"outputColumns\": [{\"name\": \"revenue\", \"type\": \"currency\"}]\n  }'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWorkflowGroupBody"
              },
              "examples": {
                "workflow": {
                  "summary": "Workflow-backed column",
                  "value": {
                    "workspaceId": "ws_123",
                    "group": {
                      "workflowId": "wf_1b3d5f7a9c2e4680b4d6f8a0c2e4b619",
                      "name": "Enrich company",
                      "outputs": [
                        {
                          "blockId": "blk_7f2a",
                          "path": "output.revenue",
                          "columnName": "revenue"
                        }
                      ]
                    },
                    "outputColumns": [
                      {
                        "name": "revenue",
                        "type": "currency"
                      }
                    ]
                  }
                },
                "enrichment": {
                  "summary": "Registry enrichment filling two columns",
                  "value": {
                    "workspaceId": "ws_123",
                    "group": {
                      "type": "enrichment",
                      "enrichmentId": "company_lookup",
                      "outputs": [
                        {
                          "outputId": "annual_revenue",
                          "columnName": "revenue"
                        },
                        {
                          "outputId": "headquarters",
                          "columnName": "hq"
                        }
                      ]
                    },
                    "outputColumns": [
                      {
                        "name": "revenue",
                        "type": "currency"
                      },
                      {
                        "name": "hq",
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created group and the table's columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowGroupEnvelope"
                },
                "example": {
                  "data": {
                    "group": {
                      "id": "grp_5d8b2f0a6c1e4739a8b3d5f7e9c1a204",
                      "workflowId": "wf_1b3d5f7a9c2e4680b4d6f8a0c2e4b619",
                      "name": "Enrich company",
                      "type": "manual",
                      "outputs": [
                        {
                          "blockId": "blk_7f2a",
                          "path": "output.revenue",
                          "columnName": "revenue"
                        }
                      ],
                      "deploymentMode": "deployed",
                      "autoRun": true
                    },
                    "columns": [
                      {
                        "id": "col_a1b2c3",
                        "name": "revenue",
                        "type": "currency",
                        "required": false,
                        "unique": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "operationId": "updateTableWorkflowGroup",
        "summary": "Update Workflow Group",
        "description": "Restructure a group: re-point it at a different workflow, add or remove outputs, or change how its runs are scheduled.\n\n**Removing an output deletes that column and its values.** There is currently no way to detach a column from its group while keeping the data.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X PATCH \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/groups\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"groupId\": \"grp_...\", \"name\": \"Renamed\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowGroupBody"
              },
              "examples": {
                "rename": {
                  "summary": "Rename",
                  "value": {
                    "workspaceId": "ws_123",
                    "groupId": "grp_5d8b2f0a6c1e4739a8b3d5f7e9c1a204",
                    "name": "Renamed"
                  }
                },
                "addOutput": {
                  "summary": "Add a second output column",
                  "value": {
                    "workspaceId": "ws_123",
                    "groupId": "grp_5d8b2f0a6c1e4739a8b3d5f7e9c1a204",
                    "outputs": [
                      {
                        "blockId": "blk_7f2a",
                        "path": "output.revenue",
                        "columnName": "revenue"
                      },
                      {
                        "blockId": "blk_7f2a",
                        "path": "output.hq",
                        "columnName": "hq"
                      }
                    ],
                    "newOutputColumns": [
                      {
                        "name": "hq",
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated group and the table's columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowGroupEnvelope"
                },
                "example": {
                  "data": {
                    "group": {
                      "id": "grp_5d8b2f0a6c1e4739a8b3d5f7e9c1a204",
                      "workflowId": "wf_1b3d5f7a9c2e4680b4d6f8a0c2e4b619",
                      "name": "Enrich company",
                      "type": "manual",
                      "outputs": [
                        {
                          "blockId": "blk_7f2a",
                          "path": "output.revenue",
                          "columnName": "revenue"
                        }
                      ],
                      "deploymentMode": "deployed",
                      "autoRun": true
                    },
                    "columns": [
                      {
                        "id": "col_a1b2c3",
                        "name": "revenue",
                        "type": "currency",
                        "required": false,
                        "unique": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableWorkflowGroup",
        "summary": "Delete Workflow Group",
        "description": "Remove a group **and every column it fed**, along with their values. The surviving column list is returned so a caller does not have to re-read the table.",
        "tags": ["Tables"],
        "x-codeSamples": [
          {
            "id": "curl",
            "label": "cURL",
            "lang": "bash",
            "source": "curl -X DELETE \\\n  \"https://www.sim.ai/api/v2/tables/{tableId}/groups\" \\\n  -H \"X-API-Key: YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"workspaceId\": \"YOUR_WORKSPACE_ID\", \"groupId\": \"grp_...\"}'"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWorkflowGroupBody"
              },
              "example": {
                "workspaceId": "ws_123",
                "groupId": "grp_5d8b2f0a6c1e4739a8b3d5f7e9c1a204"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The group was removed.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWorkflowGroupEnvelope"
                },
                "example": {
                  "data": {
                    "id": "grp_5d8b2f0a6c1e4739a8b3d5f7e9c1a204",
                    "deleted": true,
                    "columns": []
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/columns/run": {
      "post": {
        "operationId": "runTableColumns",
        "summary": "Run Column Groups",
[...]
