{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim Tables API v2",
    "description": "Version 2 of the Sim REST API for tables, typed columns, rows, saved views, workflow groups, folders, imports, and exports. Row data is keyed by column name.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Tables",
      "description": "Manage tables, columns, rows, views, runs, folders, imports, and exports."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List Tables",
        "description": "List tables in a workspace with optional folder filtering, search, sorting, and an opaque cursor envelope. `scope=archived` lists tables a `DELETE` archived, which `POST /api/v2/tables/{tableId}/restore` can bring back. A workspace folder tree over 10,000 folders is a `413`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose tables should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace whose tables should be listed."
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Which lifecycle set to list: `active` (default) for live tables, `archived` for tables a delete archived and a table restore can bring back. `folderPath` resolves against active folders only, so pairing it with `scope=archived` returns an empty page when the containing folder was archived too.",
            "schema": {
              "default": "active",
              "description": "Which lifecycle set to list: `active` (default) for live tables, `archived` for tables a delete archived and a table restore can bring back. `folderPath` resolves against active folders only, so pairing it with `scope=archived` returns an empty page when the containing folder was archived too.",
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to tables in this folder. A path that names no folder narrows the result to nothing, so the response is an empty page rather than an error.",
            "schema": {
              "description": "Restrict results to tables in this folder. A path that names no folder narrows the result to nothing, so the response is an empty page rather than an error.",
              "$ref": "#/components/schemas/FolderPathInput"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the resource name.",
            "schema": {
              "description": "Case-insensitive substring match against the resource name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
            "schema": {
              "default": "createdAt",
              "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum tables to return per page. Values outside 1–1000 are truncated and clamped into that range rather than rejected. Defaults to 100.",
            "schema": {
              "description": "Maximum tables to return per page. Values outside 1–1000 are truncated and clamped into that range rather than rejected. Defaults to 100.",
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tables in the workspace.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTable",
        "summary": "Create Table",
        "description": "Create a table with a typed column schema and optional folder placement.",
        "tags": ["Tables"],
        "requestBody": {
          "required": true,
          "description": "Workspace, table metadata, folder placement, and typed columns.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}": {
      "get": {
        "operationId": "getTable",
        "summary": "Get Table",
        "description": "Retrieve a table with its metadata, column schema, locks, and current job. A workspace folder tree over 10,000 folders is a `413`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTable",
        "summary": "Delete Table",
        "description": "Archive a table and return an explicit deletion acknowledgement. The table is soft-deleted, not erased: its rows are retained and `POST /api/v2/tables/{tableId}/restore` brings it back.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table deletion acknowledgement.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTable",
        "summary": "Update Table",
        "description": "Rename a table, edit its description, or move it to a canonical folder. At least one mutable field is required; lock flags remain read-only.\n\nNOT atomic: name, description, and folder are written independently, so a 4xx does not mean nothing changed. When at least one field landed before the failure the error body carries `details.applied` naming those fields — retry with only the ones missing from it. Its absence means nothing was applied.\n\nA workspace folder tree over 10,000 folders is a `413`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and one or more table metadata or placement changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpdateTableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/columns": {
      "post": {
        "operationId": "addTableColumn",
        "summary": "Add Column",
        "description": "Add a typed column and return the complete resulting table schema.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and the typed column to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTableColumnRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The updated table columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableColumnsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableColumn",
        "summary": "Update Column",
        "description": "Update a column by name and return the complete resulting table schema.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, current column name, and fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableColumnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableColumnsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableColumn",
        "summary": "Delete Column",
        "description": "Delete a column by name while preserving at least one table column.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and column name to delete.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTableColumnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The surviving table columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableColumnsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows": {
      "get": {
        "operationId": "listTableRows",
        "summary": "List Rows",
        "description": "List a plain cursor page in default row order. Pages are capped at 5MB by default and may contain fewer rows than the requested limit; continue until nextCursor is null. Use the query endpoint for predicate filtering and sorting. Set `includeRunState=true` to attach each row's per-workflow-group run outcomes; the row limit is capped when it is set.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the table."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return per page. Must be a whole number from 1 to 1000. Defaults to 100.",
            "schema": {
              "default": 100,
              "description": "Maximum rows to return per page. Must be a whole number from 1 to 1000. Defaults to 100.",
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "includeRunState",
            "in": "query",
            "required": false,
            "description": "Include per-workflow-group run state on every returned row. Off by default: run state is a separate sidecar read and its `blockErrors` are unbounded, so a full page carries it only when asked. Caps `limit` at 200.",
            "schema": {
              "description": "Include per-workflow-group run state on every returned row. Off by default: run state is a separate sidecar read and its `blockErrors` are unbounded, so a full page carries it only when asked. Caps `limit` at 200.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of table rows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableRowListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTableRows",
        "summary": "Create Rows",
        "description": "Insert one row with a data object or insert a bounded batch with a rows array. Cell keys are column names.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A single row or bounded row batch keyed by column name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The inserted row or rows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableRows",
        "summary": "Update Rows by Filter",
        "description": "Apply the same partial data patch to every row matching a non-empty predicate.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, typed predicate, and row-data patch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bulk update result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpdateTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableRows",
        "summary": "Delete Rows",
        "description": "Delete rows by a non-empty predicate or an explicit bounded list of row identifiers.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and exactly one of a predicate or row identifier list.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bulk deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/{rowId}": {
      "get": {
        "operationId": "getTableRow",
        "summary": "Get Row",
        "description": "Retrieve one row by identifier. Set `includeRunState=true` to attach the row's per-workflow-group run outcomes.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          },
          {
            "name": "includeRunState",
            "in": "query",
            "required": false,
            "description": "Include per-workflow-group run state on the returned row. Off by default.",
            "schema": {
              "description": "Include per-workflow-group run state on the returned row. Off by default.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table row.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableRow",
        "summary": "Update Row",
        "description": "Merge a partial data patch into one row by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and row-data patch keyed by column name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table row.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableRow",
        "summary": "Delete Row",
        "description": "Delete one row by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The row deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/upsert": {
      "post": {
        "operationId": "upsertTableRow",
        "summary": "Upsert Row",
        "description": "Insert a row or update the existing row that conflicts on a selected unique column.\n\nWARNING — the update branch REPLACES the row, it does not merge. `data` is the complete new row value, so every column you omit is cleared on the matched row. Send the full row here, or use `PATCH /api/v2/tables/{tableId}/rows/{rowId}` to change a subset.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, row data, and optional unique-column conflict target.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTableRowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upserted row and operation performed.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpsertTableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/query": {
      "post": {
        "operationId": "queryTableRows",
        "summary": "Query Rows",
        "description": "Query rows with an optional typed predicate, ordered sort specification, and opaque cursor pagination. A predicate may be one condition or an `all`/`any` group; omit it to match every row. Bounded pages are capped at 5MB by default and may contain fewer rows than the requested limit; continue until nextCursor is null. A predicate larger than the request-body ceiling is a `413`. Set `includeRunState: true` to attach each row's per-workflow-group run outcomes; the row limit is capped when it is set. Row totals live on the companion `POST /api/v2/tables/{tableId}/query/count`, which is a separate snapshot — a caller needing a consistent pair should take the count first and treat it as a floor.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, optional predicate and sort, and cursor pagination controls. The predicate may be one condition or an `all`/`any` group; omitting it matches every row.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A page of matching table rows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2QueryTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/query/count": {
      "post": {
        "operationId": "countTableRows",
        "summary": "Count Rows",
        "description": "Count the rows matching a typed predicate across the entire table. A predicate may be one condition or an `all`/`any` group. The paged reads carry no total, and `rowCount` on the table resource counts every row rather than the matches. Omit the predicate to count the whole table. A predicate larger than the request-body ceiling is a `413`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and the optional condition or `all`/`any` predicate group whose matches are counted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The number of matching table rows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CountTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/views": {
      "get": {
        "operationId": "listTableViews",
        "summary": "List Views",
        "description": "List the bounded set of saved table views, with references to removed columns pruned on read. The bounded set is returned in one page; `nextCursor` is always null.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The saved table views.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableViewListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTableView",
        "summary": "Create View",
        "description": "Save a filter, sort, and column layout as a named presentation of a table.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, name, and saved filter, sort, and layout configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableViewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created table view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/views/{viewId}": {
      "get": {
        "operationId": "getTableView",
        "summary": "Get View",
        "description": "Retrieve one saved table view by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "description": "Unique saved-view identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique saved-view identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableView",
        "summary": "Update View",
        "description": "Rename a view, replace or shallow-merge its configuration, or promote it to the table default.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "description": "Unique saved-view identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique saved-view identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and one or more saved-view changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableView",
        "summary": "Delete View",
        "description": "Delete a saved presentation without changing any table rows.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "description": "Unique saved-view identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique saved-view identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table view deletion acknowledgement.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/groups": {
      "get": {
        "operationId": "listTableWorkflowGroups",
        "summary": "List Workflow Groups",
        "description": "List the workflow and enrichment groups that can be dispatched for a table. The bounded set is returned in one page; `nextCursor` is always null.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The table workflow groups.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableWorkflowGroupListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "addTableWorkflowGroup",
        "summary": "Add Workflow Group",
        "description": "Bind a workflow or enrichment to the table and create the columns populated by its outputs.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, producer definition, and output columns.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTableWorkflowGroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created workflow group and resulting columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AddTableWorkflowGroupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableWorkflowGroup",
        "summary": "Update Workflow Group",
        "description": "Restructure a workflow group, its producer, outputs, or execution behavior. Repointing the group at a different workflow concurrently invalidates the resolved output types and returns `409` — retry the update.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, workflow group identifier, and producer changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableWorkflowGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated workflow group and resulting columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpdateTableWorkflowGroupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableWorkflowGroup",
        "summary": "Delete Workflow Group",
        "description": "Delete a workflow group and every table column populated by that group.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and workflow group identifier.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTableWorkflowGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow-group deletion acknowledgement and surviving columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableWorkflowGroupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/dispatches": {
      "post": {
        "operationId": "createTableDispatch",
        "summary": "Create Run Dispatch",
        "description": "Asynchronously run workflow or enrichment groups across all rows or a selected row subset. Poll the returned `dispatchId` with `GET /api/v2/tables/{tableId}/dispatches/{dispatchId}` until its status is `complete` or `canceled`, and cancel it with `DELETE` on the same path. A `null` `dispatchId` means the run settled inline and there is nothing to poll.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, producer groups, execution mode, and optional row scope.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableDispatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted run dispatch.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableDispatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "operationId": "listTableDispatches",
        "summary": "List Active Run Dispatches",
        "description": "List the run dispatches still in flight on one table. Bounded by the dispatcher rather than by a page size, so this list is unpaginated and `nextCursor` is always null. A settled dispatch is read by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The table's active run dispatches.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableRunDispatchListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/{rowId}/enrichment/{groupId}": {
      "post": {
        "operationId": "runRowEnrichment",
        "summary": "Run Enrichment For One Row",
        "description": "Asynchronously run one workflow or enrichment group for one table row. Poll the returned `dispatchId` with `GET /api/v2/tables/{tableId}/dispatches/{dispatchId}`; a `null` `dispatchId` means the cell already settled inline.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "description": "Workflow or enrichment group to run.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workflow or enrichment group to run."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope for the row enrichment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRowEnrichmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted row enrichment dispatch.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2RunRowEnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
        "operationId": "getRowEnrichment",
        "summary": "Get Enrichment Run Detail",
        "description": "Retrieve the provider cascade behind one enrichment cell: every configured provider in cascade order, each one's status, hosted-key cost, and duration, plus which provider produced the match. `null` means the cell has never run, or ran before cascade detail was recorded — distinct from a `404`, which means the table, row, or group does not exist.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "description": "Workflow or enrichment group to run.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workflow or enrichment group to run."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The enrichment run detail, or null when none was recorded.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2RowEnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/search": {
      "post": {
        "operationId": "searchTableRows",
        "summary": "Search Rows",
        "description": "Text-search every cell case-insensitively for the substring `q`, optionally within a predicate-filtered and sorted view. This is TEXT search, not the structured predicate read: `POST /api/v2/tables/{tableId}/query` is that one, and on this surface `query` always means a structured predicate while `search` always means text.\n\nIt returns cell COORDINATES — `{ ordinal, rowId, column }` — and never row data. `ordinal` is the row's zero-based index in the same filtered, sorted view `POST /query` pages, so read the rows themselves through that. The result is uncursored and capped: at most 1000 matches come back and `truncated` is `true` when more matched than were returned. There is no cursor to page with — narrow `q` or the predicate instead.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, substring query, and optional predicate and sort.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The matching table cells.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SearchTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/imports": {
      "post": {
        "operationId": "createTableImport",
        "summary": "Create Table Import",
        "description": "Create a durable CSV import. Upload sources receive signed transfer instructions; workspace-file sources begin processing directly.",
        "tags": ["Tables"],
        "requestBody": {
          "required": true,
          "description": "Workspace, CSV source, target table, optional mapping, and timezone.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableImportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created table import and optional transfer instructions.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableImportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/imports/{importId}": {
      "get": {
        "operationId": "getTableImport",
        "summary": "Get Table Import",
        "description": "Read progress and terminal state for a durable table import.\n\nAn upload-backed import has no durable record until its upload completes, so send the signed upload control token to read it during the `uploading` phase; without the token that phase is a `404`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "description": "Unique table-import identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-import identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the transfer resource.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the transfer resource."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": false,
            "description": "Signed upload control token returned when an upload-backed import was created.",
            "schema": {
              "description": "Signed upload control token returned when an upload-backed import was created.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table import.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableImportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "cancelTableImport",
        "summary": "Cancel Table Import",
        "description": "Cancel an upload or processing import without rolling back committed row batches.\n\nAn import that is not in a cancelable state, including an `expired` one, is a `409` naming the current status. An unknown or already-purged import id is a `404`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "description": "Unique table-import identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-import identifier."
            }
[...]
