{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim Tables API v2",
    "description": "Manage tables, typed columns, rows, saved views, workflow groups, folders, imports, and exports through the public v2 API. Row data is keyed by column name.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Tables",
      "description": "Manage tables, columns, rows, views, runs, folders, imports, and exports."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/v2/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List Tables",
        "description": "List tables in a workspace with optional folder filtering, search, sorting, and an opaque cursor envelope. A workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose tables should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace whose tables should be listed."
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to tables in this folder.",
            "schema": {
              "description": "Restrict results to tables in this folder.",
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring search on the resource name.",
            "schema": {
              "description": "Case-insensitive substring search on the resource name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result.",
            "schema": {
              "default": "createdAt",
              "description": "Field used to sort the result.",
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum tables to return (1-1000). Fractional or out-of-range values are truncated and clamped into that range rather than rejected.",
            "schema": {
              "description": "Maximum tables to return (1-1000). Fractional or out-of-range values are truncated and clamped into that range rather than rejected.",
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page.",
            "schema": {
              "description": "Opaque cursor from the previous page.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tables in the workspace.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTable",
        "summary": "Create Table",
        "description": "Create a table with a typed column schema and optional folder placement.",
        "tags": ["Tables"],
        "requestBody": {
          "required": true,
          "description": "Workspace, table metadata, folder placement, and typed columns.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}": {
      "get": {
        "operationId": "getTable",
        "summary": "Get Table",
        "description": "Retrieve a table with its metadata, column schema, locks, and current job. A workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTable",
        "summary": "Delete Table",
        "description": "Delete a table and return an explicit deletion acknowledgement.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table deletion acknowledgement.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTable",
        "summary": "Update Table",
        "description": "Rename a table, edit its description, or move it to a canonical folder. At least one mutable field is required; lock flags remain read-only.\n\nThis operation is NOT atomic. The name, description, and folder changes are written independently in that order, so a failure part-way through leaves the earlier writes committed — a 4xx does NOT mean nothing changed. When at least one field landed before the failure, the error body carries `details.applied`: the list of fields (`name`, `description`, `folderPath`) that were successfully written. Re-read the table, or retry with only the fields missing from `details.applied`.\n\nA workspace whose folder tree exceeds 10,000 folders is a 413, because the response needs the whole tree to render folder paths.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and one or more table metadata or placement changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpdateTableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/columns": {
      "post": {
        "operationId": "addTableColumn",
        "summary": "Add Column",
        "description": "Add a typed column and return the complete resulting table schema.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and the typed column to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTableColumnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableColumnsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableColumn",
        "summary": "Update Column",
        "description": "Update a column by name and return the complete resulting table schema.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, current column name, and fields to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableColumnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableColumnsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableColumn",
        "summary": "Delete Column",
        "description": "Delete a column by name while preserving at least one table column.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and column name to delete.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTableColumnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The surviving table columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableColumnsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows": {
      "get": {
        "operationId": "listTableRows",
        "summary": "List Rows",
        "description": "List a plain cursor page in default row order. Pages are capped at 5MB by default and may contain fewer rows than the requested limit; continue until nextCursor is null. Use the query endpoint for predicate filtering and sorting.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return in the current page.",
            "schema": {
              "default": 100,
              "description": "Maximum rows to return in the current page.",
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page.",
            "schema": {
              "description": "Opaque cursor returned by the previous page.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of table rows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableRowListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTableRows",
        "summary": "Create Rows",
        "description": "Insert one row with a data object or insert a bounded batch with a rows array. Cell keys are column names.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A single row or bounded row batch keyed by column name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The inserted row or rows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableRows",
        "summary": "Update Rows by Filter",
        "description": "Apply the same partial data patch to every row matching a non-empty predicate.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, typed predicate, and row-data patch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bulk update result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpdateTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableRows",
        "summary": "Delete Rows",
        "description": "Delete rows by a non-empty predicate or an explicit bounded list of row identifiers.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and exactly one of a predicate or row identifier list.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bulk deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/{rowId}": {
      "get": {
        "operationId": "getTableRow",
        "summary": "Get Row",
        "description": "Retrieve one row by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table row.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableRow",
        "summary": "Update Row",
        "description": "Merge a partial data patch into one row by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and row-data patch keyed by column name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table row.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableRow",
        "summary": "Delete Row",
        "description": "Delete one row by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The row deletion result.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/upsert": {
      "post": {
        "operationId": "upsertTableRow",
        "summary": "Upsert Row",
        "description": "Insert a row or update the existing row that conflicts on a selected unique column.\n\nWARNING — the update branch REPLACES the row, it does not merge. `data` is treated as the complete new row value, so every column you omit is cleared on the matched row. Upserting 2 of 10 columns blanks the other 8. This differs from `PATCH /api/v2/tables/{tableId}/rows/{rowId}`, which merges the patch into the existing row data. Send the full row here, or use PATCH when you only mean to change a subset.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, row data, and optional unique-column conflict target.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTableRowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upserted row and operation performed.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpsertTableRowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/query": {
      "post": {
        "operationId": "queryTableRows",
        "summary": "Query Rows",
        "description": "Query rows with a typed predicate, ordered sort specification, and opaque cursor pagination. Bounded pages are capped at 5MB by default and may contain fewer rows than the requested limit; continue until nextCursor is null.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, optional predicate and sort, and cursor pagination controls.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A page of matching table rows.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2QueryTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/views": {
      "get": {
        "operationId": "listTableViews",
        "summary": "List Views",
        "description": "List the bounded set of saved table views, with references to removed columns pruned on read. The bounded set is returned in one page with `nextCursor` always null; there is no second page to fetch.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The saved table views.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableViewListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createTableView",
        "summary": "Create View",
        "description": "Save a filter, sort, and column layout as a named presentation of a table.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, name, and saved filter, sort, and layout configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableViewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created table view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/views/{viewId}": {
      "get": {
        "operationId": "getTableView",
        "summary": "Get View",
        "description": "Retrieve one saved table view by identifier.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "description": "Unique saved-view identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique saved-view identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableView",
        "summary": "Update View",
        "description": "Rename a view, replace or shallow-merge its configuration, or promote it to the table default.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "description": "Unique saved-view identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique saved-view identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and one or more saved-view changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated table view.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableView",
        "summary": "Delete View",
        "description": "Delete a saved presentation without changing any table rows.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "viewId",
            "in": "path",
            "required": true,
            "description": "Unique saved-view identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique saved-view identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table view deletion acknowledgement.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/groups": {
      "get": {
        "operationId": "listTableWorkflowGroups",
        "summary": "List Workflow Groups",
        "description": "List the workflow and enrichment groups that can be dispatched for a table. The bounded set is returned in one page with `nextCursor` always null; there is no second page to fetch.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the table.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the table."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The table workflow groups.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableWorkflowGroupListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "addTableWorkflowGroup",
        "summary": "Add Workflow Group",
        "description": "Bind a workflow or enrichment to the table and create the columns populated by its outputs.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, producer definition, and output columns.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTableWorkflowGroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created workflow group and resulting columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AddTableWorkflowGroupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateTableWorkflowGroup",
        "summary": "Update Workflow Group",
        "description": "Restructure a workflow group, its producer, outputs, or execution behavior.\n\nOutput leaf types are resolved against the group’s workflow outside the write lock. If the group is repointed at a different workflow concurrently, that snapshot is invalidated and the request returns `409` — retry the update.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, workflow group identifier, and producer changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableWorkflowGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated workflow group and resulting columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpdateTableWorkflowGroupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteTableWorkflowGroup",
        "summary": "Delete Workflow Group",
        "description": "Delete a workflow group and every table column populated by that group.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and workflow group identifier.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTableWorkflowGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow-group deletion acknowledgement and surviving columns.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteTableWorkflowGroupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/columns/run": {
      "post": {
        "operationId": "runTableColumns",
        "summary": "Run Column Groups",
        "description": "Asynchronously run workflow or enrichment groups across all rows or a selected row subset.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, producer groups, execution mode, and optional row scope.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTableColumnsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted table-column dispatch.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2RunTableColumnsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/{rowId}/enrichment/{groupId}": {
      "post": {
        "operationId": "runRowEnrichment",
        "summary": "Run Enrichment For One Row",
        "description": "Asynchronously run one workflow or enrichment group for one table row.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "description": "Unique table row identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table row identifier."
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "description": "Workflow or enrichment group to run.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workflow or enrichment group to run."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope for the row enrichment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRowEnrichmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted row enrichment dispatch.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2RunRowEnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/rows/find": {
      "post": {
        "operationId": "findTableRows",
        "summary": "Find Rows",
        "description": "Search every cell case-insensitively, optionally within a predicate-filtered and sorted view.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope, substring query, and optional predicate and sort.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindTableRowsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The matching table cells.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FindTableRowsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/imports": {
      "post": {
        "operationId": "createTableImport",
        "summary": "Create Table Import",
        "description": "Create a durable CSV import. Upload sources receive signed transfer instructions; workspace-file sources begin processing directly.",
        "tags": ["Tables"],
        "requestBody": {
          "required": true,
          "description": "Workspace, CSV source, target table, optional mapping, and timezone.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableImportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created table import and optional transfer instructions.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableImportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/imports/{importId}": {
      "get": {
        "operationId": "getTableImport",
        "summary": "Get Table Import",
        "description": "Read progress and terminal state for a durable table import.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "description": "Unique table-import identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-import identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the transfer resource.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the transfer resource."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table import.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableImportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "cancelTableImport",
        "summary": "Cancel Table Import",
        "description": "Cancel an upload or processing import without rolling back committed row batches.\n\nCanceling an import that is not in a cancelable state returns `409` naming the current status, and that includes an expired import — `expired` is a terminal import status, not a `410`. An import id that never existed, or one whose retention window already purged the record, returns `404`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "description": "Unique table-import identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-import identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the transfer resource.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the transfer resource."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": false,
            "description": "Signed upload control token returned when an upload-backed import was created.",
            "schema": {
              "description": "Signed upload control token returned when an upload-backed import was created.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The canceled table import.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CancelTableImportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/imports/{importId}/parts": {
      "post": {
        "operationId": "createTableImportPartUrls",
        "summary": "Create Table Import Part URLs",
        "description": "Issue short-lived signed PUT URLs for a bounded set of multipart part numbers.\n\nThe import must still be in the `uploading` state. An import that has moved on — including one that has `expired` — returns `409` naming the current status; a purged or unknown import id returns `404`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "description": "Unique table-import identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-import identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the transfer resource.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the transfer resource."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Multipart part numbers for which signed URLs should be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableImportPartUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The signed multipart upload URLs.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableImportPartUrlsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/imports/{importId}/complete": {
      "post": {
        "operationId": "completeTableImportUpload",
        "summary": "Complete Table Import Upload",
        "description": "Verify or assemble the uploaded CSV and begin processing with the same import id.\n\nCompleting an import that is no longer awaiting an upload — including one that has `expired` — returns `409` naming the current status; a purged or unknown import id returns `404`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "description": "Unique table-import identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-import identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the transfer resource.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the transfer resource."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The table import after upload completion.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CompleteTableImportUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/{tableId}/exports": {
      "post": {
        "operationId": "createTableExport",
        "summary": "Create Table Export",
        "description": "Create a durable CSV or JSON export that completes inline for small tables and queues larger work.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "description": "Unique table identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and export format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableExportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created table export.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CreateTableExportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/exports/{exportId}": {
      "get": {
        "operationId": "getTableExport",
        "summary": "Get Table Export",
        "description": "Read progress and terminal state for a durable table export.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "description": "Unique table-export identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-export identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the transfer resource.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the transfer resource."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested table export.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2TableExportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "cancelTableExport",
        "summary": "Cancel Table Export",
        "description": "Cancel an export that has not reached a terminal state.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "description": "Unique table-export identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Unique table-export identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the transfer resource.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Workspace that owns the transfer resource."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The canceled table export.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2CancelTableExportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/tables/exports/{exportId}/download": {
      "get": {
        "operationId": "downloadTableExport",
        "summary": "Download Table Export",
        "description": "Return a short-lived signed download URL for a completed table export.\n\nThe export must have reached the `completed` status. An export still processing, or one that failed or was canceled, returns `409` naming the current status. An export whose generated file is no longer available — the retention window elapsed, or the object was purged — returns `404` (`Export file is no longer available`), not `410`.",
        "tags": ["Tables"],
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "description": "Unique table-export identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
[...]
