{
  "openapi": "3.1.0",
  "info": {
    "title": "Sim API v2 — Files & Audit Logs",
    "description": "Version 2 of the Sim REST API for workspace files, resumable uploads, public shares, and organization audit logs.",
    "version": "2.0.0",
    "contact": {
      "name": "Sim Support",
      "email": "help@sim.ai",
      "url": "https://www.sim.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://www.sim.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Create, upload, download, organize, share, and delete workspace files."
    },
    {
      "name": "Audit Logs",
      "description": "Query the organization audit trail with Enterprise authorization."
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "oauthBearer": []
    }
  ],
  "paths": {
    "/api/v2/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List Files",
        "description": "List workspace files with search, sorting, folder filtering, and opaque cursor pagination. Defaults to active files; pass `scope=archived` to page over soft-deleted ones. A workspace folder tree over 10,000 folders is a `413`.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.list",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose files should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace whose files should be listed."
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to files inside this folder — its direct children, or its whole subtree when `recursive` is true. A path that names no folder narrows the result to nothing, so the response is an empty page rather than an error.",
            "schema": {
              "description": "Restrict results to files inside this folder — its direct children, or its whole subtree when `recursive` is true. A path that names no folder narrows the result to nothing, so the response is an empty page rather than an error.",
              "$ref": "#/components/schemas/FolderPathInput"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "description": "Whether the folder filter includes files in subfolders. Defaults to true when a search is set, false otherwise, so listing a folder shows that folder while searching one looks through everything in it. Ignored when no folder filter is set, which already spans the workspace. The listed spellings are the whole accepted vocabulary and are case-sensitive; any other value is rejected.",
            "schema": {
              "description": "Whether the folder filter includes files in subfolders. Defaults to true when a search is set, false otherwise, so listing a folder shows that folder while searching one looks through everything in it. Ignored when no folder filter is set, which already spans the workspace. The listed spellings are the whole accepted vocabulary and are case-sensitive; any other value is rejected.",
              "enum": [
                "true",
                "1",
                "yes",
                "on",
                "y",
                "enabled",
                "false",
                "0",
                "no",
                "off",
                "n",
                "disabled"
              ],
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Which lifecycle set to list: `active` (default) for live files, `archived` for files a delete soft-deleted. `folderPath` resolves against active folders only, so pairing it with `scope=archived` returns an empty page when the containing folder was archived too.",
            "schema": {
              "default": "active",
              "description": "Which lifecycle set to list: `active` (default) for live files, `archived` for files a delete soft-deleted. `folderPath` resolves against active folders only, so pairing it with `scope=archived` returns an empty page when the containing folder was archived too.",
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the file name.",
            "schema": {
              "description": "Case-insensitive substring match against the file name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
            "schema": {
              "default": "uploadedAt",
              "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
              "type": "string",
              "enum": ["name", "size", "uploadedAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum files per page. Values outside 1–1000 are truncated and clamped into that range rather than rejected. Defaults to 100.",
            "schema": {
              "description": "Maximum files per page. Values outside 1–1000 are truncated and clamped into that range rather than rejected. Defaults to 100.",
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workspace files.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createFile",
        "summary": "Create File",
        "description": "Create a workspace file from inline UTF-8 or base64 content. Use an upload session for streamed or larger files.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.create",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Inline content and placement for a new workspace file.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads": {
      "post": {
        "operationId": "createFileUpload",
        "summary": "Create File Upload",
        "description": "Create a resumable upload session and receive either a signed PUT URL or multipart instructions.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.upload.create",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "File metadata required to create an upload session.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created upload session and transfer instructions.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}": {
      "get": {
        "operationId": "getFileUpload",
        "summary": "Get File Upload",
        "description": "Read an upload session's current state — whether it is still accepting bytes, has finalized into a file, or has failed. Use it to decide whether an interrupted transfer can be resumed or should be abandoned. Like every other upload control leg it requires the signed upload token, and is re-authorized against the workspace on each call.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.upload.read",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the upload session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the upload session."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current upload-session state.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "abortFileUpload",
        "summary": "Abort File Upload",
        "description": "Abort an active upload session and release provider-side multipart state.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.upload.cancel",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the upload session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the upload session."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The aborted upload session.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}/parts": {
      "post": {
        "operationId": "createFileUploadPartUrls",
        "summary": "Create File Upload Part URLs",
        "description": "Create signed URLs for a bounded set of multipart upload part numbers.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.upload.parts",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the upload session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the upload session."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Multipart part numbers requiring signed URLs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileUploadPartUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed URLs for the requested upload parts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileUploadPartUrlsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/uploads/{uploadId}/complete": {
      "post": {
        "operationId": "completeFileUpload",
        "summary": "Complete File Upload",
        "description": "Finalize uploaded bytes, verify provider state, and begin atomic workspace-file registration.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.upload.complete",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "description": "Upload session identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Upload session identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the upload session.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the upload session."
            }
          },
          {
            "name": "upload-token",
            "in": "header",
            "required": true,
            "description": "Signed upload control token returned when the upload session was created.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Signed upload control token returned when the upload session was created."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The completed or finalizing upload session.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/text": {
      "get": {
        "operationId": "readFileText",
        "summary": "Read File Text",
        "description": "Extract text from stored file bytes without modifying the file; use `POST /api/v2/files/{fileId}/unzip` to unpack archives. Unsupported types return `400` and point to raw-byte download; generated documents still compiling return `409`, and files above the extraction ceiling return `413`. `degraded: true` means extraction was incomplete or synthesized from raw bytes and is not authoritative; legacy `.doc` and `.ppt` extraction may return this best-effort result. `truncated` means a parser limit stopped extraction.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.read_content",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the file."
            }
          },
          {
            "name": "maxBytes",
            "in": "query",
            "required": false,
            "description": "Optional ceiling on the source bytes fed to the parser, lowering but never raising the server limit.",
            "schema": {
              "description": "Optional ceiling on the source bytes fed to the parser, lowering but never raising the server limit.",
              "type": "integer",
              "minimum": 1,
              "maximum": 26214400
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "First line to return, 1-based. Absent starts at the first line.",
            "schema": {
              "description": "First line to return, 1-based. Absent starts at the first line.",
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many lines to return from `offset`. Absent reads to the end.",
            "schema": {
              "description": "How many lines to return from `offset`. Absent reads to the end.",
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The extracted text and its extraction-quality flags.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileTextResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/bulk-download": {
      "get": {
        "operationId": "bulkDownloadFiles",
        "summary": "Bulk Download Files",
        "description": "Stream files as a zip. Provide comma-separated file IDs and folder paths; folders expand recursively, and unmatched paths are rejected. Each parameter and the resolved selection allow at most 100 entries, with bytes bounded. Oversized selections return `400`; downloads record an audit event. `HEAD` skips the effect but uses `GET` authorization, returning `400`, `401`, `403`, or `404`, or an empty `200` with no payload headers; confirms access only. `HEAD` omits `Content-Length`; use file metadata to size downloads.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.download",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace containing the selection.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace containing the selection."
            }
          },
          {
            "name": "fileIds",
            "in": "query",
            "required": false,
            "description": "File identifiers to include, comma-separated. At most 100 entries.",
            "schema": {
              "description": "File identifiers to include, comma-separated. At most 100 entries.",
              "type": "string"
            }
          },
          {
            "name": "folderPaths",
            "in": "query",
            "required": false,
            "description": "Folder paths to include with all their descendants, comma-separated. At most 100 entries, and the files they resolve to count against the same 100-file download ceiling. A path that matches no folder is rejected rather than ignored.",
            "schema": {
              "description": "Folder paths to include with all their descendants, comma-separated. At most 100 entries, and the files they resolve to count against the same 100-file download ceiling. A path that matches no folder is rejected rather than ignored.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The selected files as a zip archive.",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/Content-Disposition"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/unzip": {
      "post": {
        "operationId": "unzipFile",
        "summary": "Unzip File",
        "description": "Unzip a `.zip` archive into a new sibling folder, creating workspace files and returning only counts and the destination path. Use `GET /api/v2/files/{fileId}/text` to read text; page `GET /api/v2/files?folderPath=...` to inspect unpacked files. Large archives can take minutes. Only one unzip per archive may run; concurrent attempts return `409`. Archives above the size ceiling or operations exceeding their time budget return `413`.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.extract_archive",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope for the archive.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnzipFileBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Counts and destination folder for the unpacked archive.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUnzipResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download File",
        "description": "Download current file bytes. Generated documents use compiled artifacts, returning `409` while compiling and `413` above the rendered-size ceiling. Downloading records an audit event. `HEAD` skips the effect but uses `GET` authorization, returning `400`, `401`, `403`, or `404`, or an empty `200` with no payload headers; confirms access only. `HEAD` omits `Content-Length`; use file metadata to size downloads.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.download",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The file bytes.",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/Content-Disposition"
              },
              "Content-Length": {
                "$ref": "#/components/headers/Content-Length"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteFile",
        "summary": "Delete File",
        "description": "Archive a workspace file. This is a soft delete: the file stops appearing in the default listing and is no longer readable through the API, but its stored bytes are never removed. Archiving an already-archived file is a `404`, not a no-op. List archived files with `GET /files?scope=archived`, and reverse the delete with `POST /files/{fileId}/restore`.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.delete",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2DeleteFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "renameFile",
        "summary": "Rename File",
        "description": "Rename a workspace file without changing its containing folder.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.rename",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and new file name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The renamed file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/restore": {
      "post": {
        "operationId": "restoreFile",
        "summary": "Restore File",
        "description": "Reverse a soft delete and return the file to the workspace. Not a pure undo: the file comes back at the workspace root, and gains a `_restored` suffix when another file there already holds its name, so read `folderPath` and `name` off the response. Restoring an already-active file returns it unchanged, so a retry is safe. An archived workspace is a `400`, and a name the restore could not free is a `409`.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.restore",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope for the archived file.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The file as it exists after the restore.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2RestoreFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/metadata": {
      "get": {
        "operationId": "getFile",
        "summary": "Get File Metadata",
        "description": "Return file metadata together with the nullable current public-share state.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.read_metadata",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the file."
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Which lifecycle set to read from: `active` (default) resolves live files only and returns `404` for a file a delete soft-deleted; `archived` also resolves soft-deleted files, so metadata stays readable before the file is restored. Authorization is identical for both.",
            "schema": {
              "default": "active",
              "description": "Which lifecycle set to read from: `active` (default) resolves live files only and returns `404` for a file a delete soft-deleted; `archived` also resolves soft-deleted files, so metadata stays readable before the file is restored. Authorization is identical for both.",
              "type": "string",
              "enum": ["active", "archived"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File metadata and public-share state.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileMetadataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/audit-logs": {
      "get": {
        "operationId": "listAuditLogs",
        "summary": "List Audit Logs",
        "description": "List an organization audit trail with filters and opaque cursor pagination. Requires an Enterprise subscription and organization admin or owner access. Workspace API keys return `403`; use a personal API key or appropriately scoped OAuth token.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "audit_logs.list",
        "x-oauth-scope": "api:read",
        "tags": ["Audit Logs"],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "description": "Filter by exact action name.",
            "schema": {
              "description": "Filter by exact action name.",
              "type": "string"
            }
          },
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "description": "Filter by resource type. Accepts a comma-separated set; members are trimmed and deduplicated, and member order affects neither the result nor the cursor.",
            "schema": {
              "description": "Filter by resource type. Accepts a comma-separated set; members are trimmed and deduplicated, and member order affects neither the result nor the cursor.",
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "Filter by exact resource identifier.",
            "schema": {
              "description": "Filter by exact resource identifier.",
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": false,
            "description": "Filter to actions in one workspace.",
            "schema": {
              "description": "Filter to actions in one workspace.",
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Only include runs started at or after this UTC ISO 8601 timestamp, e.g. `2026-08-06T00:00:00Z`. A date without a time, or a timestamp carrying a UTC offset instead of `Z`, is rejected, as is year `0000`, which names no storable instant.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
              "description": "Only include runs started at or after this UTC ISO 8601 timestamp, e.g. `2026-08-06T00:00:00Z`. A date without a time, or a timestamp carrying a UTC offset instead of `Z`, is rejected, as is year `0000`, which names no storable instant."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Only include runs started at or before this UTC ISO 8601 timestamp, e.g. `2026-08-06T00:00:00Z`. A date without a time, or a timestamp carrying a UTC offset instead of `Z`, is rejected, as is year `0000`, which names no storable instant.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
              "description": "Only include runs started at or before this UTC ISO 8601 timestamp, e.g. `2026-08-06T00:00:00Z`. A date without a time, or a timestamp carrying a UTC offset instead of `Z`, is rejected, as is year `0000`, which names no storable instant."
            }
          },
          {
            "name": "includeDeparted",
            "in": "query",
            "required": false,
            "description": "Include actions by users who have left the organization.",
            "schema": {
              "description": "Include actions by users who have left the organization.",
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum audit entries to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
            "schema": {
              "default": 50,
              "description": "Maximum audit entries to return per page. Must be a whole number from 1 to 100. Defaults to 50.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
            "schema": {
              "description": "Opaque cursor from the previous page. Send it back with the same sort and filters; only `limit` may change. Change anything else and pagination must restart without a cursor.",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "description": "Organization whose audit trail should be queried. Defaults to the caller's own organization when omitted. A caller that belongs to no organization, or that names one it is not a member of, is refused with a 403.",
            "schema": {
              "description": "Organization whose audit trail should be queried. Defaults to the caller's own organization when omitted. A caller that belongs to no organization, or that names one it is not a member of, is refused with a 403.",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "actorEmail",
            "in": "query",
            "required": false,
            "description": "Filter by actor email address.",
            "schema": {
              "description": "Filter by actor email address.",
              "type": "string",
              "format": "email",
              "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of audit-log entries.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AuditLogListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/audit-logs/{auditLogId}": {
      "get": {
        "operationId": "getAuditLog",
        "summary": "Get Audit Log",
        "description": "Return one organization audit-log entry. Requires an Enterprise subscription and organization admin or owner access. Workspace API keys return `403`; use a personal API key or appropriately scoped OAuth token.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "audit_logs.read_detail",
        "x-oauth-scope": "api:read",
        "tags": ["Audit Logs"],
        "parameters": [
          {
            "name": "auditLogId",
            "in": "path",
            "required": true,
            "description": "Audit-log entry identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Audit-log entry identifier."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "description": "Organization whose audit-log entry should be returned. Defaults to the caller's own organization when omitted. A caller that belongs to no organization, or that names one it is not a member of, is refused with a 403.",
            "schema": {
              "description": "Organization whose audit-log entry should be returned. Defaults to the caller's own organization when omitted. A caller that belongs to no organization, or that names one it is not a member of, is refused with a 403.",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested audit-log entry.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2AuditLogResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/move": {
      "post": {
        "operationId": "moveFileItems",
        "summary": "Move Files",
        "description": "Move up to 1,000 files to a canonical folder path or the workspace root.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.move",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Files and destination selected for a bulk move.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveFileItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Count of moved files.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2MoveFileItemsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/share": {
      "get": {
        "operationId": "getFileShare",
        "summary": "Get File Share",
        "description": "Return the nullable current public-share configuration for a file. A file that has never been shared returns `data: null` rather than a 404; a share that was created and later disabled is still returned, with `isActive: false`.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.share.read",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace that owns the file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace that owns the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current nullable file-share state.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2GetFileShareResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "upsertFileShare",
        "summary": "Enable or Disable File Share",
        "description": "Create or partially update a server-tokenized public share. Only `isActive` is required; each other field states what enabling a mode does to it. Enabling any mode other than `public` on a file that has never been shared must carry its credential in the same request. Workspace API keys return `403`; use a personal API key or appropriately scoped OAuth token.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.share.update",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Desired public-share state and access policy.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertFileShareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated file share.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2UpsertFileShareResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/{fileId}/content": {
      "patch": {
        "operationId": "editFileContent",
        "summary": "Edit File Content",
        "description": "Modify part of a text file; `PUT` on this path replaces the whole file. `search_replace` requires one exact match unless `replaceAll` is true. The anchored modes match trimmed complete lines: replacement preserves both boundaries, insertion preserves its anchor, and deletion removes the start but preserves the end. Use `occurrence` for repeated anchors. Non-UTF-8 files return `400`. Concurrent writes return `409`; re-read before retrying.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.update_content",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and the change to apply.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditFileContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The edited file and its new line count.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2EditedFileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "put": {
        "operationId": "updateFileContent",
        "summary": "Replace File Content",
        "description": "Replace the complete contents of an existing file from UTF-8 or base64 input.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.update_content",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "File identifier."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workspace scope and complete replacement content.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated file.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/search": {
      "get": {
        "operationId": "searchFileContent",
        "summary": "Search File Content",
        "description": "Search indexed text in active workspace files and return matching lines with file IDs and line numbers. `folderPaths` limits both results and the coverage reported by `complete` and `indexStatus`. Because indexing is asynchronous, a missing term is unknown rather than absent when `complete` is false. `truncated` means additional matches exist beyond `maxResults`.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.search_content",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace to search.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace to search."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Regular expression, or exact text when `mode` is `exact`.",
            "schema": {
              "type": "string",
              "description": "Regular expression, or exact text when `mode` is `exact`.",
              "minLength": 3,
              "maxLength": 512
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "How `query` is read.",
            "schema": {
              "default": "regex",
              "description": "How `query` is read.",
              "type": "string",
              "enum": ["exact", "regex"]
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "description": "Maximum matching lines to return.",
            "schema": {
              "default": 50,
              "description": "Maximum matching lines to return.",
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "folderPaths",
            "in": "query",
            "required": false,
            "description": "Folders the search is confined to, comma-separated. Absent searches the whole workspace. The scope also narrows `indexStatus`, so `complete` describes the folders searched rather than the workspace.",
            "schema": {
              "description": "Folders the search is confined to, comma-separated. Absent searches the whole workspace. The scope also narrows `indexStatus`, so `complete` describes the folders searched rather than the workspace.",
              "type": "string"
            }
          },
          {
            "name": "includeSubfolders",
            "in": "query",
            "required": false,
            "description": "Whether the scope descends into nested folders. Absent means yes. The listed spellings are the whole accepted vocabulary and are case-sensitive; any other value is rejected.",
            "schema": {
              "description": "Whether the scope descends into nested folders. Absent means yes. The listed spellings are the whole accepted vocabulary and are case-sensitive; any other value is rejected.",
              "enum": [
                "true",
                "1",
                "yes",
                "on",
                "y",
                "enabled",
                "false",
                "0",
                "no",
                "off",
                "n",
                "disabled"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching lines and the index coverage they were drawn from.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2FileSearchResultsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/bulk-delete": {
      "post": {
        "operationId": "bulkDeleteFiles",
        "summary": "Delete Files",
        "description": "Delete up to 1,000 workspace files in one operation. This is the same soft delete as `DELETE /api/v2/files/{fileId}`: files are archived, not erased, and `POST /api/v2/files/{fileId}/restore` reverses each one.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.delete",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Workspace and files selected for deletion.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Count of deleted files.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDeleteFilesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v2/files/folders": {
      "get": {
        "operationId": "listFilesFolders",
        "summary": "List Folders",
        "description": "List workspace file folders with optional parent-path filtering and sorting. Pass `scope=archived` to list folders a recursive `DELETE` soft-deleted, which is how a caller finds a path to hand to `POST /api/v2/files/folders/restore`. The bounded set is returned in one page; `nextCursor` is always null.\n\nOAuth scope: `api:read`.",
        "x-sim-operation": "files.folders.list",
        "x-oauth-scope": "api:read",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace whose folders should be listed.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace whose folders should be listed."
            }
          },
          {
            "name": "parentPath",
            "in": "query",
            "required": false,
            "description": "Restrict results to direct children of this parent path. A path that names no folder narrows the result to nothing, so the response is an empty page rather than an error.",
            "schema": {
              "description": "Restrict results to direct children of this parent path. A path that names no folder narrows the result to nothing, so the response is an empty page rather than an error.",
              "$ref": "#/components/schemas/FolderPathInput"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the folder name.",
            "schema": {
              "description": "Case-insensitive substring match against the folder name.",
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
            "schema": {
              "default": "name",
              "description": "Field used to sort the result. Sorting by `name` is case-sensitive and follows the storage collation, so do not rely on a case-insensitive order.",
              "type": "string",
              "enum": ["name", "createdAt", "updatedAt"]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "default": "asc",
              "description": "Sort direction.",
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Which lifecycle set to list: `active` (default) returns live folders only; `archived` returns folders a recursive delete soft-deleted, which is how a caller finds a path to hand to the folder restore. Authorization is identical for both.",
            "schema": {
              "default": "active",
              "description": "Which lifecycle set to list: `active` (default) returns live folders only; `archived` returns folders a recursive delete soft-deleted, which is how a caller finds a path to hand to the folder restore. Authorization is identical for both.",
              "type": "string",
              "enum": ["active", "archived"]
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "description": "Whether parentPath includes every descendant instead of direct children only.",
            "schema": {
              "description": "Whether parentPath includes every descendant instead of direct children only.",
              "enum": [
                "true",
                "1",
                "yes",
                "on",
                "y",
                "enabled",
                "false",
                "0",
                "no",
                "off",
                "n",
                "disabled"
              ],
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "description": "Deepest level below parentPath to include when recursive is true.",
            "schema": {
              "description": "Deepest level below parentPath to include when recursive is true.",
              "type": "integer",
              "minimum": 1,
              "maximum": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace file folders.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileFolderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createFilesFolder",
        "summary": "Create Folder",
        "description": "Create a canonical folder path in a workspace.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.folders.create",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Workspace and canonical path for a new folder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileFolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "relocateFilesFolder",
        "summary": "Rename or Move Folder",
        "description": "Rename or move a folder and atomically rewrite descendant canonical paths.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.folders.update",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "requestBody": {
          "required": true,
          "description": "Current and destination canonical paths for a folder.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelocateFileFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The relocated folder.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileFolderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesFolder",
        "summary": "Delete Folder",
        "description": "Delete a folder, optionally including every nested file and folder.\n\nOAuth scope: `api:write`.",
        "x-sim-operation": "files.folders.delete",
        "x-oauth-scope": "api:write",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "Workspace containing the folder.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "description": "Workspace containing the folder."
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path of the folder to delete.",
            "schema": {
              "description": "Path of the folder to delete.",
              "$ref": "#/components/schemas/NonRootFolderPathInput"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "description": "Delete the folder's nested files and folders too. An empty folder deletes either way; a non-empty one needs this. The listed spellings are the whole accepted vocabulary and are case-sensitive; any other value is rejected.",
            "schema": {
              "description": "Delete the folder's nested files and folders too. An empty folder deletes either way; a non-empty one needs this. The listed spellings are the whole accepted vocabulary and are case-sensitive; any other value is rejected.",
              "enum": [
                "true",
                "1",
                "yes",
                "on",
                "y",
                "enabled",
                "false",
                "0",
                "no",
                "off",
                "n",
                "disabled"
              ],
              "default": "false",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deletion confirmation and deleted item counts.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
[...]
